[2020-09-09 11:21] PowerVANO commented on #166
@cronicc Created PRs for "zen" and "zend_oo".

[2020-10-12 08:46] cronicc commented on #166
PR merged, thanks @PowerVANO!

@angievi HDE bounty can be paid.

[2020-10-12 08:46] #166 closed, assigned to nobody

[2020-10-12 10:30] cronicc opened #328 "Review all RPC call help messages"
All `zen-cli help "command"` messages should ideally include:
1. The command and it's possible arguments
2. A general description of what the command does
3. A list of all arguments, their types and if they're mandatory or optional
4. A result of the expected output of the command, if the result would be too long, an excerpt can be provided
5. A usage example using zen-cli
6. A usage example using

[2020-10-15 06:41] #219 closed, assigned to nobody

[2020-10-15 22:55] heyJonBray commented on #328
Easy enough!

[2020-10-16 23:38] heyJonBray commented on #328
Has any specific schema (broader than the example above) been used for cli doctext up to this point?
If not is it alright if I define one as I go through the RPC calls?

[2020-10-19 18:32] #230 closed, assigned to cronicc

[2020-10-19 18:32] #322 closed, assigned to nobody

[2020-10-19 18:49] cronicc commented on #328
@heyJonBray I'm not aware of a spec/schema, there might be something in the Bitcoin upstream source or in BTC PR/Issue comments.
In general, the majority of the RPC help messages are inherited from both Bitcoin and Zcash. And we'd like to stay consistent with the upstream format. Creating a schema based on the existing commands would be greatly appreciated.

[2020-10-27 14:42] seperatis opened #340 "cb-no-community-fund ERROR message"
When trying to set up my mining pool to support mining Horizen, I am getting the following error when submitting a block.

`error cb-no-community-fund`

Can anyone tell me what this error means and how to possibly correct this? I'm looking forward to adding Zen mining to my pool.

Thanks everyone!

[2020-10-27 17:39] cronicc commented on #340
Hi @seperatis

in Horizen every coinbase transaction has to include vouts that send 20% of the block reward to the community fund address, 10% of the rewards to the secure node address and 10% of the reward to the super node address.

An example of how this is handled in node-stratum-pool can be found here https://github.com/s-nomp/node-stratum-pool/blob/b36b7792aec3a85b9e5fd03c0798d97c7eb445a1/li

[2020-10-27 17:43] seperatis commented on #340
Thank you! Closing this.

[2020-10-27 17:43] #340 closed, assigned to nobody

[2020-10-29 02:21] ruyichang opened #343 "There has no any other minner on testnet chain?"
Hello ,this days I tested hard fork via testnet,I found that there is no other minner except me，and I cannot observe any difference in the block data before and after block 735700,Is that ok?
            https://explorer-testnet.zen-solutions.io/block/00000aaf0b72c3a7fbdb48a6c7cf5fb5f055807865b20aeda9853e95ed5e1b4a

[2020-10-29 12:00] cronicc commented on #343
Hi @ruyichang,

thank you for testing the hard fork.

Not observing a difference in blocks after the fork activation height is expected. https://github.com/HorizenOfficial/zen/blob/master/src/zen/forks/fork7_replayprotectionfixfork.cpp fixes a very rare edge case in OP_CHECKBLOCKATHEIGHT handling, in normal circumstances blocks generated by older versions of zend would still be compatible after th

[2020-10-29 16:41] minzak opened #344 "zend: wallet/wallet.cpp:694: void ..."
With the new zend v2.0.22 version I found this bug:

[code]

[2020-10-30 02:32] ruyichang commented on #343
Thank you @cronicc ,I got that and take my minner away~

[2020-10-30 02:32] #343 closed, assigned to nobody

[2020-10-30 11:20] heyJonBray commented on #328
@cronicc That's where I've started, with BTC and Zcash. I will document alongside updates with any relevant schema definitions I think are helpful without reinventing the wheel. Thanks for the update.

[2020-10-30 13:47] heyJonBray commented on #328
I am beginning work on this today.

[2020-10-30 18:47] cronicc commented on #344
Hi @minzak
it looks like you've run into a known bug with shielded transactions that is unrelated to the v2.0.22 release.

Starting zend with the `-reindex` flag should fix this, but the reindex will take some time.

Please let us know if reindexing resolves the issue.

[2020-10-30 19:02] minzak commented on #344
Thsnks.

[2020-10-30 19:02] #344 closed, assigned to nobody

[2020-11-04 09:09] ruyichang opened #346 "RPC time out"
Hi,Recently, I have found that time out frequently appears in both GeblockTemplate and Submit.

 Server responded with code: 500.

 And my node hardware configuration is 8c 16G.

Is there an option to optimize Time Out in the zen.conf configuration file? Thank you.

[2020-11-04 14:54] cronicc commented on #346
Hi @ruyichang

setting higher values with the following options can help with RPC performance.
[code]

Additionally disabling the wallet on the stratum node zend instance can help with improving performance.
[code]

[2020-11-05 01:38] ruyichang commented on #346
@cronicc Thank you, i'll try this options and i want to try -blockmaxsize/-blockprioritysize/-blockmaxcomplexity to avoid too much TXs in a block.Do you have any good suggestions about TXs and block size？

[2020-11-09 11:25] albertog78 opened #347 "Reindex performance issue"
Reindex operation seems really slow even compared to full download. We should verify if reindex is also performing the whole consistency checks even if the chain is synced after a checkpoint (during download such checks are not performed if a checkpoint was present). For backward compatibility, an option would be to introduce a new switch (eg. fast_reindex) that skips the "heavy" checks before che

[2020-11-10 12:38] cronicc opened #349 "'getblocktemplate' RPC call not logged to debug.log with -debug=rpc"
When debugging a mining pool software implementation I wanted to find out how often 'getblocktemplate' was called over RPC. But these calls are not logged to debug.log.
https://github.com/HorizenOfficial/zen/blob/2a5e4bc40180bbcb72a0fdc003a52b6812301d98/src/rpc/server.cpp#L515-L517

It seems excluding block generation template related RPC calls from that logprint goes back to early commits of bitc

[2020-11-10 13:34] cronicc commented on #346
Hi @ruyichang

if you're using s-nomp/node-stratum-pool, the first performance optimization I'd suggest to you would be to enable blocknotify (https://github.com/s-nomp/s-nomp#optional-recommended-setting-up-blocknotify), and then disable block polling or increase the polling interval.

With the default config s-nomp polls the stratum daemon over RPC for updated blocktemplates every half second. I

[2020-11-11 00:52] hashbender commented on #346
Creating an empty job + block template to mine during the initial GBT for a new height is about the best you can do.

[2020-11-16 07:12] ruyichang commented on #346
@cronicc @nitronick600 Got that, thanks.

[2020-11-25 06:09] #346 closed, assigned to nobody

[2020-12-02 02:28] heyJonBray commented on #328
Having trouble when pushing to development branch, VS Code seems to only want to let me do pull request to the main branch.
Have my forked repo with all the pretty RPC help text, all the rows are perfectly aligned and in it's local branch #328; have main repo set as upstream.

- Should be able to git checkout #328,
- sign commit; squash & merge
- git push origin development
Correct?

I've tried in

[2020-12-03 17:55] sport83 commented on #328
The command and it's possible arguments
A general description of what the command does
A list of all arguments, their types and if they're mandatory or optional
A result of the expected output of the command, if the result would be too long, an excerpt can be provided
A usage example using zen-cli
A usage example using JSON-RPC (curl)
After RPC calls that need improvement have been identified a PR

[2020-12-03 18:13] monikrk opened #351 "Problem with Let's Encrypt certificate"
When updating the certificate through let's encrypt it is not accepted by the zend daemon as you can see with the command "zen-cli getnetworkinfo".

    "tls_cert_verified": false,

I note that the following differences exist between the old certificate that worked properly and the new one:

old

    Signature Algorithm: sha256WithRSAEncryption
        Issuer: C = US, O = Let's Encrypt, CN = Let's

[2020-12-03 18:51] psyraxaus commented on #351
Yes it is.

Due to changes at LetsEncrypt the intermediate certificate must be replaced and updated on each node that is using LetsEncrypt certificates (default if installed from the official guide) when it is renewed.

Nodes should be updated prior to their next automatic certificate refresh to prevent down time.

Follow the steps in these INSTRUCTIONS <https://horizenofficial.atlassian.net/wiki/

[2020-12-03 19:26] monikrk commented on #351
Works like a charm.

Thanks for the answer. :+1:

[2020-12-03 19:36] psyraxaus commented on #351
Happy to hear you are back up and running without exception.  I will go ahead and resolve this issue.

[2020-12-03 19:38] #351 closed, assigned to nobody

[2020-12-12 01:56] heyJonBray commented on #328
@cronicc Just about completed everything, hectic few weeks. I just want to ensure all of the help text strings are lined up in the correct columns and one last check that the same verbiage is being used throughout the RPC calls where applicable.

The most recent bitcoin uses an RPC-Helper function to make parsing of args, examples, etc, very very straightforward. After manually going through every

[2020-12-12 02:14] heyJonBray commented on #328
I could use some clarification regarding nomenclature of ZEN denominations.

I couldn't find a reference anywhere in the documentation or academy as to whether or not the smallest denomination of ZEN is a "satoshi". The faucet refers to the integer amount of ZEN received in "zennies", but all RPC calls (including ones that had strings correctly updated from "BTC" to "ZEN") and other comments throu

[2020-12-12 11:56] cronicc opened #352 "Coinbase transactions are only indexed if their outputs have been spent as inputs of a new tx"
If an address has only ever received coinbase transactions, it is not indexed by the block explorer.

Early testnet blocks are a good example of this:
https://explorer-testnet.zensystem.io/block/00143a02152cf0cf3b6cbb3d211f51d748c5dbd433c2033bbcafd60402582874 - 12.5 zen going to address ztWuqiGBEHkKSMBgbrbzTZbHudPzY2jE4x8
https://explorer-testnet.zensystem.io/address/ztWuqiGBEHkKSMBgbrbzTZbHudPzY2

[2020-12-16 03:17] hzccc opened #353 "Is there a way to parse an encrypted transaction into a transparent transaction?"
I can't ask in Discord. So.. I have to ask questions in here.
Is there any way to get information about encrypted transactions? Such as the address sent and received and the amount of the transaction

[2020-12-22 15:20] abi87 commented on #234
@cronicc you may remember that following release 2.0.22 we improved the call ordering of some dtors which could cause a crash like the one described here.
You mentioned this crash happened around twice a month. Has this crash reoccurred already post release 2.0.22? Thanks

[2020-12-22 18:27] lander86 commented on #328
Hello @heyJonBray , you cannot directly push on our repo. To make it work you need to set your forked repo as upstream (on your new branch). Once done that, please commit and push to your forked repo what you locally have done and then you should be able to open a pull request directly from the Github web interface in your forked repo branch page. The pull request will then be from your repo (http

[2021-01-02 12:25] okaits opened #354 "How to set Solver thread"
How can you set Solver thread?

[2021-01-11 09:58] cronicc commented on #353
No, this information is private in fully shielded transactions.

[2021-01-11 10:00] cronicc commented on #354
With the miner integrated in zend you can set the threads with the
[code]
switch.

[2021-01-11 10:04] cronicc opened #355 "Update OpenSSL dependency"
Although not affected by [CVE-2020-1971](https://cve.mitre.org/cgi-bin/cvename.cgi?name=2020-1971) as we don't use CRLs/OCSP in zend, we should still update OpenSSL with the next zend release.

[2021-01-23 17:52] muberraa commented on #328
Hey there, is this test still open?

[2021-01-24 07:55] Rocket-Harbor-420 commented on #328
Remote Procedure Call (RPC) is a protocol that one program can use to request a service from a program located in another computer on a network without having to understand the network's details. RPC is used to call other processes on the remote systems like a local system. A procedure call is also sometimes known as a function call or a subroutine call.

RPC uses the client-server model. The requ

[2021-01-26 10:22] hzccc opened #356 "Signed transaction failed to be sent, does Zen have an example of signing? What parameters are required"
Signed transaction failed to be sent, does Zen have an example of signing? What parameters are required

[2021-01-27 19:05] cronicc commented on #356
@hzccc how are you trying to sign a transaction? In general our BIP-115 replay protection introduced some changes to transaction signing vs zcash/bitcoin transparent transactions.

We have a Javascript library that fully supports P2PKH and P2SH transaction signatures here https://github.com/HorizenOfficial/zencashjs.

[2021-01-28 02:45] #356 closed, assigned to nobody

[2021-02-01 11:06] ptagl opened #360 "Unit tests fail in debug mode"
### Description
Some unit tests fail when compiled with the `--enable-debug` flag.

### Steps to reproduce
1. Compile the Zen code with the `--enable-debug` flag
2. Run the unit tests: `./src/zen-gtest`
3. Some tests fail

### Expected behavior
No test should fail.

### Failing tests:
_**wallet_zkeys_tests.write_cryptedzkey_direct_to_db**_
`Assertion failed: lock cs_wallet not held in wallet/walle

[2021-02-05 12:17] #354 closed, assigned to nobody

[2021-02-05 12:17] #353 closed, assigned to nobody

[2021-02-05 12:22] cronicc commented on #234
@abi87 we haven't seen the issue since https://github.com/HorizenOfficial/zen/pull/330 was merged, looks like it was conclusively fixed.

[2021-02-05 12:22] #234 closed, assigned to nobody

[2021-02-06 02:31] heyJonBray commented on #328
I believe the original fork was from development, at which point when I made changes I had branch ~heyJonBray/zen/issue_328
Knowing that it should be upstream, I should have no issue now.

Just two questions, and I'm hoping to send the pull request Monday or Tuesday!!!

1. Regarding nomenclature, what is the smallest denomination of ZEN? The faucet refers to zennies, but nowhere else is this state

[2021-02-11 20:31] minzak opened #364 "unable to verify the first certificate"
On https://securenodes1.na.zensystem.io/nodes/mynodes - i can see this error:

`unable to verify the first certificate`

Ок, I renew to one next from here:
https://www.ssl2buy.com/wiki/alphassl-intermediate-root-ca-certificates
https://letsencrypt.org/ru/certificates/ (https://letsencrypt.org/certs/trustid-x3-root.pem.txt)

Fully redeploy Node and nothing (
Still the same error. What is wrong?
How

[2021-02-11 20:41] minzak commented on #364
Move to NDT - https://github.com/HorizenOfficial/nodetracker/issues/104

[2021-02-11 20:41] #364 closed, assigned to nobody

[2021-02-12 16:56] angievi commented on #328
Hello @heyJonBray

1. Yes, our official name is zennies for the smallest denomination
2. It would be too much for this PR and we don't think we would make a change like this at this point. Please provide your contribution with what you have so far and we will review it and come back to you!

[2021-02-15 16:00] cronicc opened #366 "Debug transient error on blockdelay.py test"
We're seeing a transient error on the MacOS test worker in https://github.com/HorizenOfficial/zen/blob/cabf249d3716730c7a7268c3f4ec2816154004cb/qa/rpc-tests/blockdelay.py PR https://github.com/HorizenOfficial/zen/pull/348

[code]

[2021-03-08 01:45] luisantoniocrag commented on #328
Hey @angievi  @cronicc  is this task available?

I started working on #369

As I am learning about Horizen and its RPC commands, I had a good idea to start with this bounty. So I make sure I learn it well =)

[2021-03-08 15:10] angievi commented on #328
Hello @luisantoniocrag , yes this task is still available. Please provide your report within the next 2 weeks as ETC, then we will review it and come back to you with feedback. thanks!

[2021-03-08 15:15] angievi commented on #328
Hi @heyJonBray we haven't heard from you in the last weeks. Currently, this issue has been claimed by another community member, ETC is two weeks. We will let you know if this issue becomes available once again. Thanks for contributing to HDE!

[2021-03-10 17:48] heyJonBray commented on #328
@angievi Damn. Please do let me know if it is available again as I'm ready to send the pull request at a moment's notice.
I spent a significant amount of time ensuring that formatting was the same across all commands and that help columns were aligned for a more pleasant viewing experience. I just completed the task prior to checking the status here; I had initially worked off the wrong fork and p

[2021-03-11 10:54] PowerVANO commented on #328
Hey @heyJonBray

There are no other bounties yet at the HDE portal, but we will soon be publishing more.

[2021-03-14 02:56] luisantoniocrag commented on #328
Hey @angievi  @PowerVANO My PR is ready to review =) https://github.com/HorizenOfficial/zen/pull/369

[2021-03-15 10:10] PowerVANO commented on #328
Hey @luisantoniocrag

Thanks. Please wait for the review and feedback.

[2021-03-25 23:22] cronicc commented on #355
A last minute update has to be included in 2.0.23, see [CVE-2021-3450](https://mta.openssl.org/pipermail/openssl-announce/2021-March/000198.html).

[2021-03-26 15:01] cronicc commented on #355
Closed with https://github.com/HorizenOfficial/zen/commit/e109c9ae9395048febb23d41420665371bfe927b

[2021-03-26 15:01] #355 closed, assigned to nobody

[2021-03-26 15:02] cronicc commented on #347
Closed with https://github.com/HorizenOfficial/zen/commit/e109c9ae9395048febb23d41420665371bfe927b

`-reindexfast` added addressing this issue

[2021-03-26 15:02] #347 closed, assigned to abi87, alsala

[2021-03-28 17:44] Rocket-Harbor-420 commented on #328
this is a review of some of the commands that we could use on the sphere terminal

zen-cli -  getinfo

Returns an object containing various state info.

Result:

{

"version": xxxxx, (numeric) the server version

"protocolversion": xxxxx, (numeric) the protocol version

"walletversion": xxxxx, (numeric) the wallet version

"balance": xxxxxxx, (numeric) the total Zcash balance of the wallet

"block

[2021-04-09 16:48] gastonpb commented on #328
Hi is there any easy task to do here? i am new and i need some income

[2021-04-17 19:03] luisantoniocrag commented on #328
Hey @PowerVANO  =)

what is the revision status of my PR ?

[2021-04-20 08:42] PowerVANO commented on #328
Hey @luisantoniocrag
Our tech team has been super busy recently. Please wait a bit more for the review process to get completed.

Also, please note that we have changed currency on HDE from ZEN to USD. Your contribution will still be paid in ZEN according to the previous pricing though.

[2021-05-07 13:23] cronicc commented on #366
Fixed in https://github.com/HorizenOfficial/zen/pull/348/commits/75f88c3e52ef16ee60c5924258c5abb99e05b2e0

[2021-05-07 13:23] #366 closed, assigned to cronicc

[2021-05-11 20:42] dgoker555 commented on #328
Klass!!!

[2021-05-14 16:16] luisantoniocrag commented on #328
@PowerVANO  yeah!! the PR was merged!

https://github.com/HorizenOfficial/zen/pull/369

[2021-05-14 16:38] cronicc opened #380 "Rebase https://github.com/HorizenOfficial/zen/tree/review_rpc_call_msgs onto AddressIndexing_development"
Create a separate branch + PR of [review_rpc_call_msgs](https://github.com/HorizenOfficial/zen/tree/review_rpc_call_msgs) rebased onto [AddressIndexing_development](https://github.com/HorizenOfficial/zen/tree/AddressIndexing_development) for the next scheduled zend release. Also review/fix the AddressIndexing specific RPC help messages at that time.

[2021-05-15 06:34] PowerVANO commented on #328
@cronicc Thank you for your help throughout this!

@luisantoniocrag Please fill in the claim bounty form in HDE for 25 ZEN.

@heyJonBray Please fill in the claim bounty form in HDE for 1 ZEN. Even though it is not much, we want to pay a small amount as a sign of our gratitude for your work.

[2021-05-15 12:52] luisantoniocrag commented on #328
Filled @PowerVANO

Thank you!

[2021-05-19 19:12] #328 closed, assigned to nobody

[2021-06-10 04:15] heyJonBray commented on #328
@PowerVANO This is such a great team, even 1 ZEN for being a part of helping the issue is generous still and much appreciated! Looking forward to more contributions after finishing a current project.

[2021-06-12 02:31] heyJonBray commented on #328
@PowerVANO Looking for the bounty claim form, tried finding the info through the GitHub contribution process workflow on HDE portal at: https://hde.horizen.io/landing-page/bounty-payout-policy
However, the page is broken and only displaying raw HTML, do not see claim form there.

[2021-06-14 07:52] PowerVANO commented on #328
@heyJonBray Yes, we are fixing the website.
Claim bounty form is here: Click your avatar on HDE website and scroll down a bit:

![image](https://user-images.githubusercontent.com/19184636/121857787-03f84700-cd07-11eb-85ee-e6e3af6dd4c1.png)

[2021-07-17 09:25] yixiao5428 opened #383 "Possible privacy leakage due to ordered transaction inputs"
This is a security vulnerability.
The wallet uses ordered inputs of transactions (`src/wallet/wallet.cpp`, [line 2766 - 2772](https://github.com/HorizenOfficial/zen/blob/master/src/wallet/wallet.cpp#L2766-L2772)), which may incur privacy risks like fingerprinting the wallet to observers.

A possible solution is to clear the original order, shuffle it, and push back the new order before signing the

[2021-07-17 09:26] yixiao5428 opened #384 "A newly appended block header should not build on an invalid chain"
This is a security vulnerability.

Currently, a new header descendant from an invalid block is still accepted.

A possible solution is to get the ancestor of the block, check the validity of the block indexes, and return error is failed, in the `AcceptBlockHeader()` function of `src/main.cpp` after [line 3714](https://github.com/HorizenOfficial/zen/blob/master/src/main.cpp#L3714).

Similar fix fro

[2021-07-17 09:27] yixiao5428 opened #385 "Do not connect a corrupted block"
This is a security vulnerability.

In the `ConnectBlock()` function of `src/main.cpp`, it misses the check for whether the block is corrupted or not. If the block is corrupted, it should be abort immediately, otherwise it will repeat trying to connect the corrupted block.

A possible solution is to add a corruption check inner the `if` statement of [line 2341](https://github.com/HorizenOfficial/ze

[2021-07-17 09:27] yixiao5428 opened #386 "Disconnect stalling peers after timeout of header sync"
This is a security vulnerability.

Though we have a detection for block download stalling in `SendMessages()` of `src/main.cpp` at [line 6380](https://github.com/HorizenOfficial/zen/blob/master/src/main.cpp#L6380), the timeout for header sync remain unchecked.

This check should be also added to the `SendMessages()` function, and disconnect the stalling peer after timeout.

Similar fix from Bitcoi

[2021-07-17 09:28] yixiao5428 opened #387 "Disconnect outbound peers on the invalid chain"
This is a security vulnerability.

Currently, the outbound peers on incompatible chains may use up outbound connection slots (the `ProcessMessage()` function in `src/main.cpp`). If the block header is valid, but the block is known to be invalid, and the peer announces the same block as being on its active chain, the peer should be disconnected.

A possible solution is to check whether the first in

[2021-07-22 15:26] koe12 opened #388 "How do i withdraw my earned ZEN from my Zen wallet ?"
How do i withdraw my earned ZEN from my Zen wallet ?

_Originally posted by @WNIOhai in https://github.com/HorizenOfficial/zencash-mobile/issues/114#issuecomment-774137595_

[2021-08-02 09:02] PowerVANO commented on #328
This one has been completed already.

[2021-08-03 10:24] cronicc commented on #387
Hi @yixiao5428

I'm using this to respond for all the issues you've opened. First of all thank you for reporting them. We're currently focused on a major delivery of [zend_oo](https://github.com/HorizenOfficial/zend_oo) and there is no further release planned from this repository. We will address all of the issues on the zend_oo repository in the coming weeks.

[2021-08-17 12:31] debasish22 opened #389 "Fees not involved in Json Structure"
Block - 946957

TransactionHashes :
258ac0a7701d8fe3a7f86cfcdabe971d6710ad447db7d66125fd5777803f9137
efbbfb4808972baf400e272be7edf53a87e95ef07f15acad98397edfdf6b32ef
8f89f9fe7b025f3c0cbf5b1131b1b8b66b3ef95b84d1257b8393b385d4e3930a
eb7572eb7104735f36094590ef6f1793b283c583160d0eb4797f6c198d34ce74

From  the above hashes when we sum up all the Vins and Vouts there is a difference of the fees which is

[2021-08-31 13:29] cronicc commented on #349
addressed in https://github.com/HorizenOfficial/zend_oo/pull/173

[2021-08-31 13:29] #349 closed, assigned to nobody

[2021-09-30 08:05] bimmerv opened #390 "Certificate has expired"
Hi.
Today I received emails, that two my nodes had status:` Certificate has expired `(in UI)
I checked certificates on my nodes and letsencrypt said:
[code]
But
`zen-cli getnetworkinfo`
said:
`  "tls_cert_verified": false`

I have checked the path to certificates, restart zend but nothing helps.
Can someone help me to debug this issue?
Thanks

[2021-09-30 08:54] kiliansitel commented on #390
Hi,

I think this issue is due to https://letsencrypt.org/docs/dst-root-ca-x3-expiration-september-2021/

DST Root CA X3 will expire on September 30, 2021. That means those older devices that don’t trust ISRG Root X1 will start getting certificate warnings when visiting sites that

[2021-09-30 09:07] cronicc commented on #390
https://zen-solutions.io/how-to-fix-r3-expired-lets-encrypt-certificates-on-nodes/

[2021-09-30 09:07] #390 closed, assigned to nobody

[2021-09-30 11:00] bimmerv commented on #390
thanks guys! your links resolved my problem!

[2021-10-05 22:23] paintballrefjosh opened #395 "API call "getnetworkinfo" returns help command output instead as an error"
### Describe the issue
On all of my nodes when using the API with the command "getnetworkinfo" via curl it returns what appears to be the "help getnetworkinfo" output under the "error" value in the JSON string.

### Can you reliably reproduce the issue? YES
#### If so, please list the steps to reproduce below:
1.  curl --user myuser --data-binary '{"jsonrpc": "1.0", "id":"curltest", "method": "get

[2021-10-06 06:33] fabioganga opened #396 "apt cache not updating only with Zen repo"
## Describe the issue
As suggested in the official Telegram channel, I am reporting this strange issue which is affecting me.

I am running an Ubuntu 18.04.3 VPS on Intel x64 architecture (Intel  Xeon D-1540 8c / 16t).

After having followed all the steps to add the official Horizen repo and updating the apt cache, I get

root@s0:/# apt-get install zen -y
Reading package lists... Done
Building dep

[2021-10-06 09:51] cronicc commented on #395
Hi, I just tested the command with curl and it works
[code]

In your example you have `"params": [5]`, please make sure params is an empty array as getnetworkinfo takes no arguments.

[2021-10-06 10:03] cronicc commented on #396
Hi, lets make sure you've correctly added the apt repo and clear the package cache.

Please do the following:
[code]

[2021-10-06 11:21] fabioganga commented on #396
Hi @cronicc and thanks so much for your quick reply.

I run the commands you gave me, which were accepted successfully, apart from the gpg keys step which comes up with the following result:

root@s0:~# gpg --batch --keyserver ha.pool.sks-keyservers.net --recv 219F55740BBF7A1CE368BA45FB7053CE4991B669 || \

gpg: keyserver receive failed: No name
gpg: keyserver receive failed: No name
gpg: key FB705

[2021-10-06 11:23] fabioganga commented on #396
For your own information, I am also running a test on a separate VPS server, on exactly the same hardware, but with Ubuntu 20 rather than Ubuntu 18.

That environment is fine, zend is installed nicely and runs.

The issue seems to be affecting, in my case, only Ubuntu 18.

Thanks

[2021-10-06 13:00] cronicc commented on #396
I've just tried with a bionic docker container and all works fine there.

Did you get any errors when running `apt-get update`?
Please make sure you've also installed `ca-certificates` as this is needed for https to work with apt.

`apt-get policy zen` should show the zen package as well.

[2021-10-07 02:15] paintballrefjosh commented on #395
Thanks Cronicc.  I did verify mine is working now.  Not sure how the "5" got in there but you are correct.  Sorry for the false alarm.

[2021-10-07 02:15] #395 closed, assigned to nobody

[2021-10-09 04:28] fabioganga commented on #396
@cronicc

My apologies for the delay in replying.

You'd never believe it... I accidentally had downloaded and installed a 32 bit installation template instead of a 64 bits one for my VPS.

I rebuilt it as a 64 bit and it works seamlessly as it should.

Many thanks for your support, much appreciated buddy!

Kind Regards,
Fabio

[2021-10-09 14:12] cronicc commented on #396
I could have noticed the  i686 output in uname as well, but glad you solved it.

[2021-10-09 14:12] #396 closed, assigned to nobody

[2021-10-11 04:00] vae520283995 opened #397 "When to push the new version of the docker image"

[2021-10-11 07:21] cronicc commented on #397
Now available https://hub.docker.com/layers/zencash/zen-node/v2.0.24/images/sha256-ec60f58468e6f31cd4bd22af4ee4b79f746077f37159e4a7d00e432e2760d410?context=explore

[2021-10-11 07:21] #397 closed, assigned to nobody

[2021-10-12 09:17] room101-dev opened #398 "New Version v2.0.24"
No warning about upgrade to ubuntu 18 when running 'apt update/upgrade', just silent fail

Stay's at zend ver 23

Once you 'force' a ubuntu upgrade to 'bionic'  ( 16.0 to 18.0 forced 'push/pull' operation ), multiple forced requests required.

Then the 'apt upgrade' finds the new version, only after the (/etc/sources) zen.list files are edited to bionic. 'sed /.../bionic/g zen.list'

Past document

[2021-10-12 09:48] cronicc commented on #398
Hi @room101-dev , the apt repo has been updated and does include 2.0.24. We've clearly stated in our email that support for older distributions has been discontinued, which could be why you're not seeing v2.0.24 after doing an apt-get update.

[2021-10-12 10:08] #398 closed, assigned to nobody

[2021-10-12 10:08] room101-dev commented on #398
closed

[2021-11-02 06:25] debasish22 opened #399 "upgrading from 2.0.23 to 2.0.24 is causing issues"
This is the first time i have got this issue with horizen node . So below is the folder structure i have

node-horizen (Parent folder)

docker-compose.yaml
node-horizen-dockerfile- entrypoint.sh  dockerfile
docker-compose.yaml

change in dockerfile - ARG version=2.0.24-bitcore and then sudo docker build .

Then i get the below errors. Please find screenshots attached. Any help here please
<img wid

[2021-11-02 09:16] cronicc commented on #399
Hi @debasish22

SKS Keyservers are gone now, you'll have to use different servers to fetch the keys, see https://unix.stackexchange.com/questions/656205/sks-keyservers-gone-what-to-use-instead.

I recommend using keys.openpgp.org (where I have verified my key, so the identity signing zend releases is available there) or keyserver.ubuntu.com which still seems to be working.

[2021-11-04 16:57] NightDog commented on #399
Then I'd kindly suggest someone update the commands at: https://horizenofficial.github.io/repo/ they still point to that keyserver. Just hit this myself :)
Edit: And the suggestion of using keys.openpgp.org worked perfectly btw.

[2021-11-04 17:11] cronicc commented on #399
@NightDog done https://github.com/HorizenOfficial/repo/commit/a21d921c8df55e31267d8927bff0eaaf7c61a735

[2021-11-06 15:12] NateBoogie24 commented on #399
sudo apt-get install \
      build-essential pkg-config libc6-dev m4 g++-multilib \
      autoconf libtool ncurses-dev unzip git python \
      zlib1g-dev bsdmainutils automake curl

[2021-11-06 19:36] NateBoogie24 opened #400 "Can't find my wallet zen"

[2021-11-17 05:25] vae520283995 opened #402 "[bug] v3.0.0 No information available about transaction"
Some transactions cannot be obtained after upgrading to v3.0.0

requset
[code]
v2.0.24
return
[code]

v3.0.0
return
[code]

[2021-11-17 05:26] vae520283995 commented on #402
@cronicc help

[2021-11-17 08:13] cronicc commented on #402
Hi @vae520283995 , is the node running with txindex=1?

[2021-11-17 08:44] vae520283995 commented on #402
[code]
[code]
@cronicc Only the docker image version is different, the others are the same

[2021-11-17 15:10] cronicc commented on #402
Thanks for the report @vae520283995, we have reproduced the issue and will fix it in a new release shortly.

[2021-11-17 21:26] cronicc commented on #402
@vae520283995 https://github.com/HorizenOfficial/zen/releases/tag/v3.0.1 has been released that should fix the issue, also available as a docker container https://hub.docker.com/layers/zencash/zen-node/v3.0.1/images/sha256-03f16d07e0d64b78a27acb2b95999edd71b3028a57f36663dd0cc8fca776a52a?context=repo.

Please kindly report back if your issue is fixed by v3.0.1.

[2021-11-18 02:24] vae520283995 commented on #402
v3.0.1 works fine

[2021-11-18 02:24] #402 closed, assigned to nobody

[2021-11-18 10:38] rtdegraaf opened #408 "Zend not starting after upgrade from 2.0.24 tot 3.0.1"
After upgrading ZEN via apt the zend.service wont start. Journalctl is showing:

-- Unit zend.service has begun starting up.
Nov 18 11:22:01 zen zend[3515]: Zen server starting
Nov 18 11:22:01 zen systemd[1]: zend.service: Can't open PID file /home/ronald/.zen/zend.pid (yet?) after start: No such file or directory
Nov 18 11:23:32 zen systemd[1]: zend.service: Start operation timed out. Terminating

[2021-11-19 09:43] PowerVANO commented on #402
Hi @vae520283995

Due to the significance of the bug you reported, we would like to award you with a bounty of $1000 in ZEN. Please submit the claim here: https://hde.horizen.io/account/claim-bounty

[2021-11-19 09:49] vae520283995 commented on #402
@PowerVANO
I have no similar experience, can you tell me how to do it?

[2021-11-19 10:04] vae520283995 commented on #402
Please ignore, I have already submitted

[2021-11-19 14:32] PowerVANO commented on #402
Hi @vae520283995

I received it, thanks! Please check your email, we need some additional information from you for the bounty processing as well.

[2021-11-19 14:35] #399 closed, assigned to nobody

[2021-11-19 14:35] #400 closed, assigned to nobody

[2021-11-19 14:36] #380 closed, assigned to cronicc

[2021-11-19 14:36] #182 closed, assigned to nobody

[2021-11-19 14:44] cronicc commented on #408
Hi @rtdegraaf

please run this
[code]

If you see `v3.0.1 NOT supported` printed on the console your CPU is too old to install the packages provided by the APT repository. For that case we're providing alternative packages on github for legacy CPUs. To install please run the following:
[code]

[2021-11-19 15:38] rtdegraaf commented on #408
Thanks @cronicc, that worked, great! The zend service is up and running again. :)

[2021-11-19 15:42] #408 closed, assigned to nobody

[2021-11-19 16:35] vae520283995 commented on #402
I have already replied, please check

[2021-11-23 03:09] vae520283995 commented on #402
@PowerVANO I have received the bounty, thank you

[2021-11-23 16:42] PowerVANO commented on #402
Thank you very much for your contribution as well, @vae520283995!

[2021-11-26 08:57] solopool opened #409 "Incorrect balance at 3.0.1"
Negative balance of the default account after update from 2.0.24. Rescan didn't solve the issue.

On 3.0.1
[code]

Return to 2.0.24
[code]

[2021-11-27 18:32] cronicc commented on #409
@solopool the issue should be fixed in https://github.com/HorizenOfficial/zen/releases/tag/v3.0.2

[2021-11-28 08:12] solopool commented on #409
Resolved. Works fine.

[2021-11-28 08:12] #409 closed, assigned to nobody

[2021-11-30 10:35] christianreiss opened #421 "Unable to build / bzip issues"
### Describe the issue
Source does not build in a fresh, clean installation of AlmaLinux (Redhat, CentOs...)

### Can you reliably reproduce the issue?
Yes.

#### If so, please list the steps to reproduce below:
1.  Install a fresh CentOS/RedHat/AlmaLinux/RockyLinux 8
2.  Update to current, install required dev packages.
3. Try building.

### Expected behaviour
I have a zend binary.

### Actual be

[2021-11-30 11:30] cronicc commented on #421
Hi @christianreiss

It would be very helpful for debugging if you could provide a Dockerfile based on https://hub.docker.com/_/almalinux with all build dependencies installed so that we can replicate your environment. Although we strive for wide compatibility it's not always possible to test all environments.

[2021-11-30 12:20] PowerVANO commented on #409
Hi @solopool

Due to the significance of the bug you reported, we would like to award you with a bounty of $1000 in ZEN. Please submit the claim here: https://hde.horizen.io/account (Click "Claim a Bounty" button at the end of the page and fill in the form).

[2021-11-30 12:40] PowerVANO commented on #409
@solopool Requested additional info. Please check your email.

[2021-11-30 13:25] solopool commented on #409
@PowerVANO We are doing the same. We don't need a award. Just do it. 👍

[2021-11-30 14:22] christianreiss commented on #421
Hey,

thanks  for replying. I wrote this not-nice but working Dockerfile:

[code]

Which works flawles. Wait, wait? Yes, it does. I can reproduce the error on a clean installation in a clean vm (failing) but its working in docker. Both systems have a different cpu tho. One (vm) needs legacy-cpu, the other (docker) does not. I will try running the docker file on the legacy-cpu server and report.

[2021-11-30 15:27] christianreiss commented on #421
No, the docker-file runs perfectly fine on any vm or baremetal I throw it at. Running pretty much the same commands in a fresh installation fails, tho.

[2021-12-01 11:23] PowerVANO commented on #409
@solopool That's very nice from you! Thank you very much for supporting Horizen!

[2021-12-02 15:34] benzmuircroft opened #422 "getnewaddress error code: -32601 error message: Method not found (disabled)"
### Describe the issue
On Ubuntu 20 (a vps)
I updated my zend and zend-cli to the latest binaries (they were working 100% before grabbing the pre compiled new ones)
Then after I restart the daemon
`zen-cli getnewaddress`
I get:

error code: -32601 error message: Method not found (disabled)

I have checked the blockhash on my getblockcount and gone to your official explorer and the hash is seen as

[2021-12-02 16:53] benzmuircroft commented on #422
download this https://github.com/HorizenOfficial/zen/releases/download/v3.0.2/zen-3.0.2-amd64.deb
I bet the person who pre compiled it accidentally used `./configure --disable-wallet`

[2021-12-02 17:16] lander86 commented on #422
Hello @benzmuircroft, thank you for reporting.
In your debug.log it seems that you is running the node with the -disable-wallet parameter = 1.

`2021-12-02 15:14:57 Horizen version v3.0.2 (2021-11-27 15:04:44 +0000)
2021-12-02 15:14:57 AppInit2 : parameter interaction: -prune -> setting -disablewallet=1
2021-12-02 15:14:57 Prune configured to target 2048MiB on disk for block and undo files.`

Coul

[2021-12-02 18:05] benzmuircroft commented on #422
@lander86

/home/ZEN/data/zen.conf:

[code]

[2021-12-02 18:06] benzmuircroft commented on #422
I've just compiled source but there is no change

from here https://github.com/HorizenOfficial/zen/archive/refs/tags/v3.0.2.zip

[2021-12-02 18:13] benzmuircroft commented on #422
even if I force the daemon to **not** disable wallet like:

`/home/ZEN/data/zend -datadir=/home/ZEN/data -daemon -disable-wallet=0`

nothing changes

[2021-12-02 18:45] lander86 commented on #422
Hello again @benzmuircroft .

In your zen.conf there is "prune=2048". Prune parameter is the one that causes the wallet to be disabled. Unfortunately you can not use "prune" parameter or zend will not properly work.
After that you will comment out or remove the "prune" parameter, you will also need to run a reindex.

[2021-12-02 19:00] benzmuircroft commented on #422
thanks @lander86

[2021-12-02 19:08] benzmuircroft commented on #422
**Feedback:** please consider fixing the prune feature as in my case I am running a large application where I do need one instance of zen pruned whereas other instances I need to be full nodes.

[2021-12-03 17:48] benzmuircroft opened #423 "signmessage just prints help (And per the help I'm doing exactly as I am suppose to do)"
On ubuntu 20 vps server I try to sign a message

`zen-cli signmessage "znV2QVNqPUPWY9EtZZgErVf7SSQrjxBgdJJ" "ZEN is awesome 23472"`

and it prints this
[code]

**Zend Version**
Zen Daemon version v3.0.2

**Useful details**

 `zen-cli listaddresses`
[
  "znRXaNMvAAEcx33AEy2VYfAugEfDkFCENqw",
  "znRyZF75PVhmFPayvScSCAoqvcKrN1KZccj",
  "znS6VktBNnQ5ucTDtwDP5Qgz5hZ28j6D4Es",
  "znSqvFVK5ReyEaJYqV4wHBo

[2021-12-06 11:32] lander86 commented on #423
Hello @benzmuircroft ,

the error that you get is usually thrown when the number of the parameters is incorrect.
Could you please attach the debug log here ?
Could you also tell us if you is running that command from a terminal onboard of the VPS or from external ? It could be a matter of escaping characters or double quotes.

Thanks

[2021-12-06 11:41] #422 closed, assigned to nobody

[2021-12-06 12:17] benzmuircroft commented on #423
I'm ssh to the VPS from my Ubuntu laptop via terminal

debug.log:

[code]

Thanks

[2021-12-06 16:29] lander86 commented on #421
Hello @christianreiss ,

i've tried to reproduce the issue with an AlmaLinux 8.5 VM.
The kernel version was 4.18.0-348.2.1.el8_5.x86_64
gcc version 8.5.0 20210514 (RedHat 8.5.0-4)
CPU : SkyLake (Cofee lake)
Ram : 16Gb

I've not encountered any issue during the build. Could you please tell me how have you installed the dependencies ? Maybe it could be related to something missing or to awrong versi

[2021-12-06 16:59] lander86 commented on #423
Have you imported that wallet ? Can you check if you have there the private keys for that address ? It could also be that you is missing the private keys and that's why you cannot sign.

In the meantime i will take a look to the logfile.

Thanks

[2021-12-06 17:06] benzmuircroft commented on #423
The key is not imported, I did create this address using this wallet and can confirm it has the private key.

[2021-12-06 17:15] lander86 commented on #423
Just to double check, if you run "zen-cli dumpprivkey YOURADDRESS" are you able to export your private key ?

[2021-12-06 18:35] benzmuircroft commented on #423
yes I can dumpprivkey
It works good!

[2021-12-07 10:51] christianreiss commented on #421
I will keep debugging this on my end. The fact that neither you nor the Dockerfile could force the issue is odd.
I will close this ticket; if the issue is found to be upstream I will re-open this ticket again.

[2021-12-08 07:48] CharesFang opened #427 "Backports from Bitcoin"
We recently investigated the Bitcoin issues which are related to privacy protection, vulnerability patches, or security enhancements. We have also checked the `repoName` source code. Results show that these issues and their PRs are not backported yet. Henceforth, we suggest that `repoName` should backport the PRs listed below for the considerations of software security and integrity.

- [ ] Bitcoi

[2021-12-08 09:21] g00dnatur3 opened #428 "You all broke mining with 3.X version"
before the 3.0 change, mining was cool, i was mining blocks for YEARS no problem

now i cant mine ANY blocks.. i get this error

2021-12-01 11:33:53 [Pool]	[horizen] (Thread 3) rpc error with daemon instance 0 when submitting block with submitblock {"code":-22,"message":"Block decode failed"}

i even tried deleting my blockchain and had it completely re-download and sync... and STILLL i have this

[2021-12-08 13:51] benzmuircroft commented on #423
My bad there were hidden variables, I din't look properly, probably too tired.

[2021-12-08 13:51] #423 closed, assigned to nobody

[2021-12-09 10:08] lander86 commented on #428
Hello @g00dnatur3,

with 3.X release we've introduced some important changes and upgrades.
Have you already read the guide we created for mining ?
[Zend to Zendoo upgrade ShortGuide v1.4 – Mining Pools](https://downloads.horizen.io/file/web-assets/Zend_to_Zend_oo_Mining_Pools_v1.4.pdf)
I suggest to take a look in particular to the section "Typical steps needed to forge a block".

You can also take

[2021-12-09 10:24] lander86 commented on #421
Thank you for the feedback. I'm then going to close this ticket.
Please feel free to re-open it should you need further support or should you discover anything new.

[2021-12-09 10:24] #421 closed, assigned to nobody

[2021-12-10 14:47] g00dnatur3 commented on #428
Hi,
i got it working again, sorry for getting a little upset, but you messing with my money yo :)

i installed your latestest binary for legacy cpu, re-synced the blocked chain from scratch, and installed your version of the stratum pool found here: `HorizenOfficial/node-stratum-pool`

thanks for your help.

[2021-12-10 15:12] lander86 commented on #428
Hi @g00dnatur3,

i'm happy to hear that everything is back to work and that the issue is now solved.
No worries, we're happy to help.

[2021-12-10 15:12] #428 closed, assigned to nobody

[2022-01-13 13:05] CharesFang commented on #427
- [ ] Bitcoin [PR#14341](https://github.com/bitcoin/bitcoin/pull/15305) should also be backported from my view. Though I didn't see the completely same functions in Bitcoin-SV (function declaration and its implementations may be different), the way of Bitcoin to handle abnormal Node crash should be referenced.

[2022-01-17 06:17] CharesFang commented on #427
Bitcoin [PR#13907](https://github.com/bitcoin/bitcoin/pull/13907) should also be backported to prevent unlimited growing size of `locator`, see code [here](https://github.com/HorizenOfficial/zen/blob/master/src/main.cpp#L7175).

[2022-01-30 15:54] bungul123 opened #433 "Hh"

[2022-01-30 15:57] bungul123 opened #434 "zen"

[2022-02-19 00:15] WurdahMekanik opened #436 "Can we get an actual dependency list instead of apt-get command?"
I'm trying to build on Arch Linux, but the build is failing for some reason that I can't quite figure out (GCC build errors being notoriously unhelpful and all)

I suspect that I'm just missing a dependency or have a wrong version of something, but I can't tell what's actually needed, since the dependency list isn't truly a dependency list, and is really just an apt-get command to be run under Ubu

[2022-03-08 14:50] ghost opened #438 "tls_cert_verified: false Zen Super Node"
### Describe the issue
A Zen super nodes TLS certificate is not valid anymore out of the blue five days ago. No changes were done to the server since the 3.0.3 update.

There is no useful information to be found in the logs.

Super node tracker says: "certificate has expired"

In the debug.log multiple messages are seen as the node connects:
TLS: connection to [hidden]:9033 has been established (t

[2022-04-11 14:59] minzak opened #449 "zend: wallet/wallet.cpp:709 ... failed"
On the Zen 3.1 and 3.0.3 I sometimes got errors and after that daemon exited (and service restart it) and it is all cycled.
[code]
How to correct resolve it?
Or in this place need bug fix?

Thanks.

[2022-04-11 15:02] minzak commented on #449
https://github.com/HorizenOfficial/zen/issues/344

Same solutions?
What is the best way? rescan wallet or run with fresh chaindata?

[2022-04-11 19:14] ptagl commented on #449
Hi @minzak, removing the chain data and starting from scratch would probably work but it takes a lot of time.

I suggest you to try the following steps as a quicker workaround (assuming that you Zen data folder is `~/.zen`):

1. Rename "blocks" and "chainstate" folders `mv ~/.zen/blocks ~/.zen/blocks_backup; mv ~/.zen/chainstate ~/.zen/chainstate_backup`
2. Run zend to remove all wallet transactio

[2022-04-11 20:55] minzak commented on #449
Hi @ptagl just need some clarifications in steps.

In 2 steps what will be with the wallet - I think after that balance will be 0 because no chains with transactions and hashes to calculate the final balance. What is lefts from the wallet after that step?

Step 2 needed for chaindata? But that data is needed format and data. Also, I can quickly restore a valid chain from the "reference" node. Does

[2022-04-12 08:10] ptagl commented on #449
Yes, after step 2 the wallet will be "empty" due to `-zapwallettxs`, so zend would need to sync all the blocks to restore the right wallet balance.

Since syncing from network would take days, I suggested to restore the previous blockchain data (step 3) and then request a fast reindex so that the wallet cache can be rebuilt in the proper way.

Currently wallet cache of notes (shielded amounts) is

[2022-04-19 15:54] ptagl opened #450 "TLS misspelled in log file"
### Describe the issue
Some log strings in the `TLSManager` class seem to be misspelled, for instance:

`2022-04-19 14:03:55 TSL: ERROR: socket recv Connection reset by peer (104)`

### Expected behaviour
In the debug log file `TLS` should be printed in place of `TSL`.

### The version of Zen you were using:
3.1.0

[2022-04-20 08:30] minzak commented on #449
Still testing this way, but messages like:
`LoadBlocksFromExternalFile: Processing out of order header, child 000000008c1a6329e7de36077a6e7d1710ce99226f0284c212e39bbbac58ed80 of 00000000745aabc84e10f27083eb2b281b376e0479fefb796ff63d22d8e7f567`

Still Appears a long time. More than 10h

And chainstate folder was wiped - it is normal?

[2022-04-21 10:12] minzak commented on #449
Hm, my current quick way is:

1. Remove DB CHain
2. Run node with -zapwallettxs=1 -rescan
3. Restore DB Chain
4. Run node with -rescan

It is more quickly, against making some changes in DB Chain.
I hope It is will be enough to never see strings with wallet.cpp )

[2022-04-21 10:12] #449 closed, assigned to nobody

[2022-05-23 13:27] #434 closed, assigned to nobody

[2022-05-23 13:27] #433 closed, assigned to nobody

[2022-05-26 09:15] ptagl commented on #438
Hi @krilson, sorry for the late reply. I guess it might have been a temporary issue and it's been solved now. If that's the case, feel free to ignore my answer and I'll be closing the issue in the next few days. On the other hand, if it's still actual, may you please directly contact our Support Center on Discord? Our colleagues will be able to help you out!

[2022-05-26 09:43] ptagl commented on #436
Hi @WurdahMekanik, sorry for the late reply. I like your suggestion, I think it's a good idea to include in our documentation a list of dependencies (similar, for instance, to the one provided by [Bitcoin](https://github.com/bitcoin/bitcoin/blob/master/doc/dependencies.md)).

We are currently working on some [updates to the build system](https://github.com/HorizenOfficial/zen/pull/452), in order t

[2022-05-26 10:09] ptagl commented on #388
Hi @koe12, sorry for the late reply. I hope you already solved the issue with your wallet, if it's not the case, please, feel free to contact our Support Team on Discord, they will be happy to help you out!

[2022-05-26 10:09] #388 closed, assigned to nobody

[2022-06-06 15:50] ptagl commented on #389
Hi @debasish22, sorry for the late reply.

I guess that what you meant is that if you try to call the RPC command `getrawtransaction`, you get the list of inputs and outputs but there isn't any `fee` field and thus the computation has to be done manually.

If this is what you're asking, there is no way to include fees in `getrawtransaction` as it's intended to decode the "raw" transaction without

[2022-06-08 09:22] a-petrini commented on #360
All the following concerns unit test compiled in Debug mode.

`Mempool.TxInputLimit`, `Mempool.SproutV3TxFailsAsExpected` and `Mempool.SproutNegativeVersionTx` fail because `AcceptTxToMemoryPool()` requires the lock cs_main to be held by the caller function. This condition is checked by an the assert funciton `AssertLockHeld` that in Release mode has an empty body.
A possible fix has been proposed

[2022-06-08 09:30] a-petrini commented on #360
Tests `wallet_zkeys_tests.write_cryptedzkey_direct_to_db` and `keystore_tests.store_and_retrieve_spending_key_in_encrypted_store` fail because of an assertion in `potential_deadlock_detected()` and `push_lock()` of `src\sync.cpp`, which are defined only in Debug mode.
The order in which locks `cs_KeyStore` and `cs_SpendingKeyStore` are acquired is not consistent across the functions invoked in the

[2022-06-23 08:46] #389 closed, assigned to nobody

[2022-07-13 11:09] cronicc opened #460 "Curl examples missing in RPC help text for commands added with zendoo"
All of the `zen-cli help $command` messages should include examples for zen-cli as well as for curl.

Compare e.g.
[code]
with
[code]

[2022-07-24 23:12] CharesFang opened #462 "Backport from Bitcoin to Prevent Potential DoS Attack"
Pls check the **Bitcoin** [PR#14897](https://github.com/bitcoin/bitcoin/pull/14897/files) and its updates about the potential **DoS attack** on the Bitcoin/Zen nodes. We just checked the **Horizen** source code and found the same vulnerable `void CNode::AskFor(const CInv& inv)` function implementation in the path of `src/net.cpp`. Just from my opinion, the changes of [PR#14897](https://github.com/

[2022-08-07 17:11] joesixpack commented on #438
Seeing this on 3.1.0 and it has not been resolved for last 17 days.  Certificate isn't due to expire until next month.

A restart fixed it.  Annoying.

[2022-08-08 09:07] ptagl commented on #438
Hi @joesixpack, thanks for reporting, we'll resume the investigation of this issue given the new details you provided.

[2022-08-08 09:07] ptagl commented on #450
Fix ready, it will be included in the next release of Zen.

[2022-08-08 09:07] #450 closed, assigned to a-petrini

[2022-08-08 09:10] ptagl commented on #462
Hi @CharesFang, we'll take care of this issue as soon as possible together with the other backports you reported, thanks a lot!

[2022-08-08 09:12] psyraxaus commented on #438
There are a couple of common causes for the zend daemon still using an expired cert.

The first is because the zend daemon was started manually and the services that are created during the node install guide to renew the cert was not able to restart the zend daemon using the systemd service.

The second is if the cert itself has not been renewed because of an issue with the certbot renewal service

[2022-09-22 10:15] AndreaLanfranchi opened #466 "src::wallet::rpcwallet.cpp - Apply suggestions from #447 comments"
Some low hanging code improvements from [PR comments](https://github.com/HorizenOfficial/zen/pull/447#issuecomment-1253681692).

[2022-09-24 11:08] AndreaLanfranchi opened #468 "Innaccurate params size still reported (zcutil/fetch-params.sh)"
Booting  a node requires download params. [Reported estimate size of download is, at current figures, inaccurate](https://github.com/HorizenOfficial/zen/blob/master/zcutil/fetch-params.sh#L239): 911MB.
Just started a node and this actual size:

[code]

Zen Daemon version v3.1.0 on Linux

[2022-09-28 09:59] cronicc opened #475 "Size estimation for shielded transactions is not working correctly"
https://github.com/HorizenOfficial/zen/blob/530675d3e8cadf50685a781265549446829568bb/src/wallet/rpcwallet.cpp#L6207-L6208

[2022-09-30 08:10] JackPiri commented on #352
The issue is caused by missing support for P2PK transactions (hence no relation with coinbaseness or unspentness).

In particular, when retrieving the script  type:
https://github.com/HorizenOfficial/zen/blob/3aaeab91ea4608fbb3f92915d0ac588aafc0f2f2/src/main.cpp#L2585-L2594
only P2PKH and P2SH type are supported. This results in the transaction not being indexed at all.

Support for P2PK script ty

[2022-10-03 08:06] ptagl commented on #74
Fixed with release [3.2.0](https://github.com/HorizenOfficial/zen/releases/tag/v3.2.0).

[2022-10-03 08:06] #74 closed, assigned to nobody

[2022-10-03 08:08] ptagl commented on #436
List of dependencies is now available under [doc/dependencies.md](https://github.com/HorizenOfficial/zen/blob/master/doc/dependencies.md).

[2022-10-03 08:08] #436 closed, assigned to nobody

[2022-10-05 03:04] joesixpack commented on #438
Happened again two weeks ago.  Had to restart zend so it would recognize the certificate as valid again.  Certificate does not expire until Oct -- same as last time.  Just upgraded to zen 3.2.0 via apt but noticed the daemon didn't restart as the new version as expected. 🤔

[2022-10-05 03:23] psyraxaus commented on #438
That means that the services that were created during the initial setup for the supernode are not running correctly and restarting the zend daemon when the cert is renewed.

What is your linux flavour and version?
Please run `lsb_release -a`

And post the output, or if you would like to work through this issue in real time, please head over to our Discord server and look me up in the node support

[2022-10-08 00:48] joesixpack commented on #438
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 20.04.5 LTS
Release:        20.04
Codename:       focal

I'll take a look at the startup services.  I did notice theres no file in /etc/systemd/system so maybe its in the system directory which I can't remember the path of atm.

[2022-10-08 01:47] joesixpack commented on #438
I converted over to the snap version of certbot and updated the appropriate service file.  I bet that will do the trick!

[2022-10-11 07:54] JackPiri commented on #475
This bug is due to the fact the selection of joinsplits during transaction size estimation phase (`z_mergetoaddress` in `rpcwallet.cpp`) is actually different from that during transaction composition phase (`AsyncRPCOperation_mergetoaddress::main_impl` in `asyncrpcoperation_mergetoaddress.cpp`).
In particular, the composition is performed by chaining first 2 z_inputs in 1 z_output and then iterati

[2022-10-22 06:24] yangchou19 opened #482 "sender's zen is disappeared"
This issue tracker is only for technical issues related to Zen.

General Zen questions and/or support requests are best directed to the [Discord](https://horizen.io/invite/discord), or [Support Portal](https://support.horizen.io).

For reporting security vulnerabilities or for sensitive discussions with our security team, please see the [Bug Bounty Policy and Scope](https://horizenofficial.atlassi

[2022-10-22 12:57] AndreaLanfranchi commented on #482
Please help us to better understand the problem.
- you say you have deployed a full node on Linux: can you clarify if it was a test node or a main chain node ? Also was it in sync ? Can you share the exact command (with all arguments) you use to start the node ? And finally :  the node you're running is built by you from source code or you have downloaded the binary executable from somewhere?
- wh

[2022-10-24 07:07] yangchou19 commented on #482
Thank you for your answer, I will try my best to describe the problem.
1. I deployed a full node on Linux and it was a main chain node. And I build it from source code. I just use ./src/zend and create my zend.conf to run the node.
2. when I started the transaction from a sender to a receiver, I use zen-cli command `./zen-cli  z_sendmany sender '[{"address": "receiver", "amount": 0.003}]' `, and I

[2022-10-24 07:19] AndreaLanfranchi commented on #482
Thank you @yangchou19,
this is valuable info.  Please allow us to try reproduce the issue locally.
We'll be back to you.

[2022-10-24 20:59] hp8wvvvgnj6asjm7 opened #483 "./src/zend: No such file or directory"
I tried to build from source on 16.04 and this new version has no zend inside src. What happened? I built successfully.

[2022-10-24 21:01] #483 closed, assigned to nobody

[2022-10-24 21:10] hp8wvvvgnj6asjm7 opened #484 "to anyone: error: *** A compiler with support for C++17 language features is required"
i tried to install gcc 8 but it still doesn't work

GCC 8 on Ubuntu 16.04
[code]
gives 8.1.0 as of 2018-11. See also:

GCC 9 on Ubuntu 19.04
[code]

[2022-10-24 21:24] hp8wvvvgnj6asjm7 commented on #484
fixed using this:

[code]

[2022-10-25 10:18] ptagl commented on #482
Hi @yangchou19, there are at least a couple of things to clarify here:

1. The RPC command `z_sendmany` has an optional boolean parameter `sendChangeToSource` that is false by default. This means that whenever you have a **change** generated by this RPC command, the related output is **sent to a different address** to preserve privacy.  If you want the change to go to the same address that is send

[2022-10-26 08:27] #484 closed, assigned to nobody

[2022-11-02 13:51] #352 closed, assigned to JackPiri

[2022-11-02 13:51] JackPiri commented on #352
Closed by commit 82846eb9639b4111adb553bebec2e618f5b05188

[2022-11-03 13:56] room101-dev opened #487 "New Nodes loading blockchain with 'bootstrap' is Seriously Broken"
LOADING new block-chains from virgin state other than 'zend' scratch load ...

### Describe the issue

Creating new nodes is now a serious +5 day hassle, funny that there is no mention anywhere on the net. ( to get a 100% functional block chain running from virgin state )

### Expected behaviour
Should take about 1 day to do a 'zend' and get a new node running on average VPS.

### Actual behaviour

[2022-11-06 12:07] yangchou19 commented on #482
Thank you for Patience and your help, Your advice helped me to solve the problem😊.  I use the `z_gettotalbalance` get  the cumulative amount available on all addresses.

[2022-11-06 12:33] yangchou19 opened #488 "After restart my horizen node, command`z_listoperationids` returned null."
### Describe the issue
I just restarted the Horizen node today, when I used the command `./zen-cli z_listoperationids`, but it return nothing. Before I restarted it , I use it and will return some opid.

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1. I deployed a full node on Linux and it was a main chain node. And I build it from source code. I

[2022-11-12 15:24] goodthebest opened #490 "tAddress - transparent address"
void

[2022-11-13 08:02] #490 closed, assigned to nobody

[2022-11-14 10:04] AndreaLanfranchi opened #491 "Build using CLang (instead of GCC) is broken in development"
### Environment
- Ubuntu 20.04
- Branch : development
- Clang Ubuntu clang version 14.0.0-1ubuntu1 ( Target: x86_64-pc-linux-gnu; Thread model: posix; InstalledDir: /usr/bin)

### Reproducibile
Clone the project (use readme instructions) and start build with `./zcutil/build.sh --use-clang`.
The build stops at :
[code]
### Expected behavior
Build should complete using CLang/LLvm instead of GCC

[2022-11-16 10:10] ptagl commented on #475
Fix available on `development`, it will be included in the next release.

[2022-11-27 13:28] yangchou19 opened #492 "How can I use zen-cli to create a new account?"
### Describe the issue
I want to know how can I use zen-cli to create  a new account? I use `zen-cli -help`, but I didn't find any command to create a new account. Did anyone know it.

### The version of Zen you were using:
v3.2.0