[2017-06-10 19:24] tarrenj opened #4 "24 hour ban peers with out of date client versions."
### Describe the issue
Peers running out of date daemons should be banned for 24 hours.

### Any extra information that might be useful in the debugging process.
Functions to ban peers are already written:
https://github.com/zencashofficial/zen/blob/master/src/net.cpp#L493

Additionally, the CNodeState struct contains an 'fShouldBan' bool:
https://github.com/zencashofficial/zen/blob/master/src/mai

[2017-06-11 18:06] aayanl opened #5 "IPFS intergration"
Issue to track IPFS intergration

[2017-06-12 02:23] aayanl commented on #4
zcash implemented automatic node shutdown if the node has been 9 weeks without an upgrade, maybe we should do the same for this.

[2017-06-12 02:25] aayanl commented on #4
https://github.com/zcash/zcash/pull/2297

[2017-06-12 04:04] aayanl commented on #4
I also think banning nodes might be a bit extreme for a rare problem, maybe refusing to accept blocks and transactions may be a better idea

[2017-06-12 04:10] aayanl opened #6 "Setup Continuous Integration and change how we git"
Botio is a great lightweight opensource CI used with z-classic/zclassic z-classic/z-nomp and our website, and I recommend we use it again for zen.

We can use a script to auto package eleos for release whenever a commit is pushed to master. To make sure we don't have 200+ eleos releases every month, we we should push commits into branch `development` instead. Whenever we are ready for release, pul

[2017-06-13 06:23] githubee opened #7 "Doesnt build after repo switch and update"
[..]
Making all in src
make[1]: Entering directory '/root/zen/src'
make[2]: Entering directory '/root/zen/src'
make  -C secp256k1 libsecp256k1.la
make[3]: Entering directory '/root/zen/src/secp256k1'
make[3]: Leaving directory '/root/zen/src/secp256k1'
/bin/bash ../libtool  --tag=CXX   --mode=link /root/zen/depends/x86_64-unknown-linux-gnu/share/../native/bin/ccache g++ -m64  -std=c++11 -pipe -fPI

[2017-06-13 07:33] githubee commented on #7
make clean && make solved it

[2017-06-13 07:33] #7 closed

[2017-06-14 02:36] mountaindrifter opened #8 "Error building in Arch Linux: Could not link against boost_system-mt"
Unable to build in 4.9.30-1-ARCH

Building fails on:
[code]

Tried building with DBoost_USE_MULTITHREADED=OFF without success
Results in failing with
[code]
This boost bug report has comments that suggest that the -mt has been removed
https://svn.boost.org/trac10/ticket/4936

After reading [Zcash 2294](https://github.com/zcash/zcash/issues/2294) and [Zcash 2304](https://github.com/zcash/zcash/issu

[2017-06-14 03:43] aayanl commented on #6
We can use Travis CI to test PR's, going to do that now

[2017-06-15 17:22] tarrenj commented on #4
Agreed, I created this issue after talking about it with Josh.  Ocminer was connecting to old nodes and mining orphan blocks as a result.

It seems like the network has stabilized and this is no longer needed though, so I'll close this issue.

[2017-06-15 17:22] #4 closed

[2017-06-15 17:24] tarrenj opened #11 "Remove zencashio/zen as upstream and set to zcash/zcash."
Eventually we can can have no upstream, but for the time being we should be able to merge updates from zcash if we want.

Also, we need to remove all pointers to zencashio.

[2017-06-15 20:26] tarrenj commented on #6
We should use a CI tool for both Zen and Eleos.

[2017-06-17 22:33] aayanl opened #14 "p2sh transactions being rejected for not having op_checkblockatheight despite having it"
This leads to it being rejected.

[code]

[2017-06-19 13:30] cronyx opened #15 "testnet"
2017-06-19 13:22:23 connect() to 45.63.0.98:19033 failed after select(): Connection refused (111)

Testnet is not available ?

[2017-06-19 18:33] aayanl commented on #15
`addnode=node1.zenchain.info:19033`

[2017-06-19 18:33] #15 closed

[2017-06-22 20:23] aayanl commented on #5
C ipfs intergration: https://github.com/kenCode-de/c-ipfs

[2017-06-28 01:42] madbuda commented on #8
See workaround on the [hush forums ](https://forum.myhush.org/t/arch-install-work-around/51)
Or https://github.com/MyHush/hush/issues/2

[2017-06-28 02:07] aayanl commented on #8
Not really a fix though, we may have to upgrade the boost package

[2017-06-28 02:22] madbuda commented on #8
I checked, they still only support max gcc 6. Made a change to the build.sh to detect arc and use gcc-5 and g++-5
https://github.com/madbuda/hush/blob/arch-fix/zcutil/build.sh

[2017-06-28 02:34] aayanl commented on #8
Great :), I'll cherry pick the commit if that gets merged into master

[2017-06-28 03:23] mountaindrifter commented on #8
Great, I will have to check it out and will report back!

Did you have to roll back berkelydb as well? It seems the bitcoin wallet won't build with 5.3 and requires 4.8 for compatibility :rolleyes: though I did just learn about the flag ``--with-incompatible-bdb ``

[2017-06-28 03:33] mountaindrifter commented on #8
Also, if these patches (including boost-no-mt-suffix.patch) are of any interest
https://git.archlinux.org/svntogit/community.git/tree/trunk?h=packages/zcash

[2017-06-28 10:59] madbuda commented on #8
the no-mt patch didn't resolve the issue, I tried that originally. Nothing inside the packaged needed changing, it is just that Arch has gcc 7 and boost isn't built against 7 yet. Ubuntu still ships with 5

[2017-06-28 18:02] aayanl commented on #6
Bot has been setup: https://github.com/ZencashOfficial/zen/pull/10#issuecomment-311738950

[2017-06-29 17:36] aayanl commented on #6
s/eleos/arizen

[2017-06-30 18:55] cronicc commented on #6
My current plan is to set up a docker container with botio that has it's public folders mounted in a shared volume with a web server container [example](https://github.com/cronicc/zencash.io-botio-docker). This controlling botio container would then start build jobs in other containers that have all necessary dependencies installed. One container for ZEN/ZCL/Zcash Linux builds and gtest and one co

[2017-07-12 02:44] aayanl opened #26 "openSSL intergration"
Issue to track openSSL intergration

[2017-07-12 18:56] ADumaine opened #27 "zen-cli gettransaction returns error code -5"
Passing a txid to getrawtransaction works, but gettransaction returns an "Invalid or non-wallet transaction id".
I tried random transactions from the block explorer and transactions generated locally.

`../zen/src/zen-cli gettransaction 146c4d30f62f63e0d0c6daae3a911f92183ac8c3161ee2832960a240cd82ba0c
error code: -5
error message:
Invalid or non-wallet transaction id
`

[2017-07-12 19:32] aayanl commented on #27
You need `txindex=1` in your config

[2017-07-12 19:48] ADumaine commented on #27
There is no mention of txindex in the zen.conf file.

I added the parameter, killed zend, and restarted.

I tried a getrawtransaction and got the following:
` You need to rebuild the database using -reindex to change -txindex.
Please restart with -reindex to recover.`

I restarted with the -reindex and it started from block 0 and is counting up.  I assume this is creating the index on the local bl

[2017-07-12 20:07] aayanl commented on #27
yes and yes

[2017-07-12 23:05] ADumaine commented on #27
The reindex completed (3.25 hours)  I stopped zend (in the terminal) and restarted in background with --daemon.

I am still getting the same error with gettransaction

[2017-07-13 08:06] dkaidalov commented on #27
`zen-cli gettransaction` returns information only about in-wallet transaction. I guess you are trying a random tx from the blockchain?
Look here: [](https://chainquery.com/bitcoin-api/gettransaction)

[2017-07-13 09:45] #27 closed

[2017-07-13 18:21] ADumaine commented on #27
Using getrawtransaction with the verbose flag set to 1 returns a json object.

Thanks!

[2017-07-13 19:19] aayanl commented on #32
https://github.com/ZencashOfficial/zen/blob/master/src/script/standard.h#L28

[2017-07-13 19:31] aayanl commented on #32
tests to adjust: https://github.com/ZencashOfficial/zen/blob/master/src/test/transaction_tests.cpp#L572

[2017-07-17 01:26] aayanl commented on #6
slacktest

[2017-07-18 19:19] #14 closed

[2017-07-20 12:17] kendricktan opened #38 "Add support for multiple accounts / no accounts?"
I'm currently trying to make an online wallet clone like myetherwallet for zencash, but I'm having trouble making it purely client side based (so it can connect to any node) and secure at the same time because the zen daemon lacks the support for no accounts / multiple accounts.

[2017-07-20 12:25] dkaidalov commented on #38
As you probably know zen is a fork of zcash and accounts functionality has been dropped in zcash. Actually, it has been deprecated in Bitcoin long time ago.
https://forum.z.cash/t/why-are-the-account-rpc-commands-unsupported/3153

[2017-07-20 12:36] kendricktan commented on #38
@dkaidalov interesting, didn't know that. Is there a way I can generate a receiving address and get a private key without putting it into the wallet?

[2017-07-20 12:50] dkaidalov commented on #38
@kendricktan not sure that it is possible, but I don't know exactly. Probably you want to generate an address, then dump private key and delete addr. But you can't delete addr from the wallet with RPC.
As a workaround, you can create new wallet, generate an addr, dump its private key and then delete wallet.dat. But be sure that you have saved all necessary keys.

[2017-07-20 12:55] kendricktan commented on #38
Thanks but I think thats too complicated and unfortunately won't work for concurrent requests unless the ability to support no wallets is added.

[2017-07-20 13:27] bhjortsberg commented on #8
The `checking for exit in boost_system` will when using gcc 7 generate a warning that is treated as an error. This warning can be removed with `-Wno-builtin-declaration-mismatch` in `zcutil/build.sh`.

There are then a few other warnings in zencash code related to deprecated C++ code.
A fix is made here https://github.com/ZencashOfficial/zen/pull/39

[2017-07-20 16:08] aayanl commented on #38
I think you would have to generate the addresses locally via a javascript library or something

[2017-07-20 21:56] kendricktan commented on #38
I never thought about that, thanks!

[2017-07-23 17:21] #38 closed

[2017-08-11 08:16] dkaidalov commented on #44
It has been already done and committed to the `development` branch.

[2017-08-11 20:19] aayanl commented on #26
Branch `TLS_intergration` has a working implementation using self signed certificates.
Todo:

- [ ] allow user to chose certificates
- [ ] allow user to choose to connect to only TLS enabled nodes for a short while
- [ ] connect to only TLS enabled nodes with CA signed certificates
- [ ] after making sure most of the network is TLS enabled, disconnect non-TLS nodes unless user allows unencrypted c

[2017-08-14 09:34] hairetikos opened #45 "zend and zen-cli give erroneous --help"
zend and zen-cli give erroneous --help

` -port=<port>`
` Listen for connections on <port> (default: 8233 or testnet: 18233)`

should say 9033 and 19033

`-rpcport=<port>`
`Listen for JSON-RPC connections on <port> (default: 8232 or testnet: 18232)`

should say 8231 and 18231

[2017-08-14 15:14] aayanl commented on #45
:+1:

[2017-08-15 16:26] aayanl commented on #46
Thanks for the detailed info, looking :+1:

[2017-08-15 16:29] aayanl opened #48 "Set CI up for mac"

[2017-08-16 08:59] cronicc commented on #46
Have you downloaded the trusted setup with `./zcutil/fetch-params.sh`? Normally zend should complain if it's missing but I've seen it fail with an assertion in the past. You can also try the pre-built Mac binaries from [here](https://github.com/ZencashOfficial/zen/releases/download/v2.0.9-4/Zen_Mac_binaries_v2.0.9-4-2045d34.zip). As you are on Sierra and the binaries are not signed with a develope

[2017-08-17 03:01] ebadiere commented on #46
Okay, I downloaded the binaries, unzipped, and ran the fetch-params.sh.  The ZCash params sprout-proving.key and sprout-verifying.key were downloaded.

I then ran the start_zend.sh script and got pretty much the same thing:

仕方が無い
Shikata ga nai.
它不能得到帮助

Since starting this node 0 seconds ago:
- You have validated no transactions.

Messages:
Error:

Init message: Verifying wallet...

[Press Ctrl+

[2017-08-17 08:33] przemekh10 opened #50 ""Zcash is downloading blocks" error"
Blockchain synchronization has stopped on 90,52%, block height on my node is 139392. Node is running for more than 24 hours. I have 10 connections. I had tried to add nodes but it haven't helped. "getblocktemplate" command returns "Zcash is downloading blocks" error.

[2017-08-17 17:27] aayanl commented on #50
Upgrade your node to the latest version and start zend with the -reindex flag.

[2017-08-24 04:56] #45 closed

[2017-09-12 14:08] radiogena opened #62 "sha256sum: WARNING: 1 computed checksum did NOT match / Fetching libsnark..."
ubuntu 16.04.3

how to fix it?

Fetching libsnark...
https://z.cash/depends-sources/libsnark-3854b20c25e8bc567aab2b558dec84d45f4a3e73.tar.gz:
2017-09-12 15:46:05 ERROR 404: Not Found.
2017-09-12 15:46:06 URL:https://codeload.github.com/ZencashOfficial/libsnark/tar.gz/3854b20c25e8bc567aab2b558dec84d45f4a3e73 [144924/144924] -> "/home/user/zen/depends/work/download/libsnark-/libsnark-3854b20c25e8bc5

[2017-09-12 19:02] radiogena commented on #62
Development branch did help. No such issues. Confirmed

[2017-09-12 19:54] aayanl commented on #62
Awesome, we'll pull the fix into master in 2-3 days with the new release

[2017-09-12 19:59] aayanl commented on #50
Closing due to staleness

[2017-09-12 19:59] #50 closed

[2017-09-13 00:29] cronicc commented on #62
The checksum of the file hosted at github changed without there being any new commits. Investigating ...

[2017-09-13 00:30] aayanl commented on #62
It happened with zcash as well

[2017-09-13 02:08] aayanl commented on #62
https://github.com/libgit2/libgit2/issues/4343#issuecomment-328631745

[2017-09-13 02:49] aayanl commented on #26
2/4 is currently done

[2017-09-14 20:06] #62 closed

[2017-09-18 23:06] aayanl opened #68 "Set up CI for ARM"

[2017-09-19 16:52] aayanl commented on #6
Updating this to say signed commits are highly recommend now

[2017-09-24 21:50] tarrenj opened #70 "Change output wording for clarification."
The below line is printed as output when running `zcutil/fetch-params.sh`

https://github.com/ZencashOfficial/zen/blob/af80a3fb0fc7e2ebab131e7f6d9e4111f23eb34f/zcutil/fetch-params.sh#L78

Since we've updated the script, and have replaced the source with our own, we might want to change the wording to reflect that:

[2017-09-26 17:02] ghostnegotiator commented on #68
I would tell you a joke about UDP, but you probably wouldn't get it.

[2017-10-03 17:21] shensu commented on #75
I reported this and I have a patch almost ready.

[2017-10-03 17:22] shensu commented on #75
I don't think we should check for logging utilities like logrotate, that seems needlessly complicated. Simply having the option to check if the debug log has grown over 10MB every time we write is enough. Advanced users can disable this shrinking and use logrotate.

[2017-10-06 05:07] LukasBures commented on #6
We are using Travis CI integration in Arizen project. It is free for opensource projects. It can package binaries for multiple OS and if I am not wrong it is able to sign macOS binaries. We are in progress to setup this CI process.

[2017-10-10 00:23] ADumaine commented on #79
I have the large wallet mentioned above available if it is needed for testing.  200MB zipped.

[2017-10-22 18:39] aayanl commented on #79
related issue https://github.com/zcash/zcash/issues/1749

[2017-10-22 18:51] aayanl commented on #6
replaced botio with https://ci.zennodes.network/ which should be more modular.

[2017-10-27 02:13] aayanl commented on #84
Eek thats not good, whats special about that block is thats when our first HF activated, can you send your compiled `zend` to info@zensystem.io for debugging?

[2017-10-29 04:42] ebadiere commented on #46
I can start the zend process when I am pointing to the testnet
zend -testnet works, but not main net.

[2017-10-31 23:45] #70 closed

[2017-11-02 23:45] aayanl commented on #84
can you see if the development branch fixes it?

[2017-11-08 17:46] aayanl commented on #86
It's the sheilded transactions, they take about 3-4gb memory and due to how resource intensive they are

[2017-11-08 17:49] aayanl commented on #86
Unfortunately there's no way to force an operating system to reduce the allocated heap without being a feature creep

[2017-11-11 04:49] tarrenj commented on #84
Have there been any updates on this?  I've got an Arch system back home, I'll build ZEN off the AUR when I get back to test...

[2017-11-14 17:49] aayanl commented on #88
Not related to zend, make an issue on the securenode tracker github

[2017-11-17 07:14] miningpoolhub opened #89 "Cannot move zen from private address"
I can't move zen from private address to public address.
I constantly get "18: bad-txns-joinsplit-requirements-not-met" error.

This private address has funds from zclassic.
1) I copied wallet.dat from zclassic and reindexed. Not working.
2) I imported private key manually and reindexed. Not working.

Seems like similar issue is already reported at zcash repo.

[
  {
    "id": "opid-e1add840-8130-

[2017-11-17 13:43] aayanl commented on #89
You need to reindex the wallet

[2017-11-17 13:44] aayanl commented on #89
Usually that should do it but sometimes it can be a pain to resolve and find where's it's going wrong

[2017-11-18 02:28] aayanl commented on #89
can you send some txid's of the address to `anarch3@zensystem.io`?

[2017-11-18 02:29] aayanl commented on #89
if you're using the wallet.dat from zclassic and it has post-fork zcl transactions, the wallet could be spending those non-existent transactions. Try with a fresh wallet.dat and then importing the private key

[2017-11-18 02:50] cronicc opened #91 "Default config file not copied on first run if installed from deb package"
https://github.com/ZencashOfficial/zen/commit/89dfdda9b470df3bab10b04ca8c2ca15909e7145 introduced copying of the default config file to ~/.zen but only looks for it in the build dir https://github.com/ZencashOfficial/zen/blob/89dfdda9b470df3bab10b04ca8c2ca15909e7145/src/bitcoind.cpp#L119 which doesn't exist when installed from deb.
The default config is located at `/usr/share/doc/zen/examples/zen.

[2017-11-20 00:36] DYSEQTA commented on #84
I had issues building development due to boost library issues. I will take a look at the PKGBUILD on the AUR and see if I can modify it to build from the development branch as I know it does some patching to solve the boost issues.

[2017-11-20 00:49] DYSEQTA commented on #84
OK I edited the PKGBUILD replacing the commit it was building from with 728fb4259cfa663d594ba494b229e8dc86f925b9 which is the last commit is see in the development branch. The package built fine this time.

However, the bug remains. Still seg faults at 139200.

[2017-11-20 04:18] miningpoolhub commented on #89
Importing private key also didn't work. I already tried that.
I searched this issue from zcash repo and found that it's unsolved issue still.

[2017-11-21 04:17] DYSEQTA commented on #84
So I changed PKGBUILD again to build development tree from head as I wasn't sure I was building the right thing previously. Cleared all data and began sync. Still seg faults at 139200.

[2017-11-21 21:04] MFGNetworks commented on #93
We are seeing the same thing

[2017-11-22 21:05] freescape commented on #93
Similar behaviour on one of my nodes. Everything operating normally, then all peers drop and errors reconnecting:
2017-11-22 20:01:20 TLS: connection to 172.104.176.177:19033 has been established. Using cipher: ECDHE-RSA-AES256-GCM-SHA384
2017-11-22 20:01:21 ProcessMessages: advertizing address 58.173.11.103:19033
2017-11-22 20:01:21 receive version message: /zen:2.0.10/: version 170002, blocks=16

[2017-11-23 05:32] psyraxaus commented on #93
I have added some extra logging to my net.cpp and recompiled.  I will update once I have some greater detail on the issue.

[2017-11-24 17:51] tarrenj commented on #93
Will take a look at this tonight once I get home from work.  Have there been any updates @psyraxaus?

[2017-11-24 21:51] psyraxaus commented on #93
I have not seen the error since starting the additional logging, I have 6 nodes running trying to catch the exception.  I will update as soon as I get anything

[2017-11-24 21:58] freescape commented on #93
It hasn’t happened since 11-22 on my node either.

From: psyraxaus [mailto:notifications@github.com]
Sent: Saturday, 25 November 2017 8:51 AM
To: ZencashOfficial/zen <zen@noreply.github.com>
Cc: Sean Ryan <sean@freescape.com.au>; Comment <comment@noreply.github.com>
Subject: Re: [ZencashOfficial/zen] TLS/SSL Connections being dropped (#93)

I have not seen the error since starting the additional l

[2017-11-24 22:22] psyraxaus commented on #93
There could be an errant SSL somewhere on a node on the network that is causing this issue and because the current logging only returns the last event in the SSL error trail, we do not know what the previous errors were.  I am hoping that the additional logging that I have put in will reveal this information.

[2017-11-25 21:57] freescape commented on #93
I had another occurrence last night, it kicked off with

2017-11-25 11:32:37 TLS: connection from 80.211.175.8:52904 has been accepted. Using cipher: ECDHE-RSA-AES256-GCM-SHA384
2017-11-25 11:32:37 receive version message: /zen:2.0.10/: version 170002, blocks=161944, us=58.173.11.103:19033, peer=1078
2017-11-25 11:32:54 keypool reserve 2
2017-11-25 11:32:54 keypool return 2
2017-11-25 11:32:54 key

[2017-11-25 22:42] MFGNetworks commented on #93
We have them every day a few times on the main-net on example
we had to stop the zend to get it to stop it still took about 15 min after the zend restart for this to clear up
I have the zend debug logs if needed

2017-11-25 04:24:37 keypool reserve 14
2017-11-25 04:24:37 CreateNewBlock(): total size 15022
2017-11-25 04:24:37 keypool return 14
2017-11-25 04:24:40 ERROR: SSL_read error:00000001:lib(

[2017-11-26 18:37] josephnicholas commented on #91
@cronicc , just experimented on the the forked repo. But a question would the default config vary from platform to platform? I am assuming the config

Is a linux based platform. What about for OSX and Windows?

[2017-11-27 00:39] psyraxaus commented on #93
I am still not able to replicate the issue I was previously getting. I am no longer seeing the ERROR: SSL_read error:00000001:lib(0):func(0):reason(1) error.  I will keep monitoring

[2017-11-28 02:00] tarrenj commented on #93
I haven't been able to get this error either.  Looks like @rit#9211 is seeing the same issue in #zend though.

Agreed that disabling TLS in the conf file should actually disable TLS though, I'll bring it up...

[2017-11-28 18:26] cronicc commented on #91
There are two scenarios where copying the config file makes sense
1. Building from source on Linux or MacOS and running zend from `$builddir/src/zend`  the config is then located at `$builddir/contrib/debian/examples/zen.conf`
2. Installing from .deb package with the config located at `/usr/share/doc/zen/examples/zen.conf`

For the binary distributions on Mac and Windows we currently don't ship a

[2017-11-28 22:37] psyraxaus commented on #93
I have just updated one of the nodes that experienced the drop of all TLS connections with the SSL_read error:00000001:lib(0):func(0):reason(1) error to the latest dev branch and recompiled.  I will report if I am still getting the error on that node

[2017-11-29 15:14] ebadiere commented on #46
So something in my data directory was corrupted.  I am not sure what.  I was able to run it on testnet. I deleted what I thought was the block chain data and I still had the problem.  When I pointed to a completely new data directory I was able to start my zend node once again.

[2017-11-30 20:12] tarrenj commented on #91
Should be easy enough to add that to this catch: https://github.com/ZencashOfficial/zen/blob/development/src/bitcoind.cpp#L104

Noob friendly issue.

[2017-11-30 20:13] tarrenj commented on #91
Should we add a 'Noob Friendly' label?  Seems like a good idea..

[2017-12-01 20:41] freescape commented on #93
I’m seeing these regularly on mainnet now. Every occurrence is immediately preceded by a failed to connect from the same ip. Eg:

2017-12-01 10:48:22 TLS: ERROR: net.cpp: TLSAccept: TLS connection from 149.202.207.93:60056 failed

Same IP causes same behaviour on another node, but it seems to recover faster from the continuous SSL_read error or just has more connections so doesn’t flag the tracker

[2017-12-01 21:00] freescape commented on #93
Always fails an encrypted connection I should say.

I see it features in MFGNetworks log above having just failed a TLS connection and falling back to unencrypted.

[2017-12-01 21:30] MFGNetworks commented on #93
That ip is one of the developers machines
149.202.207.93:9033 | /zenai:2.0.10/
look at the version it says zenai

[2017-12-01 21:34] MFGNetworks commented on #93
psyraxaus: after you updated to dev branch do you still see this problem?
I need a way to fix this I am running a pool and it is killing my connections to the node network

[2017-12-01 22:02] freescape commented on #93
Temporarily block it at the firewall? There will presumably be others running the same code though.

33.127.169.152 does it too now.

[2017-12-01 22:49] aayanl commented on #93
zenai is mine, it's a fork of zend with address indexing, it shouldn't
affect the p2p stack though. I'll see what's up with it (
www.github.com/zennodes/zen-addressindexing)

On Dec 1, 2017 5:02 PM, "freescape" <notifications@github.com> wrote:

[2017-12-02 20:53] phobos777 commented on #93
I'm also "raising my hand" as this is happening to several of my nodes.  i'm happy to participate in helping.  -P

[2017-12-03 05:11] cronicc commented on #93
I ran into the error on the securenodes infrastucture and was only able to avoid it by closing the ports so that no incoming connections could be established. I suspect it is triggered by a peer that connects unencrypted and causes the `SSL_read error:00000001:lib(0):func(0):reason(1)` error which then remains in the OpenSSL error queue and is not cleared properly. Any SSL_read or SSL_write calls

[2017-12-03 10:11] phobos777 commented on #93
@cronicc so block 443 with UFW? Is so that can’t be good either.   Please outline steps to try for me :)

[2017-12-03 13:34] PeaStew commented on #93
Have built and am currently testing (re-enabled ipv4 + 6), can confirm that when non TLS connections are coming in it is not followed by the OpenSSL error anymore. Will leave it running and come back if the dropped peers problem reappears.

[2017-12-03 13:41] PeaStew commented on #93
@aayanl zenai is just connecting unencrypted which was triggering the issue, probably a good thing overall :)

[2017-12-03 18:17] MFGNetworks commented on #93
So much better running theTLS_clear_error_queue branch..... no more wholesale TLS disconnections
so far so good
I also have turned on IPV6 and IPV4 connections coming from both look good
way better
:)

[2017-12-04 12:54] PeaStew commented on #93
So all good after ~24 hours no dropped peers problem!

[2017-12-04 20:10] thghdbs commented on #93
Has the fix been committed for the error:

ERROR: SSL_read error:00000001:lib(0):func(0):reason(1)

If so if not, any suggestion on how to implement the pending fix?

[2017-12-04 20:16] tarrenj commented on #93
@thghdbs, the fix is currently [here](https://github.com/ZencashOfficial/zen/pull/94).  Pending successful review it'll get merged into development, then eventually into master.

If you'd like the fix now, you could checkout that branch and then rebuild, but there might be ill effects, since it hasn't been completely reviewed.

[2017-12-04 20:27] thghdbs commented on #93
@tarrenj thanks for the quick response.

Can you give me a quick rundown on how to rebuild -- after replacing the net.cpp file with the modified file, what do I do to rebuild (16.04).

Thank you!

[2017-12-04 20:38] tarrenj commented on #93
@thghdbs The instructions [here](https://github.com/ZencashOfficial/zen/blob/master/README.md) should help you out:

If you run into any issues, try jumping in our [https://discordapp.com/invite/VkNnB7a](Discord).

Should we close this since we've confirmed the above PR resolves this issue, or should we wait until it's been merged?  @aayanl @cronicc

[2017-12-05 05:41] thghdbs commented on #93
@tarrenj I implemented the fix -- Fix TLS DoS issue #93 -- and rebuilt. After a few hours of running the daemon it appears to be stable and the error issue appears to be resolved.

Thank you!

This seems like a pretty serious issue from a network performance perspective that the community should implement as quickly as possible.

[2017-12-05 21:29] psimondo commented on #96
I have three nodes up with the same specs as yours. (assume you are using linode?)
Anyway, two pass the challenge and one fails. All three were setup the same way, so I'm also trying to figure out why 1/3 fails the challenge. Maybe different challenge difficulty leading to failure sometimes? May need to upgrade server specs... which obviously I'd like to avoid.

[2017-12-05 21:31] psimondo commented on #96
p.s. I assume you have increased your memory swap to 4GB given you only have 1GB RAM?

[2017-12-05 21:35] marteta76 commented on #96
Hello psimondo, yes, I'm using linode with 1GB of memory RAM as you said and yes ... I did the memory swap to 4GB.
But I supposed this was the correct way because this is how it's explained in the blackops guide.
Your 2/3 that are working fine are with 1GB of memory RAM?

[2017-12-05 21:39] psimondo commented on #96
So far 2/3 are passing the challenges with 1GB RAM (+4GB swap). One is not... the two that pass are in Tokyo and the one that fails is in Frankfurt. I can't see why that would make any difference, but that's the only difference between the nodes. I guess I'll leave it for a few days and see if the other 2 fail sometimes. For the one that constantly fails, I may reinstall zen from source and see if

[2017-12-05 21:44] marteta76 commented on #96
It can be the difference! My node is in UK ! It's possible pings with Europe be slower.

[2017-12-05 21:48] psimondo commented on #96
The challenge takes several minutes to compute, so I don't think network delays would have much effect. Anyway, I'll post back here if compiling from source helps or if my other 2 start failing the challenges.

[2017-12-05 21:54] psimondo commented on #96
I've been reading on Discord chat. The different locations may have something to do with it after all. Some locations are overloaded. Tokyo works, so I may move them all there.

[2017-12-05 21:57] marteta76 commented on #96
OK, I'll try it too!

[2017-12-05 22:55] psimondo commented on #96
hmmm. my one tokyo node failed challenge. think I'm gonna try upgrade to 2GB RAM one one of the failures and see... or off to another VPS provider!

[2017-12-05 22:59] marteta76 commented on #96
I move my node to Asia and the time reduce to 378ms.
I'm waiting the new challenge results... just doing now....  I'll tell you ASAP

[2017-12-05 23:13] marteta76 commented on #96
psimondo!

For five minutes...

3047 | 2017-12-05 22:55:47GMT | 2017-12-05 23:01:07GMT | 05:20 | 319 | confirm | success
-- | -- | -- | -- | -- | -- | --

Before...

23047 | 2017-12-05 22:55:47GMT | 2017-12-05 23:01:07GMT | 05:20 | 319 | fail | allowed run time exceeded
-- | -- | -- | -- | -- | -- | --

The time is slower.... 319ms but still is more than 300ms :(

Please if you update to 2GB tell

[2017-12-06 00:15] aayanl commented on #96
(closing to it not being a zend issue)

Memory and CPU power plays a major part in shield transaction performance, if you're running out of memory running it, try using swap.

[2017-12-06 06:15] psimondo commented on #96
With 2GB RAM my node passed challenge with time of 03:26...

[2017-12-06 09:54] marteta76 commented on #96
psimondo,

last change result...

23605 | 2017-12-06 00:13:47GMT | 2017-12-06 00:18:29GMT | 04:42 | 280 | pass |  
-- | -- | -- | -- | -- | -- | --

Happy to move to Asia and thanks to you! I really think the memory is not the problem.

[2017-12-06 12:03] psimondo commented on #96
Cool!
I’ve left 2 nodes on 1GB and moved one onto 2GB. Also upgraded all to the dev branch to stop the “low peer" errors I’ve been getting.
Will leave for a few days and see how they each get on.

[2017-12-07 02:20] tarrenj commented on #93
Should be resolved in https://github.com/ZencashOfficial/zen/commit/bb93453d39f86f7889e87c50f06400427a66f816.  Will close in a day or so if no one experiences this after updating.

[2017-12-08 05:15] thghdbs opened #97 "Potential TLS Issue: "TLS: ERROR: net.cpp: TLSAccept:"..."
Zen v2.0.10-1 - Clean new build from source on a new fresh 16.04 image with latest patches
16.04
4GB RAM
SSD

Receiving many log messages like this:

`2017-12-08 05:00:40 TLS: ERROR: net.cpp: TLSAccept: TLS connection from 149.202.XXX.XX:19412 failed
2017-12-08 05:00:50 TLS: Connection from 149.202.XXX.XX:30748 will be unencrypted`

Also receiving many log messages like this:

`2017-12-08 05:08:32

[2017-12-08 10:36] marteta76 commented on #96
I've been problems some hours of day with change result test, is failing again. Response time is more than 500ms and in the next test more than 800ms. Then, in the next time respones is 280ms is test is pass. I don't understant what's the matter.
I'm not sure if I upgrade to 2Gb the problem will be solve!! What do you think @psimondo ?

Thank you again.

[2017-12-08 11:09] psimondo commented on #96
Hey, my 2GB Linodes have not failed any tests yet. All results around 3.30m and pass.
I still have one Linode on 1GB and that passes too (Tokyo), but I think that it just depends on the utilization of the server cluster you get given. So probably just luck. 2GB does seem the way to go in my opinion.

[2017-12-08 17:26] aayanl commented on #97
Those are errors you can ignore

[2017-12-08 17:26] #97 closed

[2017-12-12 20:55] PeaStew opened #98 "Building latest release for Windows on Ubuntu 16.04 fails unless --disable-rust is specified"
### Describe the issue
Building latest release (2001051) for Windows on Ubuntu 16.04 fails unless --disable-rust is specified
Error is "~/../zen/depends/x86_64-w64-mingw32/share/../lib/librustzcash.a(rustzcash-4f7569c7f76c9f1d.0.o): could not read symbols: Invalid operation".

Builds fine if --disable-rust is specified, but this is not mentioned in build instructions.

May be related to:
https://g

[2017-12-12 21:04] PeaStew commented on #98
If there is no librustzcash for windows then the build instructions could just be changed to have --disable-rust as the ARM instructions do. Probably relevant (according to other issue) for OSX instructions also.

[2017-12-21 19:55] SpongeRobert opened #101 "node is up but shown as down"
Node is up, autentificated, cert check = true, securenodes.eu.zensystem.io shows status "up". But if i click details, there is "down" state and node isn't working.
https://securenodes.eu.zensystem.io/nodes/13760/detail

user@zen-securenode-a:~/zencash/secnodetracker# node app
CPU Virtual CPU a7769a6388d5  cores=1  speed=2399
Tracker app version: 0.1.0
MemTotal: 1.00GB  MemFree: 0.07GB  MemAvailabl

[2017-12-22 14:43] asbachb commented on #84
@aayanl Is there any information how the official debian package is build (gcc version, lib version)? I guess the arch libs are quite never than the official build.

[2017-12-22 14:47] asbachb commented on #84
gdb run, gdb backtrace

[code]

[2017-12-22 20:37] cronicc commented on #84
This most likely related to arch using libboost 1.65.1, zend depends on 1.62.0. There were some [ABI changes](https://abi-laboratory.pro/tracker/timeline/boost/) and [these patches](https://github.com/ZencashOfficial/zen/tree/master/depends/patches/boost) are also not applied.

[2017-12-27 04:16] zChas opened #102 "Node tracking shows node BOTH "up" and "down" at the same time"
(Moved to ZencashOfficial/secnodetracker)
### Describe the issue
https://securenodes.na.zensystem.io/   shows a certain node to be both "up" AND "down" at the same time.

![325](https://user-images.githubusercontent.com/34876917/34370535-649d8ace-ea8a-11e7-8bc9-af514c156475.png)

To reproduce:
Goto site:  https://securenodes.na.zensystem.io/
in the search field input:  omn
the site omni-sc.com wil

[2017-12-27 09:18] zChas commented on #102
Moved to ZencashOfficial/secnodetracker

[2017-12-27 09:18] #102 closed

[2017-12-28 11:47] asbachb commented on #84
Tried to build the aur source with `--enable-debug` option in order to get a more detailed stacktrace which fails entirely:

[code]

[2018-01-02 17:26] mrkoozer commented on #103
node app.js states CNAME does not match.

[2018-01-03 18:23] helxsz opened #104 "failed to compile and build the zen node"
### Describe the issue

try to build the zen node but failed to compile

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1. git clone https://github.com/zencashio/zen
2. cd zen
3. ./zcutil/build.sh -j$(nproc)

### Actual behaviour + errors
Tell us what happens instead including any noticable error output (any messages displayed on-screen when e.g. a

[2018-01-03 20:37] cronicc opened #105 "Inconsistent address prefixes"
Mainnet P2SH addresses sometimes start with `zt` which is the testnet prefix. They should only start with `zs` or `zr`. Don't know if we can do anything about that without hard forking.

[2018-01-03 23:18] cronicc commented on #104
You're using the old and outdated repository which we don't have control over. Use `git clone https://github.com/ZencashOfficial/zen.git`

[2018-01-03 23:18] #104 closed

[2018-01-04 10:31] dkaidalov commented on #105
Actually, it is correct. All P2SH addresses have {0x20,0x96} prefix. When encoded into base58 representation it will turn to "zt" in most cases, but sometimes it could turn to "zs" prefix or other. It depends on the rest of the address.
It is perfectly fine since the actual prefix in byte representation remains the same all the time. Only string representation may vary depending on the whole addre

[2018-01-04 10:48] daira commented on #105
I'm glad I found out from this ticket that Zencash addresses can sometimes start with "zs"! That would have been the prefix for Zcash Sapling addresses (see https://github.com/zcash/zcash/issues/2528); now we can avoid the clash.

Incidentally, are you sure you mean P2SH?

[2018-01-04 11:31] dkaidalov commented on #105
I mixed up a bit with prefixes)
So for Zencash the following prefixes are used:
1. PUBKEY address prefix - {0x20,0x89}, in most cases it turns to "zn", but sometimes into "zr"
2. P2SH address prefix - {0x20,0x96}, in most cases will be "zs", but sometimes "zt"
3. Shielded address - {0x16,0x9A} - in most cases "zc"
There is more info: https://github.com/zencashio/zen/blob/master/src/chainparams.cpp

[2018-01-09 06:52] airk42 commented on #5
What is the state of this?

[2018-01-18 17:14] Droygon commented on #84
Just updating that this is still a problem on arch (now arch is using libboost 1.66.0 and I think zend depends on 1.65.1). Is there any way to permenently fix this?

[2018-01-20 09:46] sc0rp1on opened #114 "Error while compiling Zen Mac wallet"
I was trying to compile mac wallet but getting stuck at this error constantly.

gcc-5  -I. -Icrypto/include -Iinclude -DNDEBUG -DOPENSSL_THREADS -DOPENSSL_NO_DYNAMIC_ENGINE -DOPENSSL_PIC -DPURIFY -DOPENSSLDIR="\"/Users/$USER/Documents/zen/zen-master/depends/x86_64-apple-darwin17.2.0/etc/openssl\"" -DENGINESDIR="\"/Users/$USER/Documents/zen/zen-master/depends/x86_64-apple-darwin17.2.0/lib/engines-1

[2018-01-20 14:16] josephnicholas commented on #114
Hi @sc0rp1on have you checked the highsierra-build branch at the zen code, I have recently experimented with the build settings and merged some changes. Can you check it out and merge the branch changes with cloned repo as well? There are some changes on the make file and Darwin.mk file that should be modified.

I have tried runnign the ./zcutil/build-mac.sh --disable-rust and it builds fine.
Let

[2018-01-21 09:07] angiecamp164 opened #115 "how to exploit zencash on cpu with unbuntu operating system?"
My server can only exploit on cpu(Server not support AVX,AVX2). I do not know how to exploit it. Please help me step by step. Thank you for your suggestions !

[2018-01-21 14:15] Droygon commented on #84
Hi, I have this problem too. Also somedays I get segmentation faults on block 110,000 (the fork from zclassic), but today it happens on block 139,200.
My info:
Zen Daemon version v2.0.10-g5ceedb5c
OS name + version: Manjaro Linux 17.1.2 (Arch Linux)
CPU: Intel i7-920
RAM: 24GB +  Swap
Disk size: 80TB
Disk Type (HD/SDD): SDD
Linux kernel version: Linux 4.14.14-1 x86_64
Compiler version: gcc (GCC) 7

[2018-01-21 20:07] daira commented on #84
It's not, that's a red herring that also shows up for Zcash.

[2018-01-22 16:03] tarrenj commented on #115
I'm sorry, but what exactly are you trying to do?

[2018-01-23 03:11] angiecamp164 commented on #115
exploit zencash on cpu with unbuntu

[2018-01-23 06:24] dogpatchmedia commented on #103
Im having the same problem. It says `"tls_cert_verified": true,` but Zen Tracking System says Exception: "cert: could not validate the SSL certificate."

[2018-01-23 18:23] JonDum commented on #115
ex·ploit
1. make full use of and derive benefit from (a resource).

I guess you're a non-native English speaker asking how to run zend? If so, refer to the [README](https://github.com/ZencashOfficial/zen/blob/master/README.md)

And please be aware that in the computer science and IT world, "exploit" tends to have a very specific meaning of "take advantage of" or "hack", so I would avoid using that

[2018-01-24 01:35] tarrenj commented on #115
Because you've specified your CPU, I'm thinking you're asking about enabling CPU mining?
https://github.com/zcash/zcash/wiki/1.0-User-Guide#enabling-cpu-mining

[2018-01-24 09:35] josephnicholas commented on #114
Closing this issue, since a PR has already been sent for review.

[2018-01-24 09:35] #114 closed

[2018-01-24 22:42] pierstab commented on #89
try to run with reindex and  then import the private key

[2018-01-25 05:52] #115 closed

[2018-01-25 05:53] #101 closed

[2018-01-26 06:32] psine commented on #103
I'm having the same issue too.

[2018-02-15 17:58] kiahmed opened #118 "testnet hung forever"
This issue tracker is only for technical issues related to Zen.

General Zen questions and/or support requests and are best directed to the [Slack](https://zencash.slack.com).

For reporting security vulnerabilities or for sensitive discussions with our security team, please post a message in #developers within the above Slack, or email info@zensystem.io with information.

### Describe the issue
t

[2018-02-16 04:08] dcryptob commented on #107
FROM @blockops1 hopefully it helps. I'm going through the same process @phobos777

that happened to me a number of months ago when I had an extremely large wallet and had many different shielded transactions.

I exported the private keys from each of the addresses that had funds in them. Then I shutdown zend and renamed my wallet.DAT file then started zend again.

It created a brand new wallet fil

[2018-02-16 18:19] cronicc commented on #105
Thank you for clearing that up.

[2018-02-16 18:19] #105 closed

[2018-02-16 23:16] psyraxaus commented on #103
@mrkoozer and @dogpatchmedia  what is the FQDN for your node?

[2018-02-17 11:13] asbachb commented on #86
I think it would be better if the memory would be freed after the challenge ran. So the vps won't need to allocate the entire ram. This might cause less problems with the hosters when they overprovision their hardware.

[2018-02-18 02:28] psyraxaus opened #120 "Block Chain database corrupts requiring reindex"
### Describe the issue
Blockchain Database corrupts after graceful shut down of the swing wallet on my mac

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1. Took backup of zen directory on my Mac
2. Allowed swing wallet/zend to sync to 100%
3. Gracefully shut down the wallet.
4. 12 hours later restarted the swing wallet and then immediately the err

[2018-02-18 07:54] psyraxaus commented on #120
Just synced 100% (up to block 259396 at time of testing) gracefully shutdown and backed up the zen directory on my mac.
Started the wallet again and received the following:

[2018-02-19 22:16] cronicc commented on #120
A fix for this is [here](https://github.com/ZencashOfficial/zen/pull/119), a new zen release with it included is being worked on.

[2018-02-19 22:19] cronicc commented on #118
We've had some big swings in mining difficulty on testnet, someone seems to mine with a relatively high hashrate and brings the diff up, then stops. This causes long periods without any blocks, it's a nuisance but there is nothing we can do about it other then pointing some hash at testnet when needed.

[2018-02-20 16:46] josephnicholas commented on #91
@cronicc we can already close this right?

[2018-02-20 17:37] cronicc commented on #91
Yes, thank you @igor-mikheiko for the PR!

[2018-02-20 17:37] #91 closed

[2018-02-21 13:29] cronicc opened #126 "Some rpc test are failing"
`mempool_tx_input_limit.py` fails
`proxy_test.py` fails on my machine, probably related to disabled IPv6
`maxblocksinflight.py` passes with python errors
logs attached
[rpctest_maxblocksinflight.log](https://github.com/ZencashOfficial/zen/files/1744128/rpctest_maxblocksinflight.log)
[rpctest_mempool_tx_input_limit.log](https://github.com/ZencashOfficial/zen/files/1744129/rpctest_mempool_tx_input_l

[2018-02-21 15:33] cronicc opened #127 "test_bitcoin fails when build on ubuntu trusty"
failure `test/rpc_wallet_tests.cpp(301): error: in "rpc_wallet_tests/rpc_wallet": unexpected exception thrown by CallRPC("getblock 0")`

[2018-02-25 21:36] cronicc commented on #127
Solved, gcc-4.9 was installed but not properly linked to /usr/bin/gcc, tests now pass.

[2018-02-25 21:36] #127 closed

[2018-02-25 21:37] #120 closed

[2018-02-25 21:37] #118 closed

[2018-02-25 21:38] cronicc commented on #98
Build instructions were updated.

[2018-02-25 21:38] #98 closed

[2018-02-26 01:03] kiahmed commented on #118
can I have some test coins especially its being kinda expensive ?

[2018-02-26 16:36] dmrelashvili commented on #91
Hey guys, just out of curiosity - approximately how many hours of work is this bug for a dev not familiar with ZenCash?

[2018-02-27 19:31] mrkoozer commented on #103
@psyraxaus my FQDN was znode01.opensystemsit.com ; however I was running it on a VPS and after a few weeks of no resolve I brought the node down :(

I would like to give it another try though however. I believe there is a new version to use correct?

[2018-02-28 02:01] cronicc opened #129 "Update to libsodium 1.0.15"
Libsodium 1.0.11 leads to a dead link, this hasn't affected us because of our depends mirror.
See https://github.com/zcash/zcash/issues/2693, we should pull in https://github.com/zcash/zcash/pull/2763, change links to our mirror and upload the package there.

And while we're at it also update other dependencies as long as they don't cause any issues while we're still behind upstream.

[2018-02-28 05:44] Umiiii commented on #89
reindex really does not help.

[2018-02-28 06:09] Umiiii opened #130 "Witness for note commitment is null while try to z_sendmany after import private key."
### Describe the issue
After try to send ZEN from an import private key z_address, here is an error message saying that "Witness for note commitment is null".

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1.  Import a private key from z_address before zend sync.
2. Wait until it synced up.
3. Try z_sendmay

### Expected behaviour
The `z_sendmany`

[2018-02-28 06:15] Umiiii commented on #130
For more details, I would explain an example:
I have a z_address `FORMER` after I installed `zen-cli`,
then I import another z_address by importing private key , say ,
`LATTER`.
The LATTER have balance while FORMER have no balance.
 When I try `
zen-cli z_sendmany "$LATTER" "[{\"amount\": 0.1, \"address\": \"$FORMER\"}]"
`
It returns error , saying `"Witness for note commitment is null".`.
I'm sur

[2018-02-28 06:17] Umiiii commented on #130
I've try this following method and no help.
1. zend -reindex
2. z_importkey rescan options on

[2018-02-28 10:03] Umiiii commented on #130
Solve it by those following method:
1. Reinstall zend, waiting for the resync ends.
2. Import private key again

[2018-03-14 19:21] ADumaine opened #132 "TLS returns 'no peer certificate available' after cert update if zen not restarted"
Background: The secure nodes install guides did not include a step to restart zen after certificates are automatically refreshed.  The server update on March 4-5 with an update to check certs more thoroughly  revealed many nodes with expired certs that were not being reported by the tracker app.

After the SSL cert is refreshed zen appears to make connections and still report that it is TLS_certif

[2018-03-16 15:03] blockops1 opened #133 "INSTALL file points to zcash documentation not zencash"
https://github.com/ZencashOfficial/zen/blob/master/INSTALL refers to zcash, not zencash. Should include the install info from main page:

Get dependencies:
Debian
sudo apt-get install \
      build-essential pkg-config libc6-dev m4 g++-multilib \
      autoconf libtool ncurses-dev unzip git python \
      zlib1g-dev wget bsdmainutils automake
Centos:
sudo yum install epel-release
sudo yum update
s

[2018-03-21 16:04] kthor7 commented on #103
I am having the same issue. Was anyone able to resolve it?

[2018-03-21 18:17] gyp5ydanger commented on #103
I am also have the same issue.. I got one MN working but the other MN keeps giving me this issue

[2018-03-24 14:15] wjdfx commented on #130
Reinstall zend, waiting for the resync ends.
Import private key again

Just only way ???

[2018-04-04 08:36] Umiiii commented on #130
@wjdfx Yes.

[2018-04-04 08:40] wjdfx commented on #130
Disaster......
Thanks！

[2018-04-06 19:11] tsujp opened #136 "Memory leak after challenge completion"
### Describe the issue
I'm noticing on my secure nodes that whenever a challenge is sent, of course the resident memory usage goes up; but that after the challenge is done (minutes, hours, days) the memory usage stays at around 3 GB instead of dropping back to about 650 MB.

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1. Launch zend, run `htop` t

[2018-04-22 20:02] dittaeva opened #137 "INSTALL is redundant"
README.md has all instructions for how to install. INSTALL is redundant or should direct to README.md

[2018-04-22 20:38] jjisnow commented on #89
I second this - Error 18: bad txns join split error occurs when transferring funds from private addresses. Reindexing does not help

[2018-04-30 18:12] tarrenj commented on #137
We could remove `INSTALL`, but it's not causing any issues and I'd like to keep our divergence from Upstream limited to things that actually have impact.

@cronicc @codeparticle What do you guys think?

[2018-04-30 18:15] tarrenj commented on #133
https://github.com/ZencashOfficial/zen/issues/137

[2018-04-30 18:16] tarrenj commented on #126
Should be fixed in next release.  Will be closed after verifying on when next release goes live.

[2018-04-30 18:33] #133 closed

[2018-04-30 18:33] tarrenj commented on #137
Also see https://github.com/ZencashOfficial/zen/issues/133.

[2018-04-30 18:35] tarrenj commented on #134
@AndreyNag Sorry for the delay!  Is this resolved?

[2018-05-02 04:16] jbmanwell commented on #103
I too am having this issue sporadically on my SN.  FQDN: `zenblocks.host`

[2018-05-02 09:42] dittaeva commented on #137
I see your point, don't know if I agree. I didn't realize Zencash is still so close to Zcash. If so, then it would be good to include in the readme. I could provide pull request if given indication that it is desirable.

[2018-05-02 17:10] tarrenj commented on #137
I've got no problem with removing it.  @cronicc @codeparticle Do you guys see any issues, or should we do this?

[2018-05-02 17:57] ADumaine commented on #103
DNS configuration should be checked as jbmanwell and pysrax point out.

For testing the node certificate outside the tracker you can use an openssl command from another system.
Example:   openssl s_client -connect zenblocks.host:9033

The response should be a full certificate, info about the connection and a 'Verify return code: 0 (ok)' at the end.
[code]

[2018-05-03 17:52] nikmit commented on #142
I'm not a part of the development team but for what it's worth will share what I think. The thread on the z.cash forum is very good and I generally agree with the first few posts in there that ASICs are bad news. I hope ZEN will manage to remain ASIC-resistant. It is a valid point however that in the long term this will require a substantial amount of development effort - so may be moving to an al

[2018-05-03 18:04] elkimek commented on #142
I say fork it until ASIC producement is a little bit less centralized. There are good prospects with Samsung and when ASIC-market situation is better, we can fork back to ASIC algorythms for networks security and sustainability.

[2018-05-03 18:30] tarrenj commented on #142
@Zapv0lt, ZeroCoin uses different Equihash params, however they also have many other changes, block header size for example.  More research is needed to see if this would be a `drop-in` replacement, or if it would require multiple changes.  Taking a look at https://github.com/zcash/zcash/issues/2715 and the referenced issues would provide some insight.

[2018-05-03 22:41] VoskCoin commented on #142
Personally I would like to see an algorithm adjustment, even scheduling regular adjustments quarterly. This would severely diminish the interest in ASIC R&D for ZenCash, even small changes should be enough to ensure that a firmware update for an ASIC miner would not be sufficient. Cryptonight heavy and cryptonightv7 would be great cases to review as they have most recently tackled this issue.

An

[2018-05-03 22:53] A-RK6 commented on #142
This new miner is either an FPGA with on board RAM (quite likely) or a full blown ASIC with some kind of very fancy (and expensive) linked memory module.
If it's an FPGA we're dealing with, finding an algorithm that you couldn't just reprogram the FPGA to mine will be extremely difficult.  If it's an ASIC, the task of creating some kind of incompatibility by modifying or switching algo's would obv

[2018-05-03 23:05] tarrenj commented on #142
@A-RK6 Great point.  If we decide to maintain our ASCI resistance we'll need to understand the Z9 better to accurately resist it.  Changing the EH params might not be sufficient...

Does anyone have any more information on the Z9, or any ideas on how to get it?

[2018-05-03 23:44] Sto1cNate commented on #142
As much as I do like the benefits ASICs can bring to help solve problems of block time variance and a few other benefits, I have a hard time making those pros out weight the giant con of a single manufacturer and distributor having so much control and influence. A new, unique to zen algorithm could also bring some nice attention to ZenCash as a project committed to decentralization. Don't we aim t

[2018-05-04 00:37] elkimek commented on #142
@tarrenj My friends who are ASIC and GPU engineers can be very helpful with that matter. They are also working on new algo which might be difficult for ASICs to adapt. I've just connected them with Rolf via mail. Let's be little bit patient I have good faith with these guys, they can actually help.

[2018-05-04 12:54] blockops1 commented on #142
For large decisions that can have significant effects, I like to do a worst case/best case exercise. Identify the worst outcome of a decision, and balance it against the best case of the decision. It helps to actually quantify things in doing this as well.

Furthermore, part of this decision should be reviewing what the goals of the ZenCash project are and how the decisions to be made are consiste

[2018-05-04 13:16] blockops1 commented on #142
Some of the best discussion I have seen on the zcash github is in this issue https://github.com/zcash/zcash/issues/1211

[2018-05-04 13:37] blockops1 commented on #142
@bitcartel created a branch of zcash that allows for testing of different Equihash parameters, which would probably be useful to review. I will quote what he said in that zcash issue:

To help answer this ticket, I spent a few hours on the weekend and have a prototype based on v1.1.0-rc1 which allows equihash parameters to be changed for each network upgrade.

The code is in commit bitcartel/zcash

[2018-05-04 18:56] bicheichane commented on #142
Personally, I believe the biggest issue here is not so much ASIC's in general, but the fact that currently Bitmain is holding the ASIC monopoly. The way I see it, the argument against ASIC's would not be as central if there were several companies on the market competing between each other.. So I would propose striving to maintain ASIC resistance until that changes. What do you guys think of this?

[2018-05-04 19:08] Sto1cNate commented on #142
@bicheichane Totally and completely agree. There is also another argument for availability to small miners. Distribution of these machines also has a great affect on how smaller miners acquire hardware. If you want to maintain a decentralized POW system, you need to think about the possibility of pushing small miners out of the market. Its not like I can go to my local computer hardware store, Bes

[2018-05-04 22:13] ventrader commented on #142
I really applaud 'aleqx' words.
There is not economic neither moral reasons to leave ZEN as bitmain-friendly.  One of the main reasons for development of asic-resistant algos is to lower the entry barrier for the common guy, so the so called 'progress' in crypto is from asic-friendly (sha256) -> to asic-resistant (not the other way around), and that created HUGE value.
If ZEN mantains his asic-res

[2018-05-04 22:49] moyumz commented on #142
I'd also like to add to the discussion the issues we will face with accessibility if we were, as a community to allow Bitmain ASIC's into the network.

We will certainly be excluding a lot of potential participants whom are interested in ZEN and also burning existing contributors that have continued to support the network over the entirety of the project by essentially raising the cost of entry in

[2018-05-04 23:32] rocknet commented on #142
I guess I'll have to be one of the few dissenters.  My thoughts are pretty perfectly reflected in this blog post, so I urge the anti-ASIC folks to read and consider this: [https://pdaian.com/blog/anti-asic-forks-considered-harmful/]().

If a project is profitable to mine, specialists will specialize.  Why is no one upset about GPUs vs CPU mining anymore?  That was truly one-cpu-one-vote if we want

[2018-05-05 05:52] 10kinds commented on #142
I tend to agree with rocknet on several points here. 10 kH/s at 1/5th the price of a GPU rig is lowering the barrier to entry, not raising it. Bitmain has done some shady stuff, no doubt, but their objective is to release hardware and profit from it... not dictate direction for projects (except maybe BCH and now BTM).

Whether or not ZEN forks won't matter to Bitmain. There will be a handful of Eq

[2018-05-05 06:43] igorvoltaic commented on #142
If we do not accept ASICs Nvidia and AMD will never improve their equipment or even might do that on purpose to have good profits with every new release of their GPU hardware. Bitmain is just a third player here no more no less.

[2018-05-05 06:59] nikmit commented on #142
@rocknet I thing you missed what for me was the main argument in the @aleqx post: the unfair access and distribution of ASICs. As they are specialised for mining and most of the time offer huge advantages for miners using them, there is always the incentive to keep new products secret and accessible to select few and thus cheat the vast majority of the mining community. There is no comparison betw

[2018-05-05 10:43] PeaStew commented on #142
@rocknet I'm agnostic, but the efficiency argument goes out the window when the difficulty increases due to the increased hashrate from the ASICs, effectively it is a zero sum game, as it was intended to be. The difference being that if the large miners are using ASICs and they are switched between different blockchains (opportunistic mining) as we have experienced recently with ZenCash, if all th

[2018-05-05 13:18] NagyGa1 commented on #142
Sorry for the off, just a short note. Communism was never a good idea even theoretically, read up on the clear explanation by Ludwig von Mises some 100 years ago. Was clearly spelling out what is going to happen and why - no coincidence it happened that way.

[2018-05-05 13:33] aleqx commented on #142
@NagyGa1 you're still discussing the implementation (at the time, future implementation given current context and predictions), not the idea. Self-policing works great in Switzerland, but would be a catastrophe in Somalia. Current ASIC "market" if further encouraged/embraced would be a similar catastrophe for crypto.

[2018-05-05 13:35] NagyGa1 commented on #142
Agree. But communism still necessarily does not work anywhere. :)

[2018-05-05 13:38] NagyGa1 commented on #142
Sorry, I was really off, I did not mean to weigh in on the ASICS discussion, was purely commenting on Communism. Now I am so off that I better off.

[2018-05-05 14:56] ebadiere commented on #142
Should this be put to a vote on the blockchain?

[2018-05-05 16:11] koljenovic commented on #142
ASIC resistance is a myth at best, mining itself has an inherent vulnerability, a looming threat that will not be removed by fighting either a single entity or technology. I am looking forward to seeing Innosilicon, Baikal and Halong ASIC miners with even better performace. Not keeping up is a much bigger threat, as it leaves the network weak in a relative sense and nobody can prevent a malicious

[2018-05-05 17:30] aleqx commented on #142
Quoting a project lead who doesn't care where the hashrate comes from but takes a whopping 20% founders fee (please don't bring up the fact that it drops to a very low value, that's in 20+ years time) and accuses those against ASICs that they are just trying to protect their GPU interests is hardly a rational rhetoric. The reverse accusation could be made and would be just as twisted and unhelpful

[2018-05-05 17:34] PeaStew commented on #142
@ebadiere Actually many of us are arguing against the concept of continuous hard forking and the ensuing troubles related to that to fight this non-static and adaptable threat (it's possible this is in fact an FPGA and not a static ASIC). Nothing to do with protecting or discriminating against mining interests on either side but rather protecting the the stability of the rest of the project.

[2018-05-05 17:35] PeaStew commented on #142
@alexq actually I do work in the semicon industry and plenty of "stealth ASIC" development happens all the time.

[2018-05-05 17:37] aleqx commented on #142
@PeaStew you may be talking about prototype FPGA based solutions. Certainly not high volume ASIC solutions. A handful of pieces of kit isn't the problem here.

[2018-05-05 17:41] PeaStew commented on #142
@alexq I am not saying the "stealth ASIC" development that I am aware of is for crypto, I'm just saying it is an industry phenomena that such development occurs.

[2018-05-05 17:43] aleqx commented on #142
@PeaStew I knew what you meant and my point still stands: it's not high volume enough to actually matter (if it was it wouldn't be stealth, not for too long anyway).

[2018-05-05 17:59] koljenovic commented on #142
The only interest I am arguing in favor of is long term stability and viability of ZenCash and cryptocurrency space itself, in the best way I see fit given my very pronounced human limitations, which I aplogize for. I myself am as I have already mentioned a GPU miner, operate among other things 5 ZenCash nodes for myself, and 3 for my family and friends. I am perfectly aware that a lot of people h

[2018-05-05 20:01] Stephenglfox commented on #142
What we should all realize is that the BitMain AntMiner Z9 mini is just that. A MINI. The fact that they limit each order to one item sounds very much like social engineering to gain acceptance and lull the coin's brain trust into indifference.

If properly designed the Z9 will have configuration settings to allow mining with any Equihash parameters as long as supporting memory is available. Once

[2018-05-05 20:33] koljenovic commented on #142
@Stephenglfox wouldn't it be a bigger blow to Bitmain and centralized mining interests to fork if the eventual (breach of trust) Z9+ megaminer happens? There would also be much more info on the design of the thing itself and some time advantage to plan a defense strategy, also offering some technical insight what direction to take. Regarding the Monero scenario, Bitmain is most probably just going

[2018-05-06 00:49] ebadiere commented on #142
So is there a timeframe for any kind of decision on this?

[2018-05-06 00:51] Stephenglfox commented on #142
@koljenovic et al. If the Z9 is permitted into the ecosystem the GPU miners will eventually fall bye the wayside and you will become dependent on an undocumented ASIC manufactured by a secretive monopoly. If bitmain waits long enough for GPU's to leave the network, the Z9+ will present a checkmate on control of the hash power on your network.

If the brain trust agrees that the DASH ASIC strategy

[2018-05-06 01:45] NagyGa1 commented on #142
@10kinds "10 kH/s at 1/5th the price of a GPU rig is lowering the barrier to entry, not raising it."

Not true at all. Forking out $2k vs $0 because you already have a GPU in your PC for whatever purposes, not to mention that the $2k is going to worth 0 within months while the GPU is not.

Moreover, once the $2k hardware is on, it forces everyone to use them, game over for anyone not using them.

[2018-05-06 01:50] NagyGa1 commented on #142
Moreover, if you wish to develop your coin to something worthwhile, you need wide acceptance, you need a fanbase.

Having thousands of smalltime GPU miners are a great gift for that, they are the best cheerleaders.

Losing them and pissing them off would be a huge loss, I am not sure why a salesman like Zooko does not even worry about this.

[2018-05-06 01:57] GuylainLavoie commented on #142
Equihash was created to be resistant to ASICs and that was for a very good reason. The goal was to be ASIC resistant and thus reducing centralization by enabling everyone with a decent GPU to participate to the mining process. Centralization of the mining process put everyone at risk. These ASICs are mostly produced in Asia where freedom is often limited and where governments monitor and persecute

[2018-05-06 02:11] PeaStew commented on #142
@GuylainLavoie what does this have to do with security?

[2018-05-06 02:18] aleqx commented on #142
Glad someone is finally bringing up this point ... how many of you have dealt with chinese miners, the crypto farm kind? how many of you have took part (or at least read about) meetings between miners and devs around bitcoin? the attitude from the asic farm miners is the opposite of what Zen has continuously touted about (community spirit, etc). Apathy, general non-participation, preferring to be

[2018-05-06 04:11] peteyteepee commented on #142
I wholeheartedly concur with aleqx! Bitcoin is a shining example of centralization. If they brick asics, they brick their coin. It's too late. The world's most popular cryptocoin is controlled indirectly, by Jihan Wu. The argument that AMD and Nvidia are no different from Bitmain is false. AMD and Nvidia did the legwork to make their products readily available to virtually everyone. In addition, t

[2018-05-06 04:38] NagyGa1 commented on #142
All the rhetoric aside - which is just cheap talk -, it will come down to one single "argument": when miners use hardware vendors like AMD and NVidia, the coin developer does not get any share from the daily mined coins.

By cutting a deal with Bitmain, the coin developer can tap into an large additional source of revenue, without doing much for it.

It is no surprise that ETH decided what it did,

[2018-05-06 04:42] moyumz commented on #142
@nagyga1

You're advocating for corporate interest and endorsement. Explain to me how that is beneficial to a decentralised economy and network?

If that mentality is rife within the community, this experiment is effectively failed.

What's wrong with a donation model? Vertcoin has this, for development, general expenditure and etc.. in which the community donates towards...

Their OCM also provid

[2018-05-06 04:51] NagyGa1 commented on #142
@moyumz I am not advocating for anything, I am just telling you what's going on behind the scenes. If you ask me, on long term this is definitely bad for the coins, but immediate profits largely overrule that kind of logic.

Just wanted to add as well that it is highly unlikely that Bitmain invested shitload to an ASIC, or if they did, rolled out their ASIC for public and risked their hidden minin

[2018-05-06 04:57] moyumz commented on #142
@nagyga1

It's hard to speculate on what is happening behind the scenes between the development teams and Bitmain, simply because we aren't involved.

However, collusion between the development team and Bitmain, if this to be true should be shunned and condemned.

If it could be agreed, that the Bitmain effect in the long term will be absolutely detrimental to the progress of the industry, market

[2018-05-06 05:01] NagyGa1 commented on #142
@moyumz

Precisely for the same reason why Communism does not work: any system assumes altruism from participants deemed to fail.

[2018-05-06 05:01] NagyGa1 commented on #142
....however, I hope you will defy that logic.

[2018-05-06 05:04] moyumz commented on #142
@nagyga1

The users are what gives the network value.

[2018-05-06 07:34] nikmit commented on #142
Some great arguments presented - I found myself giving 'thumbs up' to both sides...
There's two aspects to this discussion - a long term strategic view of where we want to go, and an immediate term 'what will we do right now'.

To figure out the long term stance some analysis of the arguments made so far should help but my feeling is that there will be most support for 'accept ASICs once there is

[2018-05-06 14:05] blockops1 commented on #142
Excellent discussion, just had a chance to read through the points made by everyone. Involving all who have an opinion and well-reasoned argument allows us to address many different points when making a decision on which way to go.

For gathering more information, it would be useful to determine what changes can be made, and the effect of those changes, just like @nikmit mentioned above.

One of t

[2018-05-06 14:11] PeaStew commented on #142
@blockops1 agree upstream is most important, particularly for sapling, after that who knows. But such a dependency means any decision has to be made by Zcash first right?

[2018-05-06 14:15] blockops1 commented on #142
Not sure if we need to wait for Zcash to make a decision. If we can pull upstream improvements and just change Equihash parameters every time we pull improvements, then as long as Zcash maintains Equihash as the algorithm, ZenCash continues to get the benefit of upstream improvements (assuming current open-source license is maintained by Zcash, of course, which is entirely different discussion)

[2018-05-06 14:25] Sto1cNate commented on #142
@blockops1 @PeaStew I will also parrot that agreement for upstream improvements. I have had a bit of time looking into some of the equihash changes other projects, like ZERO have made. ZERO boasts that their solutions are smaller (about 3.3x smaller), whilst at the same time increasing complexity and memory usage by over 16x.

Looking at their main bitcoin talk thread, the number of sol/s are decr

[2018-05-06 14:28] PeaStew commented on #142
@Sto1cNate what a can of worms that would be, pitting low RAM miners against high RAM miners? Divide and conquer? ;)

[2018-05-06 14:29] Sto1cNate commented on #142
@PeaStew I just had to edit my post, missed one part where they mentioned it can be ran on AMD cards with 4GB.

[2018-05-06 14:46] blockops1 commented on #142
Here is some useful information regarding Equihash parameters and memory requirement from Optiminer https://github.com/Optiminer/OptiminerEquihash

Optiminer/Equihash
GPU miner for Equihash supporting many coins. A (probably incomplete) list:

Zcash (-a equihash200_9)
Bitcoin Gold (-a equihash200_9)
Hush (-a equihash200_9)
Zero (-a equihash192_7)
Minexcoin (-a equihash96_5)
Kommodo (-a equihash200

[2018-05-06 14:49] Sto1cNate commented on #142
@blockops1 Thanks. Fortunately I was doing some experimenting with one of my 12 card rigs in the past and have a high spec i5 quad core with 8GB of RAM. Let me know if there is anything I can help test out.

[2018-05-06 15:06] Stephenglfox commented on #142
@blockops1 keep in mind that bitmain made a claim that the Z9 can mine equihash. Not Zencash, ZCash, BitCoin Private or any others. It stands to reason that they have taken into account that equihash algorithm parameters can be changed. At this time the amount of memory inside the Z9 is unknown. There is also a 180 day warranty which could allow them to upgrade RAM or change internal configuration

[2018-05-06 15:14] Sto1cNate commented on #142
@Stephenglfox the limit one order, and the mini SKU could also be Bitmain testing the waters for how the market will react. They're in the business of making money, and probably don't want to waist all their R&D on a full size unit, probably 4x more powerful. Just my own speculation.

[2018-05-06 15:25] aleqx commented on #142
Too much speculation already.

@blockops1 please consider putting out a call for a (faithful) Zen fan to lend you one of these ASIC miners so you can dissect it. You're far more likely to get one this way. I'm sure you can get help for analyzing it, but if you need it, I would try my best to make time to provide assistance (my first large scale FPGA and ASIC designs were in 1998 as part of a compa

[2018-05-06 15:32] elkimek commented on #142
@blockops1 have you already contacted the person as I proposed in the mail? They know the shit like noone else and can be very helpful with this matter at least on the insight side. If not, please give it a shot.

[2018-05-06 15:48] blockops1 commented on #142
@aleqx and @Stephenglfox completely agree that we need to see what the actual design of the miner from bitmain is before making any changes.

 If it's a purpose-built processor or fpga with external memory interface then merely changing equihash parameters could be easily circumvented by minor code changes and adding external memory.

Fpga experience is definitely helpful. Back in the late 90s I w

[2018-05-06 15:49] blockops1 commented on #142
@elkimek  thank you for putting me in touch with industry experts and I did have a chance to reach out to that person on email every conversation and bit of information helps.

[2018-05-06 18:18] blockops1 commented on #142
Here is an interesting thread posted May 1 about build on FPGA: https://bitcointalk.org/index.php?topic=3459858.0
----quote
People asked me to make a new thread on this topic, so here it is.

Here are some pics and video of my 8 x Xilinx VCU1525 rig.  Each VCU1525 card has one Xilinx VU9P Virtex Ultrascale+ FPGA.  Hash rate for the whole rig combined is:

Keccak (Smartcash, Maxcoin): 136GH/s (17GH

[2018-05-06 18:33] MrGold86 commented on #142
I just read this article, http://markwilcox.com/articles/03/.  It is a great read, and especially revalent to this discussion is this paragraph:

ASICs aren't a weakness, they're a strength.

ASICs ensure that energy pointed towards the chain is in line with the security model to defend the currency against third party attacks. Requiring a significant capital investment of specialised hardware ali

[2018-05-06 18:58] ekool commented on #142
100% in favor is keeping this coin ASIC resistant. Bitmain is a behemoth who has proven time and time again to be hostile to anything that hurts their profits -- even at the detriment of miners and upgrades to coins. Will not support Zencash if it does not hard fork. (I run 3 secure nodes and mine Zencash currently) -- while I can mine and support other coins, I choose to support Zencash because o

[2018-05-06 19:14] slayorktc commented on #142
I have been mining ZenCash since it forked from Zclassic. I have enjoyed the ride but ASICS are the only way to ensure the security of the network. I don't like BitMain but I noticed that they are limiting 1 asic per person which would help keep it decentralized. Regardless, I like ZenCash enough to help secure the chain into the future and purchased the ASIC. Moved the GPU farm over to RavenCoin

[2018-05-06 19:16] ekool commented on #142
I can't understand how someone can say this: "I don't like BitMain but I noticed that they are limiting 1 asic per person which would help keep it decentralized" -- So let me get this straight, since they are the ONLY ONES making an ASIC, but because they are limiting them to "1 per person" -- when in reality, they won't even do that.... you think that keeps it decentralized? If they want to make

[2018-05-06 19:33] blockops1 commented on #142
For changing Equihash parameters, Tromp (creator of Tromp solver) recommends 144, 5. here is a quote from the thread https://github.com/zcash/zcash/issues/1211

---quote

The current parameters are putting Zcash at risk of a single-chip ASIC, which is the worst possible outcome.One of the goals of a memory hard PoW should be to force off-chip communication to separate memory chips, so as the make

[2018-05-06 19:39] blockops1 commented on #142
My point about posting a FPGA miner that is state of the art is to show what they can do. FPGA's are a stepping stone to an ASIC miner, so if it can be done in FPGA, it can be done in ASIC. That FPGA miner can solve X16R without a problem.

More quote from the Bitcointalk FPGA thread:
---quote
- It is possible by using data from initial algorithms to project the hashrate within +/-10% for future a

[2018-05-06 19:45] Sto1cNate commented on #142
With all the FPGA news coming out (which is awesome BTW), it is looking more and more like the real question is.... What is the real benefit of changing the POW algorithm? With people willing to open up their work on FPGAs to the public like the poster on bitcoin talk, this can obsolete GPU mining if brought to scale. The poster also mentioned the manufactures of these chips having no issues with

[2018-05-06 20:04] aleqx commented on #142
Who paid for the PCIe license? Last time I checked a pcie IP core was bloody expensive. I'm not impressed by that rig. The economic model would eventually turn it into another Bitmain-like product or a one time hobby inaccessible to most. I can't see that person or anyone else offering the fpga core for free (why would they?) but at the same time starting production means developing a serious comp

[2018-05-06 20:06] Oubiizii commented on #142
Gpu miners are fans and voice for your coins. What would be the current price of zen without Community and gpu miners?

[2018-05-06 20:10] koljenovic commented on #142
Here is a study on lessons learned when Bitcoin had the same issue: https://download.wpsoftware.net/bitcoin/asic-faq.pdf

Definitely worth a read and a lot to learn.

[2018-05-06 20:37] grenwolde commented on #142
I am new to this community and GPU mining -- I do own a L3+, for me, the appeal of GPU mining has been the decentralization and the technical challenge of maintaining my rigs.  However, I am not naive enough to ignore that as long as there is an opportunity for profit companies will enter and hawk their hardware.  I personally believe that ZenCash should fork and remain asic resistant, however tha

[2018-05-06 22:11] blockops1 commented on #142
@koljenovic  thank you for posting the link to that paper. It is an interesting read. Theoretically, Asics should not be bad and decentralisation should only be temporary, but a lot can happen during the temporary centralization of hash power of a cryptocurrency, especially one that is in it's early growth stage.

 It appears that paper was written when the Bitcoin proof of work was SHA-2, as oppo

[2018-05-06 22:15] blockops1 commented on #142
There are benefits to the Equihash algorithm, and the ability to change the parameters to achieve different performance is a potentially useful feature.

The full Equihash paper is worth a read and is available here https://www.cryptolux.org/index.php/Equihash

One of the concerns that I have about potentially changing the parameters of the equihash algorithm within zencash is the effect upon back

[2018-05-06 23:55] aleqx commented on #142
I would also not be quick to assume that the Z9 mini can adapt to changes in Equihash parameters. If it's an ASIC and not an FPGA (and judging from the price, it's an ASIC) then chances are it's rigid and can be rendered useless in many different ways that are easy to implement ... similar to Monero - if the XMR ASIC had been flexible, we'd have already seen the Monero hashrate back up to March le

[2018-05-07 00:14] blockops1 commented on #142
Regarding the potential of changing the N and K algorithms to 144 and 5 as suggested by @tromp here, it should make the Equihash verification more efficient. https://forum.z.cash/t/let-s-talk-about-asic-mining/27353/137 is a post from @Daira (zcash developer)

---quote from link

This was a scheduling and technical risk decision: we don’t have time or sufficient headroom in the complexity+risk bud

[2018-05-07 00:34] Stephenglfox commented on #142
It stands to reason that another company can mass produce an ASIC using a FPGA development platform offered by the Xilinx VCU1525 or Bittware XUPP3R-VU9P. Why not have an EQUIHASH consortium develop and release an OPEN SOURCE DESIGN for an ASIC. This way any company can manufacture the design and sell it on the open market.

You would be creating an ecosystem similar to NVIDIA or AMD and have manu

[2018-05-07 01:03] tarrenj commented on #142
There's been a lot of great points made by both sides here!  It's becoming clear to me that we'll need a vote to decide this.  With the DAO and On-Chain voting still a ways away, what do you guys think the fairest way to conduct a vote would be?  We have to take into account all the users who aren't active on Discord, GH, or BTCTalk.  We can distribute the vote via the announcement mailing list, b

[2018-05-07 01:16] blockops1 commented on #142
@tarrenj We are not ready for a vote, much less a vote that will decide what we will do. Have you tested what using a different algorithm would do for exchange and hardware wallet integrations? For upstream compatibility with zcash improvements like Sapling? For any of the other issues and questions I mentioned above?

[2018-05-07 01:38] tarrenj commented on #142
I don't see asking for input on how to conduct a fair vote as anything binding.  It's true we still have to research all the above points, but it's possible we'll come to the conclusion that a vote is the best option, and if so, having some feedback on a fair way to conduct one would be beneficial.

As for HW wallet and exchange support, changing the PoW algo *shouldn't* affect them Apart from req

[2018-05-07 01:51] blockops1 commented on #142
ok, cool, I thought you said we need to vote to decide this, glad you did not mean it as binding that we would make a decision by voting.

It seems to me that if we change the proof of work algorithm at a specific block, that older blocks would use the original algorithm for hash verification, and newer ones the new algorithm. Not a big deal with transparent transactions, but we also have shielded

[2018-05-07 01:59] kgcrypto commented on #142
@tarrenj I've heard that VoteCoin would be useful, but hopefully you're not thinking the actual direction of the project would be determined by the vote.  I think the vote would be useful to determine if we should even spend the energy doing the research that @blockops1 has been doing. (Not to say that it isn't useful!)  Maybe the majority is actually cool with the ASICs. I know there are a lot of

[2018-05-07 02:04] tarrenj commented on #142
Edited the earlier post for more clarity.

@kgcrypto good points.  I'm playing around with changing the EQ params now too, but without being a real blockchain dev I don't have faith that my attempts at testing will cover all the edge cases.  The quote above from @bitcartel is pretty helpful, I'd encourage everyone to take a look at that and do some testing too!

[2018-05-07 02:05] rocknet commented on #142
I've seen some state that their main problem with ASICs is only having one provider.  It seems to me a great way to ensure that no other providers emerge is to try to shake off the first provider.  Some also believe the company is already mining with them.  I doubt this considering they don't even know the final specs yet, but if that is the case, Bitmain offering these for sale to people helps de

[2018-05-07 02:16] tarrenj commented on #142
@kgcrypto Why not?  This is a community project, so I'm not sure how we could go against the communities wishes in good conscious.

[2018-05-07 02:35] grenwolde commented on #142
The problem of there being only current developer fo the asic product is a serious one.  I believe from an efficiency perspective the asic type of tool is inevitable -- however, it is how you develop that tool, the impact on the community, and impact on the coin ecosystem and purpose.  You can as is currently happening to allow a single company come and essentially take over, or in a more pragmati

[2018-05-07 02:44] crypto4techs commented on #142
All of the algorithms which have fallen to ASICs as of late have touted ASIC resistance from the beginning. You wanted your coin(s) to be ASIC resistant because, like the rest of us, you saw the danger of centralization, the danger of one company having too much control in crypto. You, and every other coin project team have a choice to make right now. Are you going to stick to the principals on wh

[2018-05-07 02:49] kgcrypto commented on #142
@tarrenj Well, feasibility of an immediate solution is what I'm getting at. I am 100% for having a vote. In fact, I suggested some radical ideas in my forum post here: https://forum.zencash.com/t/the-asics-are-here-what-does-the-community-think/1786/11.  If the community is ignored and given no outlet to voice their opinion, they should state it by hook or by crook, even if it means taking the net

[2018-05-07 03:27] zenstudy commented on #142
For the case that ASIC miners will occupy the Equihash network. I think the ZEN official should change the algorithm for four reasons:

1. It can increase the exposure frequency of ZEN. With the action of changing algorithm, it can increase its exposure rate and expand its influence.

2. It can be a way for a large number of miners. a large number of miners have no mine, BTC can not dig, DASH can

[2018-05-07 06:26] darutse commented on #142
I like it ASICs free, because 1) I like to think that a small GPU miner/pool has something to say in all of this. 2) All ASICs manufacturers are dirty scumbags that deserve to be punished (well they will still be in green, so not so much of a punishment) 3) If a project ever gonna change it stance on ASICs it should be done prior of such threats, for it to be more coherent, accepted, and not feel

[2018-05-07 06:49] SoftWomble commented on #142
This discussion should have really been initiated when the Ethash miner was released (or earlier when the rumors surfaced), so a clear position could have been published prior the Z9.

I generally think that forking being suggested by many is a stalling action, not a full answer.  After a fork how long until the new algo is also 'cracked'? There is also a risk that any fork will also invalidate so

[2018-05-07 07:47] koljenovic commented on #142
@blockops1 SHA-2 is a family of similar algorithms that among others includes SHA-256 and differ on digest size.

@tarrenj the idea of a vote is a feasible one, I suggested using `uacomment` (because of nodes voting) but zend does not have it as it was forked off on 0.11.2 and it was fully implemented in bitcoind 0.12.0 as per https://github.com/bitcoin/bips/blob/master/bip-0014.mediawiki

I would

[2018-05-07 11:51] LordMajestros commented on #142
I think we should all watch this thread for developments
https://github.com/monero-project/monero/issues/3545

[2018-05-07 11:51] LordMajestros commented on #142
I think we should all watch this thread for developments
https://github.com/monero-project/monero/issues/3545

[2018-05-07 12:40] nikvladan commented on #142
Wow where to start. First of all, I am strongly against ASICs mining. Full disclosure, i do own few rigs, total hashpower 5800 Ksol.

First, I would like to start with Z9 mini. A lot of people assume, as well as I do, that Bitmain already used these miners since January. Someone mentioned even seeing dust on the fans, they didnt even bother to clean it for a picture. Nowhere on the website it says

[2018-05-07 13:05] shmocs commented on #142
guys, regarding the voting : one place where every miner is headed often (if not daily) is the wallet where he mines into. So the wallet has to have a Vote section. I don't know if this function is scheduled for development, but for a decentralized community this is a must. A use Arizen for the moment.

As I saw in Neon wallet for NEO - anytime an update is rolled out on github, it asks you to upd

[2018-05-07 13:42] aleqx commented on #142
Following Monero's development is indeed advisable. I also like that all their meetings have publicly available minutes. Full transparency. Here are the full logs of their meeting where they discussed ASICs **before** Bitmain announced the Cryptonight ASIC.

It is known and proven that Bitmain and the ones who got ASICs privately from Bitmain before the public announcement (these are actual energy

[2018-05-07 13:50] PeaStew commented on #142
I'm not sure what is immoral about what they are doing? They are innovating.

Is it immoral for those with more money to buy more GPUs/have cheaper electricity/land that anyone else in the curent situation? There are natural advantages for all sorts of people/companies/entities in almost any economic system, having an advantage and using is it is not immoral, in fact it has nothing to do with mora

[2018-05-07 13:58] PeaStew commented on #142
btw, above is not argument one way or the other, just that it is, in my opinion, a specious argument to prop one entities capitalism against anothers as more "moral".

[2018-05-07 13:58] aleqx commented on #142
@PeaStew you might want to read about fair competition, anti-tust etc and why there are actual laws for those (actually enforced in some countries but absent or not enforced in others).

[2018-05-07 13:59] PeaStew commented on #142
I have read a lot of it, I've also read a lot about the downsides of picking winners and losers in a free-market.

[2018-05-07 14:36] aleqx commented on #142
Not sure what you read but Bitmain's behavior (take just the XMR miner) is certainly neither moral nor capitalist, promoting fair competition to the consumer's benefit (that's what fair competition/antitrust means).

Picking winners/losers is an entirely different matter - if the market is indeed free and regulated then picking winners/losers gets the likes of Warrnet Buffet rich, but if it's corr

[2018-05-07 15:34] Stephenglfox commented on #142
@aleqx @tarrenj @blockops1 et al. I think it is necessary for ZEN to fork to another algorithm and make that announcement soon. Choose perhaps X16R, Lyra2REv2, or CryptoNightV7 to gain additional eyes on the chosen algorithm.

ASICs, FPGAs will always be around to pose a 51% attack risk on any crypto network. Even when you think you have built an insurmountable hash rate with ASIC miners the next

[2018-05-07 15:37] PeaStew commented on #142
https://forum.z.cash/t/let-s-talk-about-asic-mining/27353/137

Forking to a different algo would make merging sapling improvements from ZCash extremely difficult. Sapling will make privacy transactions mainstream and is therefore an extremely important usability upgrade for ZenCash.

[2018-05-07 16:25] Stephenglfox commented on #142
@aleqx agreed, I should have included multi-sourced.

[2018-05-07 16:58] PeaStew commented on #142
@aleqx it's not about embracing ASICs at all, but there has to be a cost benefit decision, miner protection is important on the one hand, but so is the long term plans for the ZenCash platform, much of which is designed for the usability proposed by the sapling update. Without having the capabilities of the ASIC (or FPGA) known, it's impossible to tell if equihash parameter changes (as suggested b

[2018-05-07 18:09] LordMajestros commented on #142
@PeaStew
I think we know the question.
Let me phrase it thus:
"Does embracing the bitmain Z9 pose more risk than benefit to the zencash community and the future of zencash?"

[2018-05-07 18:11] PeaStew commented on #142
Do you know the capabilities of the ASIC? No. Then all you know is what the Bitmain website tells you and if they are as untrustworthy as you say, then it is poiintless to use that as proof of anything to be worried about. QED.

[2018-05-07 18:18] LordMajestros commented on #142
@PeaStew I think it is about embracing asics. More specifically asics produced by one company. A company located in China. A company that determines how many units are sold and to whom they are sold. A company whose miners always call home (https://bitcoinmagazine.com/articles/bitmain-can-remotely-shut-down-your-antminer-and-everyone-elses/
http://www.antbleed.com/).

The question is what are the

[2018-05-07 18:29] PeaStew commented on #142
@alexq No, it's not, it is a strawman, characterising the argument of "wait and see, lets look at all the possibilities and weigh the risks and benefits" as "embracing". It's lazy logic to serve your arguments purpose. There is no decision present in any of the statements from the team and yet this is presented as a decision pro ASIC without any recognition of the lack of precise information on th

[2018-05-07 18:43] aleqx commented on #142
@PeaStew your stance is getting odd and feels like an attempt to limit/stop the discussion. The whole discussion here is most definitely about whether or not Zen should embrace ASICs. The title and first post asked for exactly that. Everyone presented their opinions and arguments, as requested. We also all agreed that more details about the Z9 miner are needed and that extra dev effort is required

[2018-05-07 18:45] PeaStew commented on #142
Fair enough.

[2018-05-07 19:02] LordMajestros commented on #142
@PeaStew I'm just phrasing the question as I understand it. I'm not asking for an answer immediately.

[2018-05-07 19:02] LordMajestros commented on #142
@PeaStew I'm just phrasing the question as I understand it. I'm not asking for an answer immediately.

[2018-05-07 19:11] koljenovic commented on #142
@slayorktc monero and it's forks are very sensitive to hashrate variations and do reorg quite often, 21 is an outlier for sure but nothing impossible, also monero wallet double spend issue is very common when  people use the same keypair with more than one wallet file, requiring the user to rescan or sometimes even to start fresh, especially if the wallet picks up on a reorg

[2018-05-07 20:46] JamieTwelve commented on #142
As a miner, I can appreciate the concern that exists when considering a fork of the algo. It has to feel like blowing everything up. And no matter what, after the fork, Zen would never be quite the same. I can understand all of that.

The thing is, we know what it looks like when a coin doesn't fork, and when one does. I came into the crypto scene too late. Too late to mine Bitcoin. I'm a miner, a

[2018-05-07 21:03] daemonfox commented on #142
I'd like to make a few points and possibly argue for doing something very different than I have read here so far. If someone else mentioned this, then please give them credit.

Points:
1. ASIC resistance is a lie... anyone can make an ASIC for any algo... it is only a matter of it being profitable. This tends to not be an issue for ASICs... adding large hashrate  to the network tends to drive up c

[2018-05-07 21:15] aleqx commented on #142
This discussion thread is no longer helpful. It was only a matter of time, as with all open-source projects, that someone comes along to say "if you don't like it, fork it and make it better and piss off, else stfu". I'll be waiting for the vote.

Leaving aside the attitude towards others, the developers of this open-source project are not doing it for free. They take a fee from us miners, and the

[2018-05-07 23:18] Spiral11 commented on #142
I would like to see more testing done with the 144,5 equihash params which have been mentioned several times in this thread. Ideally we need to obtain a Z9 beforehand to see if that change is sufficient in preventing it from working but from what I have read there are also other benefits to using these parameters regardless and the change is trivial to implement in comparison to alternatives like

[2018-05-08 02:32] moyumz commented on #142
@rayacayan

The difference between Nvidia & Bitmain is that Nvidia produces the chips and sells them to partner manufacturers such as Evga, Asus, Gigabyte, Galax, Colourful, MSI, Inno3D & Etc.. which then adds the other necessary components to finish off the product then bring it to market.

Bitmain produces the ASIC's in-house, don't have any manufacturing partners nor provide reference designs i

[2018-05-08 02:49] PeaStew commented on #142
@moyumz those are just different business models, it's still a free market if someone innovates a better product and uses it exclusively. Why do we decry a company willing to invest in innovation, shouldn't we more annoyed that others aren't doing more to compete?

[2018-05-08 03:29] amanalar commented on #142
Would people rather bitmain didn't sell the z9, and they just continue mining in stealth under the guise of GPUs.

Look at the GPU market. I'm a small time miner and I can't afford these GPU prices. I don't have connections to get p106/104s. Both AMD and Nvidia have recently been on a tear about limiting GPU's purchases to gamers. Retailers are doing bundles now to make sure these go to gamers.

I

[2018-05-08 05:38] nikmit commented on #142
@PeaStew

That's just not fair - I am yet to see anyone in this discussion find fault in Bitmain's willingness to invest in innovation. There were many people who did find fault in other aspects of their practices though, like getting their products to 'call home' and arguably being able to control those devices post-sale. I can't personally prove that to be true, but find it likely since they hav

[2018-05-08 05:44] nikmit commented on #142
@amanalar you can be pretty certain that they did mine in stealth mode. As global hashrate increases though to the point where mining with GPUs becomes pointless, it becomes obvious that someone is raising the hashrate with a device other than a GPU, or else mining at a loss. It is better for them to go public before that point than to continue mining in stealth and get caught.

[2018-05-08 06:05] igorcassio commented on #142
I see no advantage ... Even being greedy.

Let's evaluate.

1. Even if you are selfish and accept ASIC and make an ASIC FARM. In a few months mining will not compensate, not even if you have an ASIC FARM.

2. Most people who mine, like to mine a coin with a good project, it's worth it. These people, besides mining, end up buying, making videos, participating in the community. With ASIC, it will no

[2018-05-08 06:30] LordMajestros commented on #142
Hava a look at the zencash hash rate classified as "Unknown" here: https://miningpoollists.com/zencash/

[2018-05-08 07:26] moyumz commented on #142
Bitmain have now increased the limit  in regards to their Z9 mini ASIC to 50 units per purchaser. This is not good news.

[2018-05-08 07:40] LordMajestros commented on #142
@moyumz I just checked and that is not the case as of this moment. Perhaps they made a mistake

[2018-05-08 07:45] moyumz commented on #142
@lordmajestros

https://shop.bitmain.com/product/detail?pid=00020180508093353839KImUPAl00686

3. To ensure that more individual buyers can purchase miners in this batch, we have set a limit of 50 miner per user.

How about, check again? Try and check-out as well.

[2018-05-08 08:16] shmocs commented on #142
<img width="1241" alt="screen shot 2018-05-08 at 11 14 20" src="https://user-images.githubusercontent.com/11268174/39745820-14c7cfca-52b1-11e8-8254-8addefee9140.png">

To ensure that more individual buyers can purchase miners :)) switch from 1 to 50. Excelent logic.

[2018-05-08 08:30] LordMajestros commented on #142
@moyumz Yes, confirmed it. Wow. Looks like equihash just got owned.

[2018-05-08 11:43] daemonfox commented on #142
Some numbers for thought... rough calc we only have ~700 Msols across 8 coins. anyone want to do that math??? How many GPUs you think that is? Let's just assume they are all 1080TIs shall we? We've got 1000 GPUs holding up Equihash right this moment, maybe more maybe less at times... but that's the rough calc.

News flash... Equihash miners are a MINORITY and every one of you who noted you got one

[2018-05-08 12:03] NagyGa1 commented on #142
@daemonfox I think you meant to calculate with 1,000,000 1080ti-s.

[2018-05-08 12:04] koljenovic commented on #142
@daemonfox Your maths is somewhat off, but your reasoning is correct. ATM Equihash is mined on an equivalent of roughly 1.3M latest-generation high-end GPUs.

[2018-05-08 12:05] NagyGa1 commented on #142
@koljenovic You won by 8 seconds.

[2018-05-08 12:08] daemonfox commented on #142
Edited before any of you commented anyways... never post pre caffeine!

[2018-05-08 12:54] koljenovic commented on #142
https://www.cryptoninjas.net/2018/05/07/epic-blockchain-and-aion-partner-to-accelerate-equihash-processing/

[2018-05-08 12:59] shmocs commented on #142
hahaa.. you all slipped in the pitfall.
Whether it is 1000 or 1000000 "GPUs" - they are not all GPUs.
Did you guys followed the pie here ? https://miningpoollists.com/zencash/
Or here ? https://miningpoollists.com/zcash/
Or here ? https://miningpoollists.com/zclassic/
...
Ofcourse, among those unknown miners it is not impossible to find some solo miners with a lot of hashpower. But... I have an id

[2018-05-08 13:10] nikmit commented on #142
@daemonfox

How about this: because the hardware specifically designed to mine equihash is made by a company [caught to install backdoors](http://www.antbleed.com/) in other similar products designed to enable them to turn off devices? Allowing that product will not 'bolster the amount of hardware sustaining Equihash', it will reduce the amount of hardware that is practically usable and available

[2018-05-08 13:15] daemonfox commented on #142
@nikmit

They won't be the only miner vendor... see the above post about aion. You are making a targeted argument to change the algo because of one vendor when the change will lock out ALL vendors also working on their own implementations. Your stance only holds weight while Bitmain has the only miner.

[2018-05-08 13:30] nikmit commented on #142
@daemonfox

Happy we agree on that one - but that is exactly the situation we find ourselves in. Can you provide an ETA for the arrival of the competition to the mass market?

[2018-05-08 13:36] daemonfox commented on #142
@nikmit nope... which is also why rushing to make an algo change because of a single vendor is wasted effort.

[2018-05-08 13:42] nikmit commented on #142
Sorry, can't quite see the logic in that. You agree the single vendor situation is bad, but because you don't know when there will be any competition (which means the bad situation will remain bad for the foreseeable future) you don't want to address said bad situation?

[2018-05-08 13:54] amanalar commented on #142
Is the situation right now any better? I brought up the point which none of you wanted to rebut. I can not go into a bestbuy and walk out with a 1080ti. Every manufacturer is gouging retailers which are passing on those savings to me. How can you say the situation would be worse.

Here you go, you have ASUS EVGA GIGABYTE PNY MSI ZOTAC. That's six and all of them have managed to gouge the market an

[2018-05-08 14:03] NagyGa1 commented on #142
@amanalar Guess you don't expect that to improve if Bitmain will be the only vendor?

[2018-05-08 14:10] amanalar commented on #142
I know bitmain prices according to profitability which i think is fair.

I know GPU are charging prices that make ROI now 2 years. Let's also not pretend there are multiple vendors in GPU from the six I mentioned all are gouging prices and it's basically just Nvidia for the chipset.

You think Nvidia cares about mining, when their core customer gets gouged like that.

[2018-05-08 14:48] daemonfox commented on #142
@NagyGa1

Take a stroll down the CoinMarketCap list... filter non mineable coins. Now order them by USD value, and disregarding Equihash coins, point me at the highest $ value NON ASIC coin.

GL because they don't exist... yet somehow all those ASIC coins are still chugging along.

Now, compare the current NON ASIC price of Equihash coins... and extrapolate that to near future ASIC hashrate/price

[2018-05-08 14:51] NagyGa1 commented on #142
Ok, that's another aspect. Actually I think PoW should be left as soon as another options mature.

[2018-05-08 14:51] daemonfox commented on #142
So you are advocating for GPU mining death anyways?

[2018-05-08 14:52] amanalar commented on #142
I didn't say Nvidia was gouging I said the six were.

Are you saying AMD is Nvidias competition, much like AMD is the competition for Intel? Have you seen AMD roadmap? That doesn't look like competition that looks like barely floating.

The ROI on a s9 is 1 year. The e3 is also perfectly priced, so I don't quite see your point there.

If there is no fork then what do you think will happen when the

[2018-05-08 14:54] NagyGa1 commented on #142
If we have another option that does not burn resources and just as good, yeah, hell to PoW, GPUs and ASICs.

[2018-05-08 14:58] daemonfox commented on #142
@amanalar HERE HERE! You see the freight train... I do too... this Red Rover line protesting ASICs is nothing more than a potential blood smear on said train.

@NagyGa1 again... they exist... go find the PoS only or Interest button coins and note their value.

PoW gives intrinsic value to a coin because it COST electricity to make. Supply and demand miners tend to not sell coins for less than they

[2018-05-08 15:01] NagyGa1 commented on #142
"The ROI on a s9 is 1 year. The e3 is also perfectly priced, so I don't quite see your point there."

You either don't want to see the obvious or can't seeI don't think this warrants a refute.

[2018-05-08 15:03] amanalar commented on #142
@NagyGa1
k thanks?

[2018-05-08 15:05] NagyGa1 commented on #142
ZCL blocks found last 48 hours:
[code]
The largest miner is `t1SRHDYCdWwvaf9FvW66ZTijUmUBJkPnmtD` who seems to be buying from NiceHash - he only buys during the low difficulty mining window.
However.
I happen to know the guy who runs `t1LQzoaWYCi1mzcuJjJTQqVXMHukXUb7kpB`. He also buys from NH and buys as much he can, he often gets 40-50% of the total NH hashes. Just note that `t1SRHDYCdWwvaf9FvW66

[2018-05-08 15:08] NagyGa1 commented on #142
Same thing on ZEN with `znVPP1YasUfkeNFU8SCXUPzEWyYojF1XVRL` and potentially `znVwP6bbJu2HrH8xUqQ3Wo5iGBBNouRoVA4` suspected ASIC or FGPA hashes aided, `znYf16XQSZwoK7qny2APJaLFMvcwYQ1v1DR` being the known NiceHash miner.

[code]

[2018-05-08 15:13] NagyGa1 commented on #142
Also note that on ZEN the difference is 5x, definitely cannot be NH based.

[2018-05-08 15:25] NagyGa1 commented on #142
@PeaStew "I'm still missing an explanation for why Bitmain is not considered to be operating in a free-market (as opposed to the GPU market) with their manufacturing of an ASIC?"

I think you mix me up with someone, I did not say Bitmain is not operating on the free market. Of course it does. And of course there are no long term monopolies on a free market, so the current BTC state is most likely

[2018-05-08 15:27] PeaStew commented on #142
You stated that nvidia is operating in a free-market (1), your following point (2) does not indicate that the same applies for bitmain. Apologies if that was not your meaning.

[2018-05-08 15:29] PeaStew commented on #142
I also disagree that bitmain is the only one able to produce competitive hardware, we simnply can't assume that, all we know is that they are the only ones openly selling it, which for me, is a positive on the ledger for Bitmain.

[2018-05-08 15:29] NagyGa1 commented on #142
Yes I said that of Nvidia because amanalar was asserting it does not. 2) describes a free market where Bitmain is the best competitor, so much as that they are an actual monopoly and does what was described there. Of course these sort of monopolies tend to be challenged over time.

[2018-05-08 15:30] Sto1cNate commented on #142
With all the FPGA news:

https://www.cryptoninjas.net/2018/05/07/epic-blockchain-and-aion-partner-to-accelerate-equihash-processing/

https://bitcointalk.org/index.php?topic=3459858.0

To me, it is looking like the only real reason to fork POW would be to implement some optimizations to equihash parameters.

Without having the z9 mini in hand, no way to know if it isn't an FPGA or have enough memo

[2018-05-08 15:31] NagyGa1 commented on #142
I would like to note that by 'winning' this argument, one proves that the original selling point of both Equihash and all other coins was f. marketing BS.

Of course that should not be too big of a surprise that people bullshit their ways to profit. :)

[2018-05-08 15:34] PeaStew commented on #142
Well, I think it was naive for Zcash to believe that increasing their market value would not attract strong efforts to challenge it, I don't think that it was intentional BS, big claims require big evidence, dyor :)

[2018-05-08 15:36] NagyGa1 commented on #142
Full disclosure: I own a 1080 (non-ti) for playing Elite Dangerous occasionally. 0 ASICs in the house (that I know of)

[2018-05-08 15:52] nikmit commented on #142
@Sto1cNate I like the quote from Daira - sounds rather sensible. I think we can't expect much more than that in terms of action against ASICs right now and I hope Zcash takes that direction. Open source FPGA would be great if/when they become reality.

[2018-05-08 16:42] PeaStew commented on #142
@alexq you and I have different meanings of the word proof, but I didn't say it is false speculation, only that it is speculation.

[2018-05-08 17:12] aleqx commented on #142
@PeaStew it shows that the hashrate shed by the anti-ASIC fork were ASICs which started mining long before they were sold to public. You are entitled to ignore the evidence.

To whoever claimed ASICs drive the price of a coin up. That's false. If everyone is using ASICs then price isn't really affected by miners because the difficulty goes up and miners would have the same electricity cost/coin ra

[2018-05-08 17:14] PeaStew commented on #142
@aleqx as long as it is evidence and not proof that's fine, words matter.

[2018-05-08 17:36] nikmit commented on #142
@PeaStew well if we are going to be particular about choice of words, speculation is generally done without evidence or with very flimsy evidence. The hash rate movement as described by @aleqx is the next best thing after proof. I for one can't see a better explanation for it than Bitmain pre-release-mining.

[2018-05-08 17:41] daemonfox commented on #142
@aleqx

From an infrastructure PoV, no... absolutely that is true. Hardware dedicated to a singular purpose, to perform a required action within the network, has more intrinsic value in the network than your programmable GPU rig that could abandon any network at any time. Dedicated hardware shows dedicated resources and $$$ whereas GPU miners consistently move to the next best thing. How many ETHl

[2018-05-08 17:49] nikmit commented on #142
@daemonfox

There is an interesting cause-and-effect observation to be made here... is it ASICs that make a coin profitable, or do ASICs follow profitable coins? When you want to defend your point you claim the first, but then admit the second in the same post :)

[2018-05-08 17:58] PeaStew commented on #142
@nikmit speculation: "the forming of a theory or conjecture without firm evidence."

[2018-05-08 18:19] aleqx commented on #142
@daemonfox nothing from what you say so passionately have any bearing on the price. No aconomics are affected. Miners leaving/joining is compensated by variable difficulty. That's why the algorithm is written to maintain a fixed 2.5 minute block time, hence the reward rate is the same. What could influence the price is what I explained previously, the electricity cost which influences the sell rat

[2018-05-08 18:50] daemonfox commented on #142
@nikmit you are confusing value and profit. I never said ASICs make coins profitable, just that they build more value into them intrinsically.

ASICs always follow foreseen profit... no reason to make an ASIC until an algo has backing... putting the cart before the horse. Massive CPU and GPU backing make a coin profitable, ASIC backing pushes a coin into a different level of value.

@aleqx Variabl

[2018-05-08 19:07] aleqx commented on #142
You are mixing way too many concepts there! Reward per hashrate is fixed if everyone uses the same hardware, regardless of how many join/leave (bar adjustment time). The difference comes in when not everyone uses the same hardware. Of course sell price influences price. You seem to believe that miners set the price. ZEC is way past its price point being driven by miners. Transaction volume on ZEC

[2018-05-08 19:27] MrGold86 commented on #142
Speaking of ASIC competition, Obelisk is making ASICs for SIA and Decred.  What prevents someone from getting them interested in making some for ZENCash?  https://medium.com/obelisk-blog/obelisk-update-january-may-2018-739229a930ec

[2018-05-08 19:31] daemonfox commented on #142
@aleqx There is no such thing as fixed reward per hashrate even when everyone uses the same equipment.

A 108TI gets  800 sols for ease. If blocks are found every 2.5 mins with no reward change then 1 1080TI out of 1M makes double coins than 1 1080TI out of 2M. Same 800 sols... but a twice as large nethashrate means half the reward per hashrate. That is how variable difficulty works, not the way y

[2018-05-08 19:55] aleqx commented on #142
Indeed. I meant per time. Also, please stop beating the innovation drum - ASIC mining brought no actual innovation to the space, as in new utility, but attracted and fostered more centralization, more corruption, more bad faith, more apathy. If you want to attract and foster healthy innovation and fair competition then drive all those hideousnesses away for now, don't embrace them.

Eth diff has d

[2018-05-08 21:43] Sto1cNate commented on #142
Some news from the Zcash Foundation.

https://z.cash.foundation/blog/statement-on-asics/

[2018-05-08 21:44] aleqx commented on #142
You may want to read about how Bitmain virtually cut off Obelisk regarding Sia, being (again) accused of anti-competitive practices. Here's some Googling: http://theminersunion.com/2018/01/17/obelisk-tech-clients-breathe-sia-of-exasperation-as-bitmain-releases-a3s/

[2018-05-08 21:46] aleqx commented on #142
Ba dum, tsss ...

[2018-05-08 22:37] daemonfox commented on #142
That is all that matters at this point. Enough forward thinking to recognize the problem may not even be a problem.

[2018-05-08 22:49] aleqx commented on #142
"may" is the keyword and take note they are talking about the concept of "ASIC resistance" in itself, taken out of context ... this is very different from the ASIC resistance in the current context, which is anything but healthy.

This thread has been saying the same thing time and time again.

[2018-05-08 22:57] Sto1cNate commented on #142
I believe their context is in not resisting long term if ASIC production can add to decentralized POW. With a single manufacturer, it cannot. This may change in the very near future. I'm hopeful for something like, open source equihash POW mining on FPGAs.

[2018-05-08 23:07] aleqx commented on #142
@Sto1cNate that wouldn't be a bad outcome. Having been in the h/w sector for a long time, I would not be surprised if GPUs become increasingly more efficient to the point that it might not warrant the more expensive, more stiff, more unfriendly FPGAs. The Zcash Foundation also recognizes this possibility in their piece above (for those who read it in full).

You can do so much more with GPUs, can

[2018-05-08 23:09] amanalar commented on #142
Update: the original version of this post implied that the Foundation was taking a definitive stance for ASIC resistance. It has been edited for clarity to indicate that the Foundation is putting resources into researching ASIC resistance: advantages, disadvantages and potential implementation paths.

[2018-05-09 08:26] ORIGINALBLACKPLAGUE commented on #142
ASIC resistance is wasted effort. This action will only speed Bitmain development of FPGA Units. GPU are the dinosaur that CPU once was.  Adapt or die.

[2018-05-09 10:41] nikmit commented on #142
@ORIGINALBLACKPLAGUE check out antbleed.com

I hope the ETH move to PoS goes great and ZEN eventually goes along that path too. I had a couple of rigs as well and sold everything - PoW is obsolete as far as I am concerned.

[2018-05-09 13:38] Sto1cNate commented on #142
Now there is another asic from asicminer.co, hashing 40k sol/s.

https://asicminer.co/shop/asicminer-equihash

The z9 mini and the 40k are operating in an efficiency of 33 to 35 sol/w.

[2018-05-09 13:47] grenwolde commented on #142
holy cow better to buy 4 z9

Geoffrey Knapper

________________________________
From: Sto1cNate <notifications@github.com>
Sent: Wednesday, May 9, 2018 9:38:26 AM
To: ZencashOfficial/zen
Cc: grenwolde; Comment
Subject: Re: [ZencashOfficial/zen] ASIC resistance (#142)

Now there is another asic from asicminer.co, hashing 40k sol/s.

https://asicminer.co/shop/asicminer-equihash<https://nam01.safelin

[2018-05-09 13:49] nikmit commented on #142
That is probably what you will find inside... you pay $6K for the water cooling :)

[2018-05-09 14:15] Sto1cNate commented on #142
Yeah, for $6800 premium, I would rather jut have 3 more z9 minis and build a large MDF board box with ducting and high CFM ducting fans to keep things quiet. 65dB isn't difficult to tame.

[2018-05-09 14:42] Sto1cNate commented on #142
Less than that. Probably around $5 USD a day or less by end of year.

[2018-05-09 17:30] Campin16 commented on #142
@nikmit I'm with you on this one, from reading a lot of what people's views are, it seems like being truly ASIC resistant is either an impossibility (FPGA cards) or somewhat resource intensive trying to stay ahead of the next ASIC and forking like Monero plans to do every few months (which sounds like nothing more than a bandaid solution) or creating your own algo that I would imagine is a pretty

[2018-05-09 17:58] aleqx commented on #142
I recommend that everyone asking for PoS to take some time and actually read in depth about the pros and cons of PoS (find neutral pieces by reasonable authors, not by PoS fanboys). There is a reason why Ethereum has been delaying PoS for years and is no longer certain it will switch to PoS.

@amanalar that figure will very quickly drop (minutes) if ASICs take over; the total hashrate will tends t

[2018-05-09 18:36] Stephenglfox commented on #142
Bitcoin private, and bitcoin gold will fork. ZEN and ZEC will evaluate while they work on the Sapling releases. meanwhile Bitmain sees the opening and raises the quantity to 50 per order. Sell the units now while the ROI is good. Very very interesting.

[2018-05-09 19:36] MrGold86 commented on #142
ZEN developers could also look into something like whatever CPU friendly way Bytecoin says they are doing on this page: https://bytecoin.org/about/for-customers:

Easy to mine on an average PC

You can increase Bytecoin network security through currency mining for which you get rewards in BCN. Bytecoin algorithms offer no advantage to GPU mining which means that you can mine even with an average o

[2018-05-09 20:54] Campin16 commented on #142
@aleqx @ventrader ..  Ethereum delaying Casper does not mean they're ruling it out PoS. Just means they they are taking the time to make sure it is done right. Many teams (including Zen's) have delayed project releases in the name of due diligence... Last thing you want to do is release an unfinished or buggy project, not in this ruthless crypto market where billions are on the line.

To call PoS

[2018-05-09 20:54] SoftWomble commented on #142
Ok, so we now have asicminer.co, bitmain, a FPGA working with one of the other coins to do an equihash miner at 10 x current efficiency, next will be Halong and the others.  If you think that an algorithm change is going to defeat them I think you have your head in the sand, an algorithm change is at best a short term temporary band-aid and doing such changes every few weeks would be impractical.

[2018-05-09 23:30] NagyGa1 commented on #142
Algo change can absolutely, totally, 100% can render an ASIC miner useless.

A statement from the coin developer that they will change the algo every time needed can totally, 100% defeat public sales of ASICs.

[2018-05-09 23:40] Campin16 commented on #142
@nagyga1 Yes, public sales... But what about private sales?

[2018-05-10 00:03] PeaStew commented on #142
https://blog.zencash.com/zencash-statement-on-potential-equihash-algorithm-change/

[2018-05-10 01:02] daemonfox commented on #142
@blockops1 nails it here, and with multiple vendors popping up in the last 24 hours, even the 144-5 HF does not seem worth it at all... unless...

The always unruly part of a hard fork is the chain left behind afterwards. Something could be done about this. ZENCash could adopt it's ASIC driven spawn, own the code base to continue it and implement some Komodo like features between both coins. DPoW

[2018-05-10 01:17] NagyGa1 commented on #142
Oh, sorry, just seeing this in the statement.

[2018-05-10 14:43] Stephenglfox commented on #142
@blockops1 @PeaStew, I read the ZenCash statement and have to say it is very thoughtfully done and takes into account most if not all the possible outcomes. Despite the press releases we see posted on this issue Bitmain is still the only ASIC miner publicly available for Equihash.

[2018-05-10 15:29] Campin16 commented on #142
I agree it's well written and outlines a good plan of action. For the short term a fork and algo change definitely the way to go and makes a strong statement...

I do wish PoS was included in the discussion for the long term though, I do think it deserves a place at the table so to speak and should at least be included in that discussion as a possibility.

[2018-05-10 18:18] PeaStew commented on #142
@Campin16 sidechains are coming to be run by supernodes and are in R&D partnership with IOHK so PoS might be part of the plan, no details yet.

[2018-05-10 19:43] Sto1cNate commented on #142
IOHK has a good video on interoperability between chains for a side chain system. Worth your time. May shed some light on how it might work on supernodes. https://youtu.be/Y5QUGqFQnWg

[2018-05-10 19:46] SoftWomble commented on #142
@stephenglfox
It is not only bitmain
https://asicminer.co/shop/asicminer-equihash
Are shipping in July, not as cheap for 1 unit as the Z9 but 4x the hash for slightly better sol/watt - chance it can handle 3GB+ I think a lot more likely than the Z9 as memory may be where some extra cost is.

What concerns me is the focus on one vendor when others have clear intentions of also rolling out other ASI

[2018-05-13 18:09] Sto1cNate commented on #142
Here is a very good blog post by sia:
https://blog.sia.tech/the-state-of-cryptocurrency-mining-538004a37f9b

[2018-05-13 18:44] aleqx commented on #142
... a pro-ASIC post by a guy/team who wanted to get a lot richer by getting into ASICs secretly, and who got smashed also secretly by Bitmain and are now licking their wounds.

... so let's build ASICs for our own coin in order to make it in the end accessible only to a handful of big players. F*ck the little guy, f*ck the

The post itself makes way too many unsubstantiated statements without any

[2018-05-13 22:54] ORIGINALBLACKPLAGUE commented on #142
Just dropped $32k on 8x FPGAs, so fork all of you.

[2018-05-14 00:40] kiwina commented on #142
ASIC are an inevitable product of crypto. Lets be realistic here GPU (graphic processing units) are not (CyPU)
That one company holds major interest in ASICS well that's the way business work there is always the pioneer in everything. Inevitably if there is a lot of money to be made there will be others entering the market to get a share of profits once again that's business. Now to efficiency tha

[2018-05-14 06:14] nikmit commented on #142
@aleqx Very nice post. I will even agree there might be some future for mining if the work done as proof is actually useful for some purpose. But there are a few problems with PoW that, with my understanding of crypto as it is, I can't see a workaround for.
First is the random block times - these are absolutely fine for an alt coin, but if a project is to become an actual payment method for millio

[2018-05-19 14:32] Sto1cNate commented on #141
Need to update the /etc/apt/sources.list.d/zen.list file. Change from bionic to xenial.
[code]

[2018-05-23 13:10] menkaur commented on #142
Here's what I think. Protecting existing miners against more efficient newcomers is protectionism at it's finest. ZenCash should take example from bitcoin and let the mining market develop free of interference

[2018-05-23 14:10] nikmit commented on #142
@menkaur if you think that ASIC resistance is advocated only to protect existing miner interests you clearly didn't read most of this thread. You either read very selectively or not at all.
I say move to PoS (eventually) and let the mining marked fall into oblivion - where it belongs.

[2018-05-24 13:12] grenwolde commented on #142
Pretty sure that has not been the argument -- there are vested interests in gpu minng -- however the fact that we have one company dominating both the hardware and mining in one country for a large number of coins is the problem.  I am all for the new technology -- but I believe we need a process by which the project in a pragmatic fashion controls the technology through the release of open source

[2018-05-24 20:49] menkaur commented on #142
@grenwolde you are advocating proactive fork without any indication that people who invested a lot of money into providing security for the chain will act against their own best interest and attack the chain. in fact, should they do so, we can solve the issue by changing algorithm. currently it's not a problem

[2018-05-25 06:26] nikmit commented on #142
@menkaur Really, read the thread. I refuse to argue with someone who ignores some 80% of the arguments so they make their point - do the work, read and address all points and if you do a good job people might take you seriously. You are worried about the system protecting interests of GPU miners, I am worried Bitmain may have people paid to protect their interests in discussions like this.
I can't

[2018-05-25 12:14] menkaur commented on #142
You refuse to argue with me unless I say that your viewpoint is the right
one? Ok, no problem than.

On Fri, May 25, 2018, 02:26 Nikola Mitev <notifications@github.com> wrote:

[2018-05-25 14:41] aleqx commented on #142
@menkaur this is how a discussion turns unuseful, discouraging others from contributing. The point is that messages lacking justification should not be taken seriously or be given much attention. Whether or not they are doing someone's bidding is another story.

[2018-05-25 18:18] Stephenglfox commented on #142
Since the development team released their response to the Z9 threat I have resisted commenting till now. ZEN is my top crypto right now and would not want to see it taken over by a single sourced ASIC even though I acquired the Z9. The key here is SINGLE SOURCED. Other Equihash ASICs has been identified but they are either vapor ware or too expensive to really compete with the Z9.

The Zencash roa

[2018-05-31 04:00] mysticaltech commented on #142
Why did ZenCash choose Equihash in the first place? Wasn’t it ASIC resistance... So let’s go along with that original vision!

[2018-06-06 01:00] tarrenj opened #30 "ARM build fails - libsnark fails to build"
`build-arm.sh` output:

. . .
[code]
. . .

[2018-06-07 17:07] tarrenj opened #32 "Alert key needs to be changed."
None of the current team members have a copy of the private key required for sending alerts. What's more, the state of this key is unknown and may be compromised.

A new key is required.

[2018-06-07 17:08] tarrenj commented on #32
I'm getting started on this now.

[2018-06-07 17:32] tarrenj commented on #32
New private key has been generated and sent (via encrypted email) to cronic.  Generating new test data now.

[2018-06-07 17:34] cronicc commented on #32
Key received and stored safely.

[2018-06-07 20:14] tarrenj opened #34 "24 Branches"
We should remove some of the stale branches.  I don't want to step on anyone toes, so rather then do it myself I've created this issue.

Please feel free to close it once this is resolved.

Thanks!

[2018-06-07 20:33] tarrenj opened #35 "zend output"
Currently, `zend` outputs a line telling users to check the ZCash security page for information.  This has been removed in `zen/master`.  The commit where it was last changed is https://github.com/ZencashOfficial/zen/commit/3b0715dd37b85a37611ab2cfcd6148bb17d551cc#diff-b7702a084eb00fb47f9800fd68271951

I'd like to `cherry-pick` the changes in (visable here: https://github.com/ZencashOfficial/zenca

[2018-06-07 20:45] tarrenj commented on #35
The same user is responsible for the commit where the URL is changed from the ZCash one to our old URL.  So `cherry-pick`ing that would present the same issue.

[2018-06-07 20:48] tarrenj commented on #35
I've been asked to just create a new commit in Discord.

[2018-06-07 20:48] #35 closed, assigned to tarrenj

[2018-06-07 20:48] pierstab commented on #35
agree , create a new commit its better

[2018-06-07 22:42] koljenovic opened #143 "Add tx pool status or/and fee estimate to zend console splash screen"
It would be very helpful for all who are running zend in the forefront to be able to estimate fee and tx pool status from the zend splash screen so I am proposing an indicator of the said parameters be added along the current block, conn and sol indicators.

[2018-06-07 22:52] tarrenj commented on #143
It'd be easy to just add a line to `Appinit` in `src/bitcoind.cpp`.  This would be a good first issue for someone from the community!

[2018-06-07 23:12] LukasBures commented on #34
reduced to 9 branches

[2018-06-08 01:07] pierstab commented on #38
@LukasBures please don't merge anymore master into development, the merge has broken the development build, master is not the old zen master, ,    @cronicc'll take care about the merge and the new master with @albertog78

[2018-06-08 15:43] moost commented on #142
How about hybrid pos-pow (see Decred), with MTP as the pow algorithm (see Zcoin)

[2018-06-09 20:05] justkarma commented on #103
I have exactly the same issue as the OP. "tls_cert_verified": true when i run zen-cli getinfo but on the tracker website I get a false message.
My nameservers are routed to cloudflare, so I've now changed my nameservers back to the original and deleted every A/C-name record with the exception of my zen node. Will see if this help in a few hours I guess..

[2018-06-10 22:36] cronicc opened #40 "getblocksubsidy returns wrong values post HF"
Current
[code]
Should be
[code]

[2018-06-10 22:44] cronicc opened #41 "Stuck blockchain after post HF update from 2.0.11 to 2.0.14-rc1"
2.0.11 marks any post HF blocks it receives as invalid in levelDB as they don't pass the old consensus rules. After updating to 2.0.14-rc1 zend fails to sync past the last non HF block.

debug.log
[code]

A reindex would fix this but is an inconvenience, possible solutions:
- `reconsiderblock` and `invalidateblock` RPC calls from bitcoin upstream
- add a feature to zap all post HF blocks from leve

[2018-06-10 22:54] cronicc opened #42 "Update depends packages on our CDN"

[2018-06-10 23:56] #32 closed, assigned to tarrenj

[2018-06-10 23:56] tarrenj commented on #42
ACK

[2018-06-11 04:34] tarrenj opened #44 "Zend runs without config file"
Previously, if a user would start `zend` without a config file, it would copy the config file and exit. Now `zend` will run fine without a config file:
https://github.com/ZencashOfficial/zen/blob/master/src/bitcoind.cpp#L104

ZCash 1.0.14 still uses the same warning from when we originally forked:
https://github.com/zcash/zcash/blob/v1.0.14/src/bitcoind.cpp#L104

[2018-06-11 04:46] tarrenj commented on #44
Apparently, this is intended behavior: https://github.com/ZencashOfficial/zencash/blob/development/src/util.cpp#L635

This was done in a commit for `Integrated Commit Update folder locations - 03/04/2017`.

[2018-06-11 05:00] cronicc commented on #44
Side effect of this is that the default config file is never copied because this catch never fires https://github.com/ZencashOfficial/zencash/blob/18f352a3bad646d887909acb49c40cb01eeec042/src/bitcoind.cpp#L111

People might be relying on the config being copied on first run in auto setup scripts.

[2018-06-11 05:29] cronicc commented on #40
Or better
[code]

[2018-06-11 15:03] cronicc commented on #41
Closing as I did not consider 2.0.11 deprecation in this.

[2018-06-11 15:03] #41 closed, assigned to pierstab, albertog78

[2018-06-11 21:23] pierstab opened #46 "fix metrics"
fix metrics subsidy

[2018-06-11 21:27] pierstab opened #47 "refine: addresses mainnet , testnet"
set new testnet addresses
use only 1 address for each CF, SN, XN mainnet set

[2018-06-11 22:15] tarrenj commented on #42
[code]
Resolved.

[2018-06-11 22:15] #42 closed, assigned to tarrenj

[2018-06-11 23:56] pierstab commented on #46
close by [https://github.com/ZencashOfficial/zencash/pull/48](url)

[2018-06-11 23:57] pierstab commented on #40
closed by this #48

[2018-06-12 02:18] tarrenj commented on #46
FYI: You can say "Closes #46" in https://github.com/ZencashOfficial/zencash/pull/48 to automatically close this issue when that PR gets merged.  Might save you some time in the future :)

See: https://help.github.com/articles/closing-issues-using-keywords/

[2018-06-12 02:55] pierstab commented on #46
@tarrenj  right

[2018-06-12 02:56] pierstab commented on #48
closes #40 #46

[2018-06-12 02:56] pierstab commented on #48
@cronicc done

[2018-06-12 18:57] cronicc opened #51 "Include securenodes and supernodes coinbasetxn in getblocktemplate"
As with getblocksubsidy, getblocktemplate needs to return values for securenodes and supernodes.

current example of `zen-cli getblocktemplate '{"capabilities": ["coinbasetxn", ""coinbasevalue"]}'`
[code]

At least one rpc test would need to be adjusted as well here: https://github.com/ZencashOfficial/zencash/blob/d39015716ec92bfe877314e1b78bbdffb5c05b76/qa/rpc-tests/getblocktemplate.py#L56

[2018-06-12 19:31] cronicc opened #52 "Set Hard Fork blocks"
Testnet Hard Fork block: **260500**
Mainnet Hard Fork block: **344700**

Set in https://github.com/ZencashOfficial/zencash/blob/d39015716ec92bfe877314e1b78bbdffb5c05b76/src/zen/forks/fork4_nulltransactionfork.cpp#L7-L9

and adjust any tests in ./qa and ./src/tests with the updated block heights.

[2018-06-12 20:42] cronicc opened #53 "Fix tests"

[2018-06-12 20:43] cronicc commented on #52
Created separate issue #53 for the tests.

[2018-06-12 21:04] #40 closed, assigned to pierstab

[2018-06-12 21:04] #46 closed, assigned to pierstab

[2018-06-12 21:04] #47 closed, assigned to pierstab

[2018-06-12 21:59] tarrenj commented on #51
Note: This will prevent mining, unless the miner uses the ZenCashOfficial Z-NOMP fork which has been updated to correctly create the coinbase TX. (Thanks to @cronicc)

[2018-06-12 22:11] tarrenj commented on #53
Note:  This is for updating any tests which require the HF heights.

[2018-06-13 00:19] tarrenj commented on #44
Closed in https://github.com/ZencashOfficial/zencash/commit/7f45fcfc3fcc9b371da7e899d4ad12c51a522a71

[2018-06-13 00:19] #44 closed, assigned to nobody

[2018-06-13 01:22] #52 closed, assigned to cronicc

[2018-06-13 03:17] tarrenj commented on #34
Down to 11 branches.  Closing this issue.

[2018-06-13 03:17] #34 closed, assigned to nobody

[2018-06-13 07:34] LukasBures opened #57 "Mac OS build doesn't work - Proton"
Mac OS build doesn't work, tested on Mac OS HS 10.13.5

[code]

related to: `--enable-proton`

In Zcash upstream they have dropped support for other than Linux binaries.

[2018-06-17 01:29] NagyGa1 commented on #142
Guys, for the record, this is the same ASIC appeared on your network as 't1XE1kWtsZAemy123KCcv2z3Fonbksnupka' that eaten up half of ZCash:

http://explorer.zenmine.pro/insight/address/znXEXuRcmaZZtY8QPmbJqahVkeRzGCnDvrJ

Note same nonce signature.

[2018-06-17 01:51] aleqx commented on #142
That's a single, solo miner, for those wondering, not a pool.

**Here's the Zcash miner distribution for the last 1 week, note the yellow:**

![](https://i.gyazo.com/a0c4cab198183ce5a3f502c6e7b50f0f.png)

**... and here's the last 1 month, note the green:**

![](https://i.gyazo.com/b18dcf5d3375eaa5b6cd2860ff5f3f7e.png)

Take a wild guess who's behind this awesome "de"centralization.

[2018-06-17 01:59] psyraxaus commented on #142
znXEXuRcmaZZtY8QPmbJqahVkeRzGCnDvrJ is someone using the z-nomp mining pool software

[2018-06-17 02:02] aleqx commented on #142
Virtually all solo miners use z-nomp for stratum translation (doesn't mean it's a pool).

[2018-06-17 02:04] psyraxaus commented on #142
I didn't say it was a pool, all I said was it was someone using it as the coinbase hex

 0308fa04005a2d4e4f4d50212068747470733a2f2f6769746875622e636f6d2f6a6f7368756179616275742f7a2d6e6f6d70

=

úZ-NOMP! https://github.com/joshuayabut/z-nomp

[2018-06-17 02:13] aleqx commented on #142
Indeed. I was only adding more context.

GPU miners will likely soon leave Zen en mass like they did on Zcash since profits crumbled as expected. This thing did 12 blocks in the last 40 minutes. Wait till it starts selling ...

[2018-06-17 02:16] psyraxaus commented on #142
Will be interesting to watch, currently the one mining the most blocks in the unknown/undefined miner group is  https://explorer.zen-solutions.io/address/znVPP1YasUfkeNFU8SCXUPzEWyYojF1XVRL

Distribution breakdown on my explorer: https://explorer.zen-solutions.io/distribution

[2018-06-17 02:19] aleqx commented on #142
That's because your explorer shows the last 576 blocks, whereas this drooling behemoth
only started ~14 blocks ago.

[2018-06-17 02:19] NagyGa1 commented on #142
Yep.
znXEXuRcmaZZtY8QPmbJqahVkeRzGCnDvrJ popped up on Zcash as https://explorer.zcha.in/accounts/t1Q2QY83u7F7UvkwQR3ep1XyRmknP3syD7n , sporting a stock Z-Nomp extranonce and transaction signature, which got removed a day or two later.

Here is one of their earlier block with the signature: https://explorer.zcha.in/blocks/00000000092c0bd3d4ce0988b6e0a016698909048f4a7e8bcaac86ba4ca938ac

The address

[2018-06-17 02:22] aleqx commented on #142
@psyraxaus That's because your explorer shows aggregate stats for the last 576 blocks, whereas this drooling behemoth only started ~14 blocks ago. At the rate I'm seeing blocks gobbled by it, then 24h from now this will be at least 50% of the network ... it already is) ...

Ironic, as Zen just sent our its newsletter about preventing 51% attacks. Prevent this please!

[2018-06-17 02:22] psyraxaus commented on #142
That is why I said that it will be interesting to watch that address

[2018-06-17 02:48] aleqx commented on #142
I also noticed its rate was *just* behind Flypool. I had the same suspicion as you about it, and the fact that it's now gobbling 70-75% of Zen's network adds to my suspicion as there haven't been any Zen founders speaking in favor of ASICs until now, so Bitmain has no incentive to pretend or play nice, and it's just gobbling away the network.

20 blocks in 68 minutes so far = 73.5% of Zen's networ

[2018-06-17 02:50] NagyGa1 commented on #142
Agree. Note you quoted my original comment mistakenly used t1Q2QY83u7F7UvkwQR3ep1XyRmknP3syD7n, corrected to t1XE1kWtsZAemy123KCcv2z3Fonbksnupka.

[2018-06-17 02:51] NagyGa1 commented on #142
Their original plan might have been to use multiple addresses to hide what they are doing (which would have not worked), but somewhere changed course and consolidated them into one.

[2018-06-17 02:58] NagyGa1 commented on #142
Also note that Zooko and Bitmain has spoken on the 24th of May, Zooko publishing on 31st of May: https://forum.z.cash/t/so-i-had-a-videochat-with-jihan-wu/29379

That is exactly when the t1Q2QY83u7F7UvkwQR3ep1XyRmknP3syD7n address started to seriously scale up.

[2018-06-17 03:00] psyraxaus commented on #142
It is more like 21 blocks in 2 hours.  Still a huge number though
![screen shot 2018-06-17 at 12 59 45 pm](https://user-images.githubusercontent.com/33170913/41504320-68aa2af6-722e-11e8-825a-3f612d01dfd6.png)

[2018-06-17 03:10] aleqx commented on #142
@psyraxaus I stand corrected. When I posted I counted 20 from 2:27 GMT (which I thought was the first one) to 3:33. I see two blocks which took 20 minutes, kind of outliers for the rest. I predict 60-70% after 24h.

@NagyGa1 Saw that post too. Applauded the comms skills of Bitmain's CEO (https://twitter.com/jihanwu/status/731902686379933697 -- "@MrHodl fuck your mother if you want fuck.") and the

[2018-06-17 03:30] NagyGa1 commented on #142
Agree, but I think it is more like 190MH. Flypool has 200MH, and it is slightly below.

[2018-06-17 03:33] psyraxaus commented on #142
People are also buying from Innosilicon.  Their initial order was for minimum 100 units at 50kSols per unit using 620w power.  And these have shipped

[2018-06-17 03:37] aleqx commented on #142
@psyraxaus See above. Those units you mention give a mere 5 MSol/s ... the miner in question is doing 225 MSol/s.

[2018-06-17 03:44] NagyGa1 commented on #142
People buying hardware from these guys are clearly the suckers at the end, based on how those figures look like.

[2018-06-17 03:44] psyraxaus commented on #142
@aleqx 225 MSol/s on the zen network?  Or on Zcash.  Sorry I am a little confused.  I would say that the user has roughly 25 MSols based on the number of blocks found (and increasing the hash as time goes by), slightly up from Suprnova on the zencash network.  This is at a minimum due to the competition with suprnova for number of blocks found.

If they had 225 MSol/s on the zencash network, they

[2018-06-17 03:46] aleqx commented on #142
@psyraxaus Zcash, prompted by the interview between Zooko and Bitmain's CEO (link above)

[2018-06-17 03:55] psyraxaus commented on #142
I just did some further investigation and roughly 2 hours ago we observed the Zencash network Hashrate increased from 47582085 Sol/s at 2018-06-16 13:56:55 to 59373353 Sol/s at 2018-06-16 14:12:05
An increase of 24 percent!

[2018-06-17 04:01] aleqx commented on #142
@psyraxaus That's extrapolated from current diff, surely, assuming 2.5m block times, but the diff hasn't adjusted yet, because this guy has been doing 1 block every 5 mins or so, i.e. a theoretical 50% of the network if diff had caught up, but the diff has hardly increased since yesterday (950k yesterday, 1070k now), so that Sol/s figure is not reflecting what is actually happening right now ... d

[2018-06-17 04:04] psyraxaus commented on #142
@aleqx that was taken directly from the daemon reporting the getnetworksolps

[2018-06-17 04:05] aleqx commented on #142
@psyraxaus I believe the daemon is doing what I described

[2018-06-17 04:35] aleqx commented on #142
@psyraxaus since you have a node up and running, what's the average block time at the network level for the last 120 blocks?

[2018-06-17 06:44] psyraxaus commented on #142
Average time between blocks from height 326,154 (Height 326275 less 120 blocks) was 404.2417 seconds

[2018-06-17 07:50] NagyGa1 commented on #142
Meanwhile a few blocks mined by F2Pool on Zcash appears to be Bitmain based, judging by the nonces, e.g. this one: https://explorer.zcha.in/blocks/0000000008c112160bae0ba125bd29dc7293fa84da9c4298c3de7e4f9e015970

And, this new address popped up, also seems to be Bitmain: https://explorer.zcha.in/accounts/t1MwHFWMAJMtRywJXhDWDejUyfvvcQQDDgU

[2018-06-18 00:36] NagyGa1 commented on #142
This guy appeared as well, mined 50 block so far, with the Bitmain specific nonce structure: https://explorer.zen-solutions.io/address/znZZMWeSK8JBPSyGivAa26C2gvipuhSqVh2

The interesting thing is that it mines blocks with the coinbase transaction including znXEXuRcmaZZtY8QPmbJqahVkeRzGCnDvrJ with 0 amount. Most likely it is a bug they left in their software that tries to hide the fact that the tw

[2018-06-20 05:31] #53 closed, assigned to cronicc

[2018-06-20 05:31] #51 closed, assigned to pierstab, albertog78

[2018-06-20 05:31] #30 closed, assigned to cronicc

[2018-06-20 14:56] cronicc commented on #57
Build does work with [ZencashOfficial/zencash-apple](https://github.com/ZencashOfficial/zencash-apple) with proton disabled, which is the default.

[2018-06-20 14:56] #57 closed, assigned to nobody

[2018-06-20 15:32] tarrenj commented on #68
TestedACK

[2018-06-21 01:51] tarrenj opened #72 "debug.log Whitespace before and after `Zcash version. . .`"
![unknown](https://user-images.githubusercontent.com/3710484/41693553-cf92da0e-74d3-11e8-9469-f8c86ba269ef.png)

Might be fixed, or at least effected by https://github.com/ZencashOfficial/zen/pull/66

[2018-06-21 02:08] #143 closed

[2018-06-21 02:11] tarrenj opened #74 "zend sometimes warns of 0 blocks received in the last 4 hours during initial sync"
Original issue: https://github.com/ZencashOfficial/zen_archived/issues/138

[2018-06-21 02:13] tarrenj opened #75 "Memory leak after challenge completion"
Original Issue: https://github.com/ZencashOfficial/zen_archived/issues/136

### Describe the issue
I'm noticing on my secure nodes that whenever a challenge is sent, of course the resident memory usage goes up; but that after the challenge is done (minutes, hours, days) the memory usage stays at around 3 GB instead of dropping back to about 650 MB.

### Can you reliably reproduce the issue?
Yes, 1

[2018-06-21 02:14] #126 closed

[2018-06-21 02:16] tarrenj opened #76 "TLS returns 'no peer certificate available' after cert update if zen not restarted"
Original Issue: https://github.com/ZencashOfficial/zen_archived/issues/132

Background: The secure nodes install guides did not include a step to restart zen after certificates are automatically refreshed.  The server update on March 4-5 with an update to check certs more thoroughly  revealed many nodes with expired certs that were not being reported by the tracker app.

After the SSL cert is refr

[2018-06-21 02:18] #130 closed

[2018-06-21 02:21] tarrenj opened #77 "Update to libsodium 1.0.15"
Original Issue: https://github.com/ZencashOfficial/zen_archived/issues/129

Libsodium 1.0.11 leads to a dead link, this hasn't affected us because of our depends mirror.
See zcash/zcash#2693, we should pull in zcash/zcash#2763, change links to our mirror and upload the package there.

And while we're at it also update other dependencies as long as they don't cause any issues while we're still behi

[2018-06-21 02:26] tarrenj opened #78 "CA Cert exception false - getinfo shows cert value TRUE"
Original Issue: https://github.com/ZencashOfficial/zen_archived/issues/103

Completed setup of the secure node on mainnet and receiving an out of compliance with the tracker.

Zen Tracking System Exception: "cert: could not validate the SSL certificate."

TLS cert reports as valid however the tracker states the node is out of compliance.

The 'transparant' balance for the 42 zen is on a transparen

[2018-06-21 02:28] tarrenj opened #79 "Do we want an issue label for SuperNodes and/or SecureNodes?"
While not being strictly relevant to the core Zen software, we're seeing multiple issues created by users for these.  Do we want a dedicated label for them?  I've created one for now, but can delete it if users don't feel we should have one...

[2018-06-21 02:30] tarrenj commented on #100
Fixed in the new release.

[2018-06-21 02:43] ADumaine commented on #78
You are using an old version of zen  "version": 2001051, which is 2.0.10 and is now 2 behind.

A new version was just released, please follow steps 1-4 of the guide:
https://documentation.zencash.com/display/ZEN/Upgrading+Secure+Node+Software

Also make sure you have port 9033 open for inbound connections to zen. I only see 8 connections which may indicate you only have outbound connections.  The

[2018-06-21 02:43] tarrenj opened #80 "op_cbah freaks out during startup"
Original Issue: https://github.com/ZencashOfficial/zen_archived/issues/92

whenever you launch the node, it checks the last few blocks to make sure the blockchain it's loading is legit, op_checkblockatheight checks those transactions and fails due to no active chain

[2018-06-21 02:45] tarrenj commented on #78
Going to close this issue, as it's likely stale.  Please reopen if anyone runs into this problem again.

[2018-06-21 02:45] #78 closed, assigned to ADumaine

[2018-06-21 02:51] tarrenj opened #81 "Cannot move zen from private address from before the chainsplit"
Original Issue: https://github.com/ZencashOfficial/zen_archived/issues/89

I can't move zen from private address to public address.
I constantly get "18: bad-txns-joinsplit-requirements-not-met" error.

This private address has funds from zclassic.
1) I copied wallet.dat from zclassic and reindexed. Not working.
2) I imported private key manually and reindexed. Not working.

Seems like similar iss

[2018-06-21 02:53] tarrenj opened #82 "Memory should be freed after SecureNode challenge is complete"
Original Issue: https://github.com/ZencashOfficial/zen_archived/issues/86

I initially posted this in the [secnodetracker ](https://github.com/ZencashOfficial/secnodetracker/issues/6) github but was asked to post it here instead.

I have a 2GB Linode with 4GB of swap and I kept getting exceptions so when I checked and zend was using a massive amount of memory (RAM & Swap) whilst it was just sittin

[2018-06-21 03:02] tarrenj opened #83 "Arch AUR build Seg Fault at block 139200"
Original Issue: https://github.com/ZencashOfficial/zen_archived/issues/84
It's unclear if this issue persists, but I'm copying it over to the new repo anyway, and will closes it if it's no longer applicable.

### Describe the issue
zend predictably seg faults attempting to process block 139200

### Can you reliably reproduce the issue?
1. Install zencash from Arch Linux AUR
2. Start zend
3. Wait u

[2018-06-21 03:06] tarrenj opened #84 "Excessive wallet size causes performance and connectivity issues"
Original Issue: https://github.com/ZencashOfficial/zen_archived/issues/79
The related issue at https://github.com/zcash/zcash/issues/1749 has been closed.  It's likely this issue is no longer applicable in Zen either, more testing is required.

### Describe the issue
The wallet on the dev tracking server grew to over 1.4GB due to challenge transactions(~17k) and became an issue when looking up tra

[2018-06-21 03:09] tarrenj opened #85 "OpenSSL integration"
Original Issue: https://github.com/ZencashOfficial/zen_archived/issues/26
The branch `TLS_integration` doesn't exist in the new repo.

Branch `TLS_intergration` has a working implementation using self signed certificates.
Todo:

- [x] allow user to chose certificates
- [ ] allow user to choose to connect to only TLS enabled nodes
- [x] connect to only TLS enabled nodes with CA signed certificates

[2018-06-21 03:12] tarrenj commented on #85
Hush issue: https://github.com/MyHush/hush/issues/63
Hush PR: https://github.com/MyHush/hush/pull/68

[2018-06-21 03:12] #11 closed

[2018-06-21 03:15] tarrenj opened #86 "Continuous Integration, and update how we Git"
Original Issue: https://github.com/ZencashOfficial/zen_archived/issues/6

CI should be used for releases for all OSs, and all wallets.

Git use should follow proper GitFlow.  The contributing.md and developer-notes.md files should be updated to reflect this.

[2018-06-21 03:17] tarrenj opened #87 "IPFS Integration"
Original Issue: https://github.com/ZencashOfficial/zen_archived/issues/5

Issue to track IPFS intergration

[2018-06-21 03:31] tarrenj opened #88 "Address Indexing"
Insight Explorers require Address Indexing support, there's an open PR for this here: https://github.com/ZencashOfficial/zen/pull/73

[2018-06-21 12:44] cronicc commented on #77
Fixed in 2.0.14

[2018-06-21 12:44] #77 closed, assigned to tarrenj

[2018-06-21 14:07] tarrenj commented on #75
Closing this issue, as it's effectively a duplicate of https://github.com/ZencashOfficial/zen/issues/82

[2018-06-21 14:07] #75 closed, assigned to nobody

[2018-06-21 14:09] tarrenj commented on #72
A PR resolving this issue would be quickly merged.

[2018-06-21 15:34] tarrenj commented on #82
This is not strictly for Secure/Super Nodes, and effects any shielded transaction processing.

[2018-06-21 15:34] tarrenj commented on #79
Answer:  No, we don't.  Any Secure/Super Node issues should be directed to the helpdesk.

[2018-06-21 15:34] #79 closed, assigned to nobody

[2018-06-22 16:00] #48 closed

[2018-06-22 16:00] #68 closed

[2018-06-22 16:01] tarrenj commented on #129
Fixed in 2.0.14

[2018-06-22 16:01] #129 closed

[2018-06-22 23:42] aleqx commented on #142
3124.46 ZEN ... in 5 days. That's 26 ZEN per hour. Still nothing compared to the mining hashpower thrown at Zcash above. We could even say ZEN has been spared, for now.

[2018-06-23 00:41] NagyGa1 commented on #142
Depends how you look at it. 50% of the ZEN blocks are mined now by Bitmain related addresses, they just introduced a few new ones.

[2018-06-23 17:47] tarrenj commented on #142
@NagyGa1 Can you post a source for this please?

[2018-06-23 18:22] tarrenj opened #90 "null"

[2018-06-23 18:37] NagyGa1 commented on #142
Sure.
1) The structure of the nonce can be observed and a lot can be told about the a) pool software, b) mining software of the entity that mined the block. It is because the pool software constructs the extranonce part (usually the rightmost some bits) and the mining software (/ hardware) adds on the original nonce-part (left side) of the nonce. It is like a fingerprint.
2) At the end of May 2018

[2018-06-23 18:37] #90 closed, assigned to nobody

[2018-06-23 18:46] NagyGa1 commented on #142
5. We know with _near_ sure certainty that `znXEXuRcmaZZtY8QPmbJqahVkeRzGCnDvrJ` and later `t1XE1kWtsZAemy123KCcv2z3Fonbksnupka` are Z9 / Bitmain sourced, because of the circumstances they popped up at early June and within days ruled 40% of the ZEC network, out of nowhere. (Days after Zooko and Bitmain had a friendly chat, etc.) See previous posts.
6) These addresses constructed nonces like `698d

[2018-06-23 18:55] NagyGa1 commented on #142
7. Today the ZEC networks looks like this:
[code]
and the ZEN network looks like this:
[code]
and the ZCL network, which is so far clean of Bitmain miner fingerprints, looks like this:
[code]

I think can easily spot the difference.

Recently started to see some appearing on blocks that are NiceHash source, e.g. ZCL block `337293`, mined by `t1SRHDYCdWwvaf9FvW66ZTijUmUBJkPnmtD`, whom is a very cle

[2018-06-23 19:13] NagyGa1 commented on #142
Marked the current ZEC miners by the above filter.
![image](https://user-images.githubusercontent.com/7298930/41812781-021e45c8-775c-11e8-88f4-a0143f16ba30.png)
Note how the previous 40% large entity that @aleqx posted (`t1XE1kWtsZAemy123KCcv2z3Fonbksnupka`) was broken into several smaller entities, to give the impression that decentralisation is going on here, but it is still around 40% of the ne

[2018-06-23 19:28] aleqx commented on #142
That address disappeared (and was split) almost immediately after these reports (our posts, etc) started appearing around the web ... i don't think they wanted to emulate decentralization at all, they just realized they got caught (if they wanted to emulate decentralization they would have done so from the get go).

[2018-07-04 17:24] tarrenj opened #92 "`Bitcoin Core` used in error message string"
https://cdn.discordapp.com/attachments/334085157441110017/464114926248787979/Screen_Shot_2018-07-04_at_10.06.02_AM.png

[2018-07-04 19:53] hellcatz commented on #92
If my commit above looks good, I can do a PR. Enjoy!

[2018-07-05 16:49] cronicc opened #93 "Add HF blocks as checkpoint blocks"
The testnet HF block 260500 and upcoming mainnet HF block 344700 should be added to zend as checkpoint blocks.
Procedure: https://github.com/ZencashOfficial/zen/blob/63e1f4ce04c20788750a03d51e49c00c67b956f7/src/chainparams.cpp#L170-L174

[2018-07-12 19:13] tarrenj commented on #88
Tag https://github.com/ZencashOfficial/zen/tree/v2.0.14-bitcore has been created.

[2018-07-12 19:13] #88 closed, assigned to nobody

[2018-07-12 19:14] tarrenj commented on #89
@Umiiii @jjisnow Were you able to move your ZEN?

[2018-07-12 19:16] tarrenj opened #95 "Make listtransactions filterable by address"
The `listtransactions` RPC call is written to filter by accounts, ZEN no longer supports accounts, so this function should be updated to allow filtering by an address passed. `z_listtransactions` already does this, so maybe some of the work could be copied from there.

[2018-07-14 07:29] jjisnow commented on #89
In the long run I was able to, after reindexing.

[2018-07-15 22:35] #89 closed

[2018-07-15 22:35] tarrenj commented on #81
Was fixed with a reindex.

[2018-07-15 22:35] #81 closed, assigned to nobody

[2018-07-26 02:08] asbachb opened #96 "ValidateCertificate should be able to validate certificate chain"
I guess zend should be able to verify the certification chain like every other ssl enabled service (httpd, imaps, ...)

Adding the intermediate certificate like described in step 3,4 (https://zencash.atlassian.net/wiki/spaces/ZEN/pages/7537014/Part+6+-+Procure+and+Configure+Certificate) should not be necessary if `ValidateCertificate` (https://github.com/ZencashOfficial/zen/blob/48bba6a7b46f428b75

[2018-07-28 19:59] hellcatz commented on #97
Should also resolve https://github.com/ZencashOfficial/zen/issues/72

[2018-07-28 22:55] hellcatz commented on #72
The above reference PR fixes the "ZCash" label, but may not 100% close this issue.
See below for further explanation of why the "extra spaces before and after" is happening.

Culprit lines of code:

      Stock: https://github.com/ZencashOfficial/zen/blob/master/src/init.cpp#L827-L828
      Extra-dup: https://github.com/ZencashOfficial/zen/blob/master/src/init.cpp#L1116-L1119

I think the idea is,

[2018-07-28 22:55] hellcatz commented on #97
I noticed some areas reference Zen, and others use ZenCash.
Should this be cleaned up to only use the term "Zen" ?

[2018-07-29 18:29] tarrenj commented on #97
Another miner NIT: If you're going to include https://github.com/ZencashOfficial/zen/pull/66 in this PR, can you cherry pick the commits, or (rebase your branch from that PR) so that @PeaStew gets credit please?  Another option is to remove the similar fixes, and submit a new PR to `PeaStew` with the remaining reference fixes?  Basically, just follow proper [GitFlow](https://www.atlassian.com/git/

[2018-07-29 18:48] PeaStew commented on #97
Appreciate it, would just like to see them all fixed, not fussed about "credit"

[2018-07-29 18:52] tarrenj commented on #98
Merging `development` back into `PeaStew`.  After the remaining threads are renamed, we'll merge `PeaStew` into `development`.

[2018-07-29 19:05] tarrenj commented on #97
Ehh, it's more about proper GitFlow then credit. :)

[2018-07-29 19:30] hellcatz commented on #97
Closing as requested changes have been resubmitted to PeaStew branch.

[2018-07-29 19:52] hellcatz commented on #72
The latest PR https://github.com/ZencashOfficial/zen/pull/99 removes the extra white spaces "after".
We most likely want to keep the "before" whitespaces as an indication of Zen daemon restarting in the log.

[2018-07-29 19:54] hellcatz commented on #92
Resolved in https://github.com/ZencashOfficial/zen/pull/99 and https://github.com/ZencashOfficial/zen/pull/66

[2018-07-30 03:21] tarrenj opened #100 "configure.ac:28: error: possibly undefined macro: AM_INIT_AUTOMAKE"
When running `./zcutil/build.sh` I get the following error:
[code]

Checking `config.log` shows me that it fails at:
[code]
Running that command manually returns the following:
[code]

Building one commit back works fine.

`uname -a` output:
```Linux smrtz-VirtualBox 4.15.0-29-generic #31~16.04.1-Ubuntu SMP Wed Jul 18 08:54:04 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux```

[2018-07-30 03:22] tarrenj commented on #100
Resolved by removing my local repo and recloning.

[2018-07-30 03:22] #100 closed, assigned to nobody

[2018-07-30 16:14] tarrenj commented on #96
Also see https://github.com/ZencashOfficial/zen/issues/85 and https://github.com/ZencashOfficial/zen/issues/85

[2018-07-31 01:12] hellcatz commented on #101
Thanks for doing this, I'll try to keep it in mind on future changes.

[2018-08-23 19:16] sakdeniz opened #103 "(Windows) Error copying configuration file: basic_ios::clear: iostream error"
On Windows 10 machine, daemon trying to create config file like unix folder and exiting daemon.

------------------------------------------------------------------
                        WARNING:
Automatically copying the default config file to ~/.zen/zen.conf.
This is a potential risk, as zend might accidentally compromise
your privacy if there is a default option that you need to change!

[2018-08-27 14:04] tarrenj commented on #102
Blocking NIT: All PRs should be subbmitted against the `Development` branch. (I'll be updating the https://github.com/ZencashOfficial/zen/blob/master/doc/developer-notes.md file to reflect this soon.)

Please resubmit this against there, and I'll take a look then.

[2018-08-30 05:39] tarrenj commented on #105
@homdx What's the benefit of this over https://github.com/ZencashOfficial/zen-node-docker? (Apart from the addition of MicroBadger.)

[2018-08-30 20:29] homdx commented on #105
This is Dockerfile for make binary from "zen" repository

[2018-09-06 01:41] tarrenj opened #106 "Update `ZenCash` to `Horizen` within documentation and RPC calls"

[2018-09-06 01:42] tarrenj opened #107 "Update ASCII logo image"
Update the logo image to show the Horizen logo.

[2018-09-07 01:52] tarrenj opened #108 "Re-enable tests"
https://github.com/ZencashOfficial/zen/blob/63e1f4ce04c20788750a03d51e49c00c67b956f7/src/gtest/test_foundersreward.cpp#L89

[2018-09-08 23:34] tarrenj commented on #106
The above PR will resolve this issue.

[2018-09-09 02:55] tarrenj commented on #107
The above PR will resolve this issue.

[2018-09-11 20:18] tarrenj commented on #107
Merged, closing.

[2018-09-11 20:18] #107 closed, assigned to tarrenj

[2018-09-11 20:18] tarrenj commented on #106
Merged, closing.

[2018-09-11 20:18] #106 closed, assigned to tarrenj

[2018-09-23 14:24] bedeabza commented on #82
This is still the case in version 2.0.14. Will it be fixed in 2.0.15?

The effect it has is running a second benchmark on a 2GiB physical RAM + 2GiB swap fails: `zen-cli zcbenchmark createjoinsplit 1`

This can become a serious issue in running a secure node since the only way to work around it is to restart the daemon after the challenges.

[2018-09-25 00:25] tarrenj commented on #93
https://github.com/ZencashOfficial/zen/tree/checkpoints adds checkpoints for mainnet and testnet.  Just waiting on mainnet node to finish syncing past the HF block as a test before submitting the PR.

[2018-09-25 13:58] cronicc commented on #118
Holding back until next release.

[2018-09-25 18:34] tarrenj commented on #118
Closing PR until after the next release, then will reopen.

U. Reopening

[2018-09-27 00:34] tarrenj commented on #126
fixes #103

[2018-09-27 01:20] tarrenj commented on #126
ACK, will test and approve after https://github.com/ZencashOfficial/zen/pull/127 is merged

[2018-09-27 03:45] tarrenj opened #128 "zcash references in configure.ac"
https://github.com/ZencashOfficial/zen/blob/63e1f4ce04c20788750a03d51e49c00c67b956f7/configure.ac#L19-L21

Should be updated to `zen`.

[2018-09-27 23:24] #72 closed, assigned to nobody

[2018-09-28 00:30] tarrenj commented on #105
Closing this:
https://hub.docker.com/r/zencash/zen-node/ exists and uses the official binaries. I'd like to avoid the duplication of effort.  Thanks so much for submitting this PR though!

[2018-09-28 20:54] christianreiss opened #131 "Centos 7 Build fails"
### Describe the issue
I have been building zend on the same vm (centos7) for months now. As of today (master & v2.0.15) the build fails with configure and

[code]
It is installed:
[code]

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1. Install Centos7
2. Download the sources
3. Compile

### Expected behaviour
zend is beeing build.

### Actual beh

[2018-10-01 19:44] tarrenj commented on #131
I'll try to reproduce and find the fix later today. Thanks for reporting!

[2018-10-01 23:01] tarrenj commented on #131
Leaving this issue open for the time being, since it's likely just a missing dependency. A PR to add the missing dependency to README.md would be a great contribution for hacktoberfest!

[2018-10-01 23:02] tarrenj commented on #103
This was fixed in 2.0.15

[2018-10-01 23:02] #103 closed, assigned to pierstab, albertog78

[2018-10-01 23:04] tarrenj commented on #83
It's possible this issue is no longer valid, we need someone to maintain the AUR package and test.

[2018-10-01 23:05] tarrenj commented on #82
This was not fixed in 2.0.15.  I'm applying the hacktoberfest label in the hopes that someone takes a stab at it!

[2018-10-01 23:08] tarrenj commented on #80
This was fixed in 2.0.15

[2018-10-01 23:08] #80 closed, assigned to albertog78

[2018-10-01 23:09] tarrenj commented on #84
It's possible that this is no longer applicable, more testing is required.

[2018-10-01 23:16] tarrenj commented on #74
This is still an issue, but purely a cosmetic one.

[2018-10-02 00:48] tarrenj commented on #131
`zend` requires GCC 4.9 to build properly, on CentOS you can install that with:
[code]
https://zcash.readthedocs.io/en/latest/rtd_pages/user_guide.html#installation

Then run the build script (`zcutil/build.sh -j $(nproc)`)to use the correct libraries at build time.

Again, I'm leaving this issue open in the hopes that someone submits a PR to update the `README.md` file.

[2018-10-02 00:54] #92 closed, assigned to nobody

[2018-10-02 02:10] tarrenj commented on #132
UtACK, will build a new CentOS vm to test now.

[2018-10-02 03:21] tarrenj commented on #132
Blocking NIT: Please include the other updates we talked about in Discord.

u. Resolved.

[2018-10-02 14:22] tarrenj commented on #132
~~Please change line 34 to `2. CentOS 7 (CentOS 6 is unsupported):`~~

u. Actually, it's fine as it is. Thanks!

[2018-10-02 14:24] tarrenj commented on #132
TestedACK. Waiting on @cronicc to verify dependencies before merging.

[2018-10-03 15:30] christianreiss commented on #131
Hey,

did everything, "configure" fails with:

[code]

[code]

Thanks so far!
Interesting so far, tho, is that autogen followed by build.sh produced a binary, only configure fails.

[2018-10-03 18:01] tarrenj commented on #131
Can you try building with the included build script please?  `./zcutil/build.sh -j $(nproc)`

[2018-10-04 00:22] tarrenj commented on #133
Thanks for this PR!

So it appears that this issue doesn't actually cause any real issues, and resolving it would only complicate merging from upstream.  There are a lot of warnings when building Horizen, and to be honest our build system could use some love (differences between building for Apple and Linux).  I'm going to reject this PR, and close the original issue, and create a new one to track

[2018-10-04 00:23] #128 closed, assigned to nobody

[2018-10-04 00:24] tarrenj opened #134 "Multiple warnings while building"
Continuation of https://github.com/ZencashOfficial/zen/issues/128

There are multiple issues while building Horizen, and issues with building for Apple and Linux.  This issue is to track that.

[2018-10-04 00:52] tarrenj commented on #134
[buildlog.txt](https://github.com/ZencashOfficial/zen/files/2444523/buildlog.txt)
Complete build log of 2.0.15 on Ubuntu Bionic.

[2018-10-04 15:42] christianreiss commented on #131
Only doing the zcutil oimiting any autogen & configure produces a binary.
I guess we can close this issue.

[2018-10-04 15:42] #131 closed, assigned to nobody

[2018-10-24 18:38] tarrenj commented on #136
Thanks for the PR!  Please resubmit this with the target branch of `development`, and I'll merge it.

[2018-10-24 20:43] preserveddarnell commented on #136
Is there an easier way that I can change the target branch to resubmit?

[2018-10-24 20:45] tarrenj commented on #136
I just knocked it out for you. You click the `Edit` button in the top right and then you can change it within this PR.

[2018-10-31 18:16] egyptianbman opened #139 "OP_CHECKBLOCKATHEIGHT Errors during fresh sync"
### Describe the issue
During a fresh sync of the chain, I see many errors in the log output around date 2018-06-19:
[code]

As well as **many**:
[code]

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1. Started wallet and saw errors
2. Deleted chain files `~/.zen/{blocks,cert.pem,chainstate,db.log,debug.log,fee_estimates.dat,key.pem,peers.dat}`
3.

[2018-11-19 11:15] xrow opened #140 "Feature: Shared Super Node"
### Describe the issue

We desired a better support for shared master nodes. Our proposed concept is open for discussion.

We envision that it might be possible that multiple t_addresses can provide each a part of the full collaterale stack for the node. Meaning the inital t_address is no longer a single value rather then a list of t_adresses that will provide the new initial balance to z_address.

[2018-11-19 11:41] tarrenj commented on #140
An interesting idea!  We're pretty slammed at the moment, but let's keep this issue open and see if it gets any more traction. This might be something we add in a future update.

[2018-11-21 17:51] xrow opened #141 "Strange error message"
### Describe the issue
Please provide a general summary of the issue you're experiencing

https://securenodes2.eu.zensystem.io/nodes/111620/detail

The above node sometimes has downtimes. When looking at the log we see the message "Stat check unable to complete. Unable to get z-addr balance"

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1. It happ

[2018-12-19 14:46] charlie-selle opened #142 "The partner instant exchange SimpleSwap.io"
Hi,

I am Nicolas, the manager at SimpleSwap.io, an instant cryptocurrency exchange.

We present a simple and easy-to-use platform that works without registration and limits and allows users to make swaps in just two clicks.

We successfully support ZEN on our service for a long time and we have been exchanging ZEN for more than 200 coins to our customers. I tried to find contact with your team bu

[2018-12-20 14:33] cronicc commented on #118
replaced by #143

[2018-12-31 19:46] #93 closed, assigned to nobody

[2018-12-31 19:53] RowanRK6 commented on #142
Hi there, great to hear that you're supporting ZEN. Feel free to reach out to me at rowan@zensystem.io

Best,
Rowan

[2019-02-22 19:24] #142 closed, assigned to nobody

[2019-04-04 17:50] cronicc opened #159 "2.0.17-rc1 windows build failing"
[code]

Suggested fix, replace sleep() with MilliSleep() from utiltime.

[2019-04-04 19:07] #159 closed, assigned to nobody

[2019-04-07 16:35] cronicc opened #161 "fetch-params.sh wget --continue failing, slow download speed"
Our combination of CDN provider proxied through Cloudflare can lead to slow response times when resuming trusted setup DLs. This is because Cloudflare does not cache large files, on every resume the file needs to be fetched again from the start by Cloudflare before the requested DL range can be satisfied, this can take up to 90s.
PR https://github.com/ZencashOfficial/zen/pull/162 increases the tim

[2019-04-08 11:38] #161 closed, assigned to nobody

[2019-05-01 12:07] cronicc opened #166 "Fetch params on Windows"
We currently ship the Windows binary releases with wget.exe and a simple batch file to download the trusted setup. Checksums are not verified and the script is not very robust.

A powershell script using Windows integrated functions to download and calculate checksums would probably be the better solution.

https://blog.jourdant.me/post/3-ways-to-download-files-with-powershell
https://docs.microso

[2019-05-06 15:03] alsala opened #167 "Wrong result for RPC method 'getblockfinalityindex'"
In zend 2.0.17 the RPC method 'getblockfinalityindex' on some node returns huge negative values:

`$ zen-cli getblockfinalityindex $(zen-cli getbestblockhash)`
` -1073669994`

This issue might be observed when the node has been up since many weeks.

The issue has been analyzed, and the root cause is described hereafter.

The database containing the chain tips can have many fork tips of minimum len

[2019-05-08 23:41] psyraxaus commented on #141
That error is thrown if you either have only 1 z-address with a single "note" in it, or if you have two z-addresses and one of the addresses is empty.

The error is thrown because when the challenge is ran, which is a shielded transaction with a memo, the "note" from the previous transaction in the z-address is held, this results in a momentary balance of 0 zen because it has not returned the "cha

[2019-05-10 13:23] #141 closed, assigned to nobody

[2019-05-10 13:31] zennermac commented on #139
Are you still seeing these errors with the latest build, Zen 2.0.17

[2019-05-10 15:53] cronicc commented on #108
Issue still valid, we should either adapt the disabled tests to our changed rewards, or determine if our added fork-manager tests provide enough coverage for this and remove the disabled tests.

[2019-05-10 15:56] egyptianbman commented on #139
I haven't needed to sync a new node since I created this issue. Feel free to resolve it if you think it's resolved in 2.0.17.

[2019-05-10 15:59] #139 closed, assigned to nobody

[2019-05-11 16:46] tsujp opened #168 "CentOS 7 certificates not loaded, and false loading path used"
### Describe the issue
When running `zend` under CentOS 7 tls certificates are not loaded according to their definitions in `zen.conf`.

### Steps to reproduce
1. Compile zend
2. Enter values for `tlscertpath` and `tlscertkey` in `zen.conf`
3. Observe the daemon fail according to `debug.log` with the error below

### Expected behaviour
Tell us what should happen

### Actual behaviour + errors
[cod

[2019-05-11 17:38] PeaStew commented on #168
Please have a look here where @psyraxaus has the solution for you:

https://zen-solutions.io/loading-lets-encrypt-certificate-chain-to-the-trusted-store-on-centos/

[2019-05-11 20:30] psyraxaus commented on #168
please try this
Each step needs to be done even if duplicated
Can you please try running the following as this just worked on the following instance of CentOS 7

`[node@localhost` ~]$ lsb_release -a
LSB Version: :core-4.1-amd64:core-4.1-noarch
Distributor ID: CentOS
Description: CentOS Linux release 7.6.1810 (Core)
Release: 7.6.1810
Codename: Core`

Ensure you have the ca-certificates package inst

[2019-05-12 12:32] tsujp commented on #168
After running these instructions the result is still `"tls_cert_verified": false` for the following release:

[code]

[2019-05-20 15:32] Sto1cNate commented on #167
@cronicc @zennermac

Problem was observed on all my nodes.

[2019-05-20 15:35] tsujp commented on #168
Attempted again as I still had my test machine up. I wiped completely and it worked. Must have been some other setting messing with this or a rogue package of some kind as both times the installation was completely fresh.

[2019-05-20 15:35] #168 closed, assigned to nobody

[2019-06-15 16:38] lsmobile opened #171 "Is there a mock to replace ZEND for unit testing?"
Hi Everyone.

Is there a mock to replace ZEND for unit testing?

Thank you in advance for the answer.
Regards,
Leo S.

[2019-06-18 06:38] cronicc commented on #171
There is no complete mock for zend per se, but extensive unit tests using gtest (including mock functionality) and rpc tests.
See https://github.com/ZencashOfficial/zen/blob/master/qa/zcash/full_test_suite.py and https://github.com/ZencashOfficial/zen/blob/master/doc/unit-tests.md.

[2019-06-18 06:38] #171 closed, assigned to nobody

[2019-06-18 06:54] cronicc opened #172 ""vjoinsplit" output missing in AddressIndexing "zen-cli decoderawtransaction""
In the AddressIndexing/bitcore build of 2.0.17  `"vjoinsplit"` is missing from `zen-cli decoderawtransaction`

expected
[code]

v2.0.17-bitcore
[code]

[2019-06-18 08:57] cronicc opened #173 "Insufficient test coverage of RPC command outputs"
RPC command output is not sufficiently checked by our current RPC tests, otherwise we'd have detected https://github.com/ZencashOfficial/zen/issues/172 earlier.

A RPC test should be added validating each RPC command against expected outputs.

[2019-06-20 15:33] z1617 opened #174 "Mainnet and Testnet block verify failed"
In the testnet, the following block can't be verified, the calculated hash not equal to the `getblock` rpc response `hash`:

[code]

My node info(`getinfo`):

[code]

My verify script:

[code]

Is there any wrong with my code?

Thanks!

Mainnet also has many blocks verify failed, like:

[code]

[2019-06-29 05:43] thewilder opened #175 ""E: Unable to locate package zen""
Hy there.

I'm having an issue regarding the update (2.0.17) on Digital Ocean.
After I try to download it with "sudo apt-get install zen -y", I get the following error:
"E: Unable to locate package zen"

Any help appreciated. Thanks in advance.

Peter
![Untitled](https://user-images.githubusercontent.com/30772343/60380182-1ce39100-9a39-11e9-8e06-6abbb441181b.png)

[2019-07-01 16:18] zennermac commented on #175
Hi there

Have you added the zen repo to your apt sources and obtained and exported the gpg key for the repo?

You can see info on how to do this via looking at steps 5, 6 and 7 in this document from our official wiki.
https://horizenofficial.atlassian.net/wiki/spaces/ZEN/pages/136872094/Part+3+-+Package+Installation+and+Initial+Configuration

[2019-07-03 18:33] cronicc commented on #167
Fixed in https://github.com/ZencashOfficial/zen/pull/170

[2019-07-03 18:33] #167 closed, assigned to nobody

[2019-07-04 11:53] z1617 commented on #174
Ping @cronicc

[2019-07-04 12:39] cronicc commented on #174
@z1617 I think this is because of a bug we had at the time triggered by a pool setting custom values in the `hashReserved` field. In all of those blocks the `hashReserved` field should be != 0, which is why your code arrives at a different hash. You'd have to parse the `hashReserved` data out of the raw block/header as it's not exposed in json output.

For details about the issue see https://githu

[2019-07-04 12:44] z1617 commented on #174
@cronicc, Got it, thanks!

[2019-07-04 12:44] #174 closed, assigned to nobody

[2019-07-04 12:58] cronicc opened #182 "Add `hashReserved` to getblock and getblockheader json output"
Related issues #174 https://github.com/ZencashOfficial/zen_archived/pull/119

[2019-07-13 17:46] gaia opened #183 "Disk Read/Write Specs"
I am fine tuning the filesystem for running zend and would like to know the size at which read/write operations occur.

I gather that most IO demand from zend comes from R/W ops on these files:

blocks/blk000??.dat: block data (custom, 128 MiB per file)
blocks/rev000??.dat; block undo data (custom)

Is this correct? If yes, **what is the ideal disk block size to reduce the IO overhead and increase

[2019-07-16 17:42] cronicc opened #184 "Upgrading libboost from 1.66 to 1.70 breaks shielded transactions in some OpenVZ environments"
In zend 2.0.18 shielded transaction can fail if running in OpenVZ virtualization with
[code]

This PR in boost 1.67 [PR#53](https://github.com/boostorg/uuid/pull/53) changes `boost::uuids::random_generator` used here https://github.com/ZencashOfficial/zen/blob/2aaf4b3bedb6eedd6e8a7a45dbc15b95bf7172b0/src/asyncrpcoperation.cpp#L17 to use OS-provided entropy directly, which is a known issue in OpenV

[2019-07-26 09:50] numanWD commented on #184
Hi @cronicc,
I have currently this issue in my VPS.
The issue has started in the version `2.0.18` and I can't make transactions `z_sendmany` fail and the challenges too.

Do you know possible solutions?

[2019-07-28 18:02] hmatejx commented on #184
I have the same issue on my nodes.

Is there any other workaround than changing my VPS provider?
If I understand correctly, building zen from source using an older libboost would be a potential short-term workaround?

[2019-07-29 20:06] cronicc commented on #184
We've tried installing havaged to increase available entropy in an OpenVZ VM without luck, the hoster would have to install haveged on the host. But this would still not guarantee that it works.

Reverting to libboost 1.66 and building from source would be a workaround, but we will not officially support this.

If you want to give it a try you need to edit boost.mk to look like [this](https://gith

[2019-07-30 11:09] numanWD commented on #184
Thanks cronicc,

I will try to build it using the source code.

About the haveged when you are refering to "Host", is my VPS provider in
the physical server right?

If I install haveged in my VPS do you think could work?
https://www.techrepublic.com/article/how-to-add-more-entropy-to-improve-cryptographic-randomness-on-linux/

Thanks

On Mon, 29 Jul 2019 at 21:06, cronicc <notifications@github.com

[2019-08-11 21:14] hmatejx commented on #184
Hi cronicc, just wanted to tell you your workaround works.

Is there any major security issue accompanied by running on hosts with insufficient entropy?

[2019-08-12 22:56] numanWD commented on #184
Awesome @hmatejx
I was trying to compile it but I got stack with the `berkeley db` depedency ....
Could you share the compile zend and zen-cli??

Thanks

[2019-08-13 17:51] hmatejx commented on #184
Sure, this was built on Ubuntu 16.04 x86_64: [zen-2.0.18-2aaf4b3-dirty-amd64.deb](https://drive.google.com/open?id=1a5kTWDOqPr09z8UvoKQOCMYG0qM_Yznj).

[2019-08-13 23:33] numanWD commented on #184
Works perfect!!!!

Thanks so much

On Tue, 13 Aug 2019, 18:51 hmatejx, <notifications@github.com> wrote:

[2019-08-26 15:54] zhjgit opened #186 "Delete Horizen Secure Node Block Data to Reduce Disk Occupancy"
Horizen security node block data can be deleted, at present my cloud server disk is full, I want to delete some block data, do not know whether it will affect the operation of the security node, there is no feasible solution to reduce disk occupation?

[2019-08-27 16:10] alsala opened #187 "Enforce checkblockatheight height sintax is correct before accepting a tx in mempool"
If a transaction is created  having a vout with a pub script containing a checkblockatheight height not using the minimal encoded script number, the node must not accept it in its mempool, otherwise the related UTXO will be unspendable.

[2019-09-02 15:26] Sto1cNate commented on #186
@zhjgit Unfortunately no. To run a node, you must store a complete copy of the blockchain. You cannot delete any particular block data files.

[2019-09-02 15:32] #175 closed, assigned to nobody

[2019-09-08 05:25] DZFLUX commented on #166
@cronicc  I'd be willing to work on this. Can you explain where we are calling wget from? I don't see anything looking at the Sphere UI for checking for updates to Sphere. thanks
-Chad

[2019-09-30 22:38] DZFLUX commented on #74
Is this still a item we want a noob to look at? Seems kind of old

[2019-09-30 22:41] DZFLUX commented on #84
Is this still something we want worked on? Seems kind of old.

[2019-10-03 09:20] cronicc opened #191 "Zcash oracle security issue"
Referencing https://electriccoin.co/blog/new-release-2-0-7-3/

We are not affected by CVE-2019-16930 as we don't have Sapling deployed yet.

But CVE-2019-17048 needs to be addressed as it applies to both Sprout and Sapling.

[2019-10-03 09:47] #186 closed, assigned to nobody

[2019-10-03 09:52] mauriziobinello commented on #183
Hard to say. We are using LevelDB for block indexing and berkeley db for the wallet, maybe you can investigate!

[2019-10-03 09:52] #183 closed, assigned to nobody

[2019-10-03 10:05] mauriziobinello commented on #140
Sharing of stakes is already possible with multisig addresses.

[2019-10-03 10:05] #140 closed, assigned to nobody

[2019-10-03 10:05] #134 closed, assigned to nobody

[2019-10-03 10:23] mauriziobinello commented on #87
to be revisited at a later time (sidechain?)

[2019-10-03 10:23] #87 closed, assigned to nobody

[2019-10-03 10:40] #83 closed, assigned to nobody

[2019-10-03 10:45] mauriziobinello commented on #82
Expected improvements with Sapling

[2019-10-03 10:45] #82 closed, assigned to nobody

[2019-10-09 10:34] cronicc commented on #191
Fixed in https://github.com/ZencashOfficial/zen/pull/192

[2019-10-09 10:34] #191 closed, assigned to nobody

[2019-10-09 16:34] albertog78 opened #196 "SC merkle root map does not enforce SC id correlation"
https://github.com/ZencashOfficial/zen/blob/e018fa0c21c007f5488b0771ab40bfa431680def/src/primitives/block.cpp#L133

Current way of calculating sidechain related outputs map does not enforce the correlation of the relative sc id to the merkle root of the sc outputs specific to that sidechain. Eg:
[code]
Current hash reserved calculation:
[code]
Hash reserved does not enforce that MR2 belongs to SC2

[2019-10-20 16:11] hmatejx commented on #184
New workaround build for 2.0.19: [zen-2.0.19-7827af0-dirty-amd64.deb](https://drive.google.com/open?id=1-5UVZltLG699vknCMfY8dCpkgOGpdaEk)

[2019-10-23 15:28] numanWD commented on #184
Legend!!!!

Thanks so much ;)

On Sun, 20 Oct 2019, 18:11 hmatejx, <notifications@github.com> wrote:

[2019-11-12 20:56] cronicc opened #204 "Pull in https://github.com/zcash/zcash/pull/4216 before next windows binary release"
[code]

[2019-11-22 19:58] cronicc opened #206 "Add -debug category for ForkTips related debug messages"
Adding a debug category for ForkTips related log lines would enable us to filter these messages out, as they currently produce a lot of output.

Here are the current categories:
[code]

[2020-01-08 17:46] albertog78 opened #213 "Avoid ScInfoMap full copy in ScCoinsViewCache instantiation"
Current implementation of ScCoinsViewCache (https://github.com/ZencashOfficial/zen/blob/8c0712b2825152554cb6a125408b87172716e3da/src/sc/sidechain.cpp#L515) is copying the full data of ScInfoMap.
To avoid this we should adopt an approach similar to CCoinsViewCache and CCoinsViewBacked which are keeping in memory just the "delta" operations and querying the original base in case of not having the el

[2020-01-13 14:42] albertog78 opened #214 "CTxMempool::check changes related to sidechains"
Modify CTxMempool::check to fail if mempool contains a tx that:
 - sends coins to a sc not present in state and not newly declared in another mempool tx (current implementation ignore this and keep such invalid FT tx in mempool)
 - spends coins created by a certificate that is present in the mempool (spending certificates BT in the same mainchain block is not allowed. we must remove from mempool s

[2020-01-13 17:18] albertog78 opened #215 "Allow transactions in mempool sending coins via FT to sidechains declared in a tx that is still inside the mempool"
Introduce the possibility to insert in mempool a tx containing a FT sending coins to a SC created by another Tx still in the mempool (this seems to become necessary taking in consideration for example situations where multiple blocks get reverted and for example the first was containing the declaration and the last one the FT. If all of them get reverted both txs must go in the mempool).
To allow

[2020-01-13 18:06] albertog78 opened #216 "Removal of SC conflicting transactions from mempool on ConnectTip"
In CTxMemPool::removeForBlock (called by ConnectTip) we must remove also conflicting transactions from a SC point of view (eg. added block contains a tx declaring a scid already declared by a tx contained in mempool)

[2020-01-14 16:13] abi87 opened #217 "Undocumented dependency for Regression tests"
Hello,
I tried to run the test qa/rpc-tests/prioritisetransaction.py on Ubuntu 18.04.3 LTS with Python 2.7.17 and the test fails.

The stack trace indicates a dependency is missing, namely pyblake2. Here you are the stack trace
=== Running testscript prioritisetransaction.py ===
Traceback (most recent call last):
  File "/home/abenegia/Work/zen_ut_sc/qa/rpc-tests/prioritisetransaction.py", line 9,

[2020-01-14 16:23] cronicc commented on #217
Yes, this belongs in README.md.

[2020-01-14 17:24] abi87 commented on #217
Thank you @cronicc . I kept testing and realized there is a similar issue with pyzmq module, which is a undeclared dependency for qa/rpc-tests/zmq_test.py

Sorry if I missed this before.

[2020-01-15 10:01] abi87 commented on #213
I believe the issue as described above has been solved in branch sc_undo_code_unit_test , commit 457808852aa77f600bae9b576a1453d5baae56e4
I am going to track the work required to coalesce the class hierarchies of  ScCoinsViewCache  with CCoinsViewCache and other related into issue https://github.com/ZencashOfficial/zen/issues/215
@albertog78 if you agree with this choice, you can close the current

[2020-01-17 06:52] egyptianbman opened #219 "table/table_builder.cc crash"
### Describe the issue
My node keeps crashing

### Can you reliably reproduce the issue?
This is only one of several nodes and it's the only one that keeps crashing -- consistently.

### Expected behaviour
No crash

### Actual behaviour + errors
Node starts up and syncs to block height=657053 then crashes with:
[code]

### The version of Zen you were using:
Zen Daemon version v2.0.19-1

### Machin

[2020-01-17 06:57] egyptianbman commented on #219
I rsynced the chain from another node to replace the one that was crashing and the node was able to start up properly.

[2020-02-10 13:52] #204 closed, assigned to cronicc

[2020-02-10 13:52] #217 closed, assigned to cronicc

[2020-02-11 19:55] cronicc opened #230 "Update copyright year to 2020"
Waiting with this until after sidechains beta, this would cause many merge conflicts otherwise.

[2020-02-11 19:57] cronicc commented on #172
Addressed in https://github.com/ZencashOfficial/zen/pull/212

[2020-02-11 19:57] #172 closed, assigned to nobody

[2020-02-11 19:58] cronicc commented on #108
Addressed in https://github.com/ZencashOfficial/zen/pull/211

[2020-02-11 19:58] #108 closed, assigned to nobody

[2020-02-11 19:59] cronicc commented on #95
Addressed in https://github.com/ZencashOfficial/zen/pull/210

[2020-02-11 19:59] #95 closed, assigned to nobody

[2020-03-02 11:39] albertog78 opened #232 "Certificate submission fees"
Certificate submitter must be able to subsidize a sidechain certificate admission by paying fees with his own MC coins. In a standard situation a sidechain in an epoch would have collected the necessary amount of fees to reward both the miner and the certificate submitter. If we assume that certificate submitter will be rewarded in SC after having submitted the certificate in MC, submitter will be

[2020-03-02 14:16] albertog78 opened #233 "Forbid spending zero confirmation backward transfers"
Allow spending backward transfers only after one epoch

[2020-03-26 13:27] cronicc opened #234 "zend stuck in zen::TLSManager::waitFor with 100% CPU usage on shutdown"
On the tracking servers we have to periodically restart the zen nodes that receive challenge z-tx, due to the wallet size getting out of hand, and rotate wallets.
This is mostly an automated process, but from time to time zend fails to exit and is stuck with one thread at 100% CPU usage, requiring manual intervention.

I managed to gather some additional details this time, last debug.log message i

[2020-04-03 08:02] RakibFiha opened #239 "EXCEPTION: St12out_of_range"
### Actual behaviour + errors
The Zend daemon repeatedly restarts with following init message:
[code]

### The version of Zen:
Zen Daemon version v2.0.20
### Machine specs:
- OS name + version: Ubuntu 18.04
- CPU: rockpi 64
- RAM: 4 GB
- Disk size: 64 GB
- Disk Type (HD/SDD): SDD
- Linux kernel version (uname -a): Linux neuxa080048 4.4.154-59-rockchip-g5e70f14 #4 SMP Fri Dec 14 20:55:41 CST 2018 a

[2020-04-07 13:08] cronicc commented on #239
Resolved after a conversation on Discord, issue was a corrupted wallet.dat.

[2020-04-07 13:08] #239 closed, assigned to nobody

[2020-04-07 13:10] cronicc commented on #187
Fixed

[2020-04-07 13:10] #187 closed, assigned to nobody

[2020-04-07 13:10] #184 closed, assigned to nobody

[2020-04-07 13:13] cronicc commented on #86
MVP CI pipeline implemented, further features to be added at a later time.

[2020-04-07 13:13] #86 closed, assigned to nobody

[2020-04-07 13:14] cronicc commented on #84
This is a protocol limitation, no work planned on this for now.

[2020-04-07 13:14] #84 closed, assigned to nobody

[2020-05-18 16:47] albertog78 opened #264 "Backward Transfer P2PKH or P2SH"
In the current implementation backward transfers are interpreted as P2PKH outputs. This implicitly causes a limit in terms of certificate outputs considering that current code limit the number of SigOpCounts per tx (see https://github.com/ZencashOfficial/zen/blob/merge_support_branch/src/main.cpp#L2755).
A possible alternative would be to use P2SH as Backward transfers outputs that should not be c

[2020-05-28 15:23] 95DDB opened #278 "Certificate proof verification in ReadKeyValue function of walletdb"
ReadKeyValue function in walletdb.cpp can't verify the SNARK proof attached to a withdrawal certificate because it misses all the logic to retrieve the required sc info information.
We should introduce this.

[2020-06-08 10:04] albertog78 opened #292 "Verify correctness of SC VK and Proof"
When accepting a sc creation, verify that vk is correct (points on curve and not zero). Do the same for proof when accepting a certificate.

[2020-06-09 12:15] cronicc opened #295 "Publish new external crate dependencies on our DL mirror"
https://github.com/ZencashOfficial/zen/blob/070d41e579b3260fe95272b9b55b0f2e4f812f9c/depends/packages/packages.mk#L40-L79

https://github.com/ZencashOfficial/zen/pull/284/files#r436604556

[2020-06-12 20:01] 95DDB opened #308 "Test SidechainTestSuite.CSidechainBlockUndoVersioning failing in Windows build"
The issue seems related to deserialization happening here:

`
filein >> b1;
filein >> h1;
filein >> b2;
filein >> h2;
`

[2020-06-13 13:13] cronicc opened #309 "Review compiler flags of all added components for SC beta"
To follow security best practices, we should make sure we have proper compiler flags set for all external and internal components added for SC beta.

This includes but is not limited to `-Wstack-protector -fstack-protector-all`.

[2020-06-13 17:52] cronicc opened #311 "Fork 7 SC fork tests need to be added to ./src/gtest/test_forkmanager.cpp"

[2020-06-14 09:26] cronicc opened #314 "Add src/zendoo/mcTest to .gitignore"

[2020-06-15 10:27] cronicc commented on #295
All dependencies available through https://downloads.horizen.global/

[2020-06-15 10:27] #295 closed, assigned to cronicc

[2020-06-16 12:21] cronicc opened #316 "Remove Building section from README.md"
https://github.com/ZencashOfficial/zen#building was mistakenly left in README.md after we added new build instructions.

[2020-06-24 09:21] #233 closed, assigned to abi87, alsala

[2020-06-24 09:22] #232 closed, assigned to abi87, alsala

[2020-06-24 09:22] #216 closed, assigned to abi87, alsala

[2020-06-24 09:23] #215 closed, assigned to abi87, alsala

[2020-06-24 09:23] #214 closed, assigned to abi87, alsala

[2020-06-24 09:24] #213 closed, assigned to abi87, alsala

[2020-06-24 09:24] #196 closed, assigned to i-Alex, alsala

[2020-07-06 07:49] 95DDB commented on #292
Moved to https://github.com/ZencashOfficial/zend_oo/issues/24

[2020-07-06 07:49] #292 closed, assigned to DanieleDiBenedetto

[2020-07-09 15:56] PowerVANO commented on #166
I will take this one, I think. There are several ways to do these things through PowerShell but I will try to make things backwards-compatible for older OS versions as well.

[2020-07-13 21:35] PowerVANO commented on #166
@cronicc here are codes for modified files.

Removed **wget.exe** as it is no longer needed.

Edited **setup_zend.bat**:

[code]

Here we need "set COMPLUS_version=v4.0.30319" for forcing PowerShell to use .NET 4 runtime on Windows 7 where PowerShell version is 2.0 and uses .NET 2 by default which supports only SSL 3.0 and TLS 1.0.

We also specifically need .NET 4 runtime imported in PowerShell t

[2020-07-21 13:07] cronicc commented on #166
Already looking very good @PowerVANO

A couple of change requests:
1. Move the directory checks/creation from the batchfile to the powershell script, the only thing the bat should do is execute the ps1
2. Follow the program flow as in fetch-params.sh
    - Save downloaded file with `.dl` extension
    - Check checksums of `.dl` file, rename to final filename without `.dl` extension if check passes

[2020-07-24 12:28] cronicc commented on #314
Done

[2020-07-24 12:28] #314 closed, assigned to nobody

[2020-07-27 06:12] #316 closed, assigned to cronicc

[2020-08-01 21:30] fellu opened #322 "Not compiling with gcc 10"
In file included from crypto/equihash.cpp:20:
./crypto/equihash.h: In function ‘bool EhBasicSolve(unsigned int, unsigned int, const eh_HashState&, std::function<bool(std::vector)>, std::function<bool(EhSolverCancelCheck)>)’:
./crypto/equihash.h:230:20: error: ‘invalid_argument’ is not a member of ‘std’
230 | throw std::invalid_argument("Unsupported Equihash parameters");
| ^~~~~~~~~~~~~~~~
./crypt

[2020-08-03 18:36] #264 closed, assigned to abi87, alsala

[2020-08-03 18:42] #278 closed, assigned to abi87, alsala, DanieleDiBenedetto

[2020-08-03 18:45] #308 closed, assigned to abi87, alsala

[2020-08-03 18:47] #309 closed, assigned to nobody

[2020-08-03 18:48] #311 closed, assigned to abi87, alsala

[2020-08-07 21:58] PowerVANO commented on #166
@cronicc please have a final look until I create a pull request.

**setup_zend.bat** - Only executes the **fetch-params.ps1** and redirects the output to **log.txt**

[code]

**fetch-params.ps1** now behaves like fetch-params.sh

[code]